Repository SFML/SFML, pull requests merged in 2018-07, with the labels that each got.

#1450 Fixed performance issue with reading WAV files
  src/SFML/Audio/SoundFileReaderWav.cpp
Labels: bug, m:sfml-audio, s:accepted

#1437 Fixed the Unix clipboard implementation causing an abort due to internal data races in Xlib.
  include/SFML/Window/Clipboard.hpp
  src/SFML/Window/Unix/ClipboardImpl.cpp
  src/SFML/Window/Unix/ClipboardImpl.hpp
  src/SFML/Window/Unix/WindowImplX11.cpp
Labels: bug, m:sfml-window, p:linux, s:accepted

#1460 ANativeActivity_onCreate is not exported in sfml-main (fixes #1457)
  src/SFML/Main/MainAndroid.cpp
Labels: bug, m:config, p:android, s:accepted
