Repository SFML/SFML, pull requests merged in 2018-08, with the labels that each got.

#1461 Squash duplicated sf::Font glyphs to single chars
  src/SFML/Graphics/Font.cpp
Labels: bug, m:sfml-graphics, s:accepted

#1459 Reduced context locking & unlocking while creating textures
  src/SFML/Graphics/Texture.cpp
Labels: bug, m:sfml-graphics, s:accepted

#1470 Fix audio components linking order
  cmake/SFMLConfigDependencies.cmake.in
Labels: bug, m:config, m:sfml-audio, s:accepted

#1479 Removed incompatible cmake/catch functionality, replaced with standard cmake
  cmake/Catch.cmake
  cmake/CatchAddTests.cmake
  test/CMakeLists.txt
Labels: feature, m:unittest, s:accepted

#1486 Remove reference to unused CMAKE_OSX_DEPLOYMENT_TARGET in cocoa example
  examples/cocoa/CMakeLists.txt
Labels: bug, m:config, p:osx, s:accepted
