Repository SFML/SFML, pull requests merged in 2018-04, with the labels that each got.

#1390 Fixed OpenGL version string being parsed incorrectly on some platforms
  src/SFML/Window/GlContext.cpp
Labels: bug, m:sfml-window, s:accepted

#1363 Added joystick example.
  examples/CMakeLists.txt
  examples/joystick/CMakeLists.txt
  examples/joystick/Joystick.cpp
  examples/joystick/resources/sansation.ttf
Labels: feature, m:sfml-window, s:accepted

#1352 Added example demonstrating sf::VertexBuffer, sf::Shader and sf::Thread usage
  examples/CMakeLists.txt
  examples/island/CMakeLists.txt
  examples/island/Island.cpp
  examples/island/resources/sansation.ttf
  examples/island/resources/terrain.frag
  examples/island/resources/terrain.vert
  examples/island/stb_perlin.h
Labels: feature, s:accepted

#1407 Changed TCP listen backlog from 0 to SOMAXCONN
  src/SFML/Network/TcpListener.cpp
Labels: bug, m:sfml-network, s:accepted

#1379 Optimized RenderTexture performance
  include/SFML/Graphics/RenderTarget.hpp
  include/SFML/Window/Context.hpp
  include/SFML/Window/GlResource.hpp
  src/SFML/Graphics/RenderTarget.cpp
  src/SFML/Graphics/RenderTexture.cpp
  src/SFML/Graphics/RenderTextureImplFBO.cpp
  src/SFML/Graphics/RenderTextureImplFBO.hpp
  src/SFML/Graphics/RenderWindow.cpp
  src/SFML/Window/Context.cpp
  src/SFML/Window/EglContext.cpp
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/GlContext.hpp
  src/SFML/Window/GlResource.cpp
  src/SFML/Window/OSX/SFContext.mm
  src/SFML/Window/Unix/GlxContext.cpp
  src/SFML/Window/Win32/WglContext.cpp
  src/SFML/Window/iOS/EaglContext.mm
Labels: feature, m:sfml-graphics, m:sfml-window

#1365 Examples: Set startup folder for debugging in Visual Studio
  cmake/Macros.cmake
Labels: feature, m:config, p:windows, s:accepted

#1420 Android: Removed libsndfile from extlib build scripts
  tools/android/compile_libs.sh
  tools/android/download_sources.sh
Labels: bug, p:android, s:accepted

#1421 Make Windows joystick updating more tolerant of certain system setups
  src/SFML/Window/Win32/JoystickImpl.cpp
  src/SFML/Window/Win32/WindowImplWin32.cpp
Labels: bug, m:sfml-window, p:windows, s:accepted

#1403 Added GitHub issue and PR templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: feature, m:doc, s:accepted
