Repository SFML/SFML, pull requests merged in 2018-10, with the labels that each got.

#1487 Ensure the proper default framebuffer is bound when activating a Rend…
  include/SFML/Graphics/RenderWindow.hpp
  src/SFML/Graphics/RenderWindow.cpp
Labels: bug, m:sfml-graphics, p:ios, s:accepted

#1493 Updated changelog and version for the 2.5.1 release
  CMakeLists.txt
  changelog.md
  include/SFML/Config.hpp
Labels: feature, m:config, s:accepted

#1443 Allow re-creation of the shared context as a core context
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/Win32/WglContext.cpp
Labels: feature, m:sfml-window, s:accepted
