Repository SFML/SFML, pull requests merged in 2018-03, with the labels that each got.

#1331 Fixed small joystick movement getting lost due to the set axes threshold
  src/SFML/Window/WindowImpl.cpp
  src/SFML/Window/WindowImpl.hpp
Labels: bug, m:sfml-window

#1395 Renamed a few key codes
  examples/opengl/OpenGL.cpp
  include/SFML/Window/Keyboard.hpp
  src/SFML/Window/Android/WindowImplAndroid.cpp
  src/SFML/Window/OSX/HIDInputManager.mm
  src/SFML/Window/Unix/InputImpl.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Win32/InputImpl.cpp
  src/SFML/Window/Win32/WindowImplWin32.cpp
Labels: feature, m:sfml-window, s:accepted

#1285 sf::RenderTexture stencil and multisampling support
  include/SFML/Graphics/RenderTexture.hpp
  src/SFML/Graphics/GLExtensions.hpp
  src/SFML/Graphics/GLExtensions.txt
  src/SFML/Graphics/GLLoader.cpp
  src/SFML/Graphics/GLLoader.hpp
  src/SFML/Graphics/RenderTexture.cpp
  src/SFML/Graphics/RenderTextureImpl.hpp
  src/SFML/Graphics/RenderTextureImplDefault.cpp
  src/SFML/Graphics/RenderTextureImplDefault.hpp
  src/SFML/Graphics/RenderTextureImplFBO.cpp
  src/SFML/Graphics/RenderTextureImplFBO.hpp
Labels: feature, m:sfml-graphics, s:accepted

#1396 Fixed strict aliasing punning warning when generating the key of a glyph in Font.cpp
  src/SFML/Graphics/Font.cpp
Labels: bug, m:sfml-graphics, s:accepted

#1384 Update Xcode templates
  tools/xcode/templates/SFML/SFML Compiler.xctemplate/TemplateInfo.plist.in
  tools/xcode/templates/readme.txt
Labels: feature, m:config, p:osx, s:accepted
