Repository SFML/SFML, pull requests merged in 2018-05, with the labels that each got.

#1429 Added missing import for memcpy in MainAndroid
  src/SFML/Main/MainAndroid.cpp
Labels: bug, m:config, p:android, s:accepted

#1427 Updated the changelog for SFML 2.5
  changelog.md
Labels: feature, m:doc, s:undecided

#1432 Updated version number to SFML 2.5.0
  CMakeLists.txt
  include/SFML/Config.hpp
Labels: feature, m:config, s:accepted

#1438 Postpone generation of the RenderTarget ID to RenderTarget::initialize()
  src/SFML/Graphics/RenderTarget.cpp
Labels: bug, m:sfml-graphics, s:accepted

#1440 Fixed RenderTextureImplFBO's destructor
  src/SFML/Graphics/RenderTextureImplFBO.cpp
Labels: bug, m:sfml-graphics, s:accepted

#1442 Fix RenderWindow::setActive incorrectly trying to unbind an FBO during deactivation
  src/SFML/Graphics/RenderWindow.cpp
Labels: bug, m:sfml-graphics, s:accepted
