Repository SFML/SFML, pull requests merged in 2019-01, with the labels that each got.

#1531 Make sure setActive(false) is called before the surface is destroyed in EglContext.
  src/SFML/Window/EglContext.cpp
Labels: bug, m:sfml-window, p:android, s:accepted

#1534 Fixed EGL incorrectly being passed the anti-aliasing level as EGL_SAMPLE_BUFFERS instead of EGL_SAMPLES.
  src/SFML/Window/EglContext.cpp
Labels: bug, m:sfml-window, p:android, s:accepted

#1484 Allow creation of a window without an OpenGL context
  examples/X11/X11.cpp
  examples/win32/Win32.cpp
  include/SFML/Window/Cursor.hpp
  include/SFML/Window/Mouse.hpp
  include/SFML/Window/Touch.hpp
  include/SFML/Window/Window.hpp
  include/SFML/Window/WindowBase.hpp
  src/SFML/Graphics/RenderWindow.cpp
  src/SFML/Window/Android/InputImpl.cpp
  src/SFML/Window/Android/InputImpl.hpp
  src/SFML/Window/CMakeLists.txt
  src/SFML/Window/Mouse.cpp
  src/SFML/Window/OSX/InputImpl.hpp
  src/SFML/Window/OSX/InputImpl.mm
  src/SFML/Window/Touch.cpp
  src/SFML/Window/Unix/InputImpl.cpp
  src/SFML/Window/Unix/InputImpl.hpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Win32/InputImpl.cpp
  src/SFML/Window/Win32/InputImpl.hpp
  src/SFML/Window/Window.cpp
  src/SFML/Window/WindowBase.cpp
  src/SFML/Window/iOS/InputImpl.hpp
  src/SFML/Window/iOS/InputImpl.mm
Labels: feature, m:sfml-window, s:accepted

#1540 Removed old android cmake toolchain
  cmake/toolchains/android.toolchain.cmake
Labels: bug, m:config, p:android, s:accepted

#1544 Fix iOS example bundle names
  examples/assets/Info.plist
Labels: feature, m:config, p:ios, s:accepted

#1543 Fix OpenGL extensions not loading
  src/SFML/Window/GlContext.cpp
Labels: bug, m:sfml-window, s:accepted

#1548 Fix travis android build to use NDK version r18b
  .travis.yml
Labels: bug, m:config, p:android, s:accepted
