Repository SFML/SFML, pull requests merged in 2019-09, with the labels that each got.

#1610 Initialise m_context correctly in SFContext constructors
  src/SFML/Window/OSX/SFContext.mm
Labels: bug, m:sfml-window, p:osx, s:accepted

#1584 Remove VBO implementations from drawables
  include/SFML/Graphics/Shape.hpp
  include/SFML/Graphics/Sprite.hpp
  include/SFML/Graphics/Text.hpp
  src/SFML/Graphics/Shape.cpp
  src/SFML/Graphics/Sprite.cpp
  src/SFML/Graphics/Text.cpp
Labels: bug, m:sfml-graphics, s:accepted

#1576 Use GNUInstallDirs module for cmake install paths
  .travis.yml
  CMakeLists.txt
  cmake/Config.cmake
  cmake/Macros.cmake
  doc/CMakeLists.txt
  tools/pkg-config/sfml-all.pc.in
  tools/pkg-config/sfml-audio.pc.in
  tools/pkg-config/sfml-graphics.pc.in
  tools/pkg-config/sfml-network.pc.in
  tools/pkg-config/sfml-system.pc.in
  tools/pkg-config/sfml-window.pc.in
Labels: feature, m:config, s:accepted

#1047 Added getPosition() and getSize() to sf::Rect<T>.
  include/SFML/Graphics/Rect.hpp
  include/SFML/Graphics/Rect.inl
Labels: feature, m:sfml-graphics, s:accepted

#1554 Fixed navigation bar not being entirely hidden on Android
  src/SFML/Main/MainAndroid.cpp
Labels: bug, m:sfml-window, p:android, s:accepted

#1609 Remove unnecessary glFlush()
  src/SFML/Graphics/Texture.cpp
Labels: bug, m:sfml-graphics, s:accepted
