Repository SFML/SFML, pull requests merged in 2020-12, with the labels that each got.

#1707 Fix `sf::Music` sometimes failing to loop after seeking
  src/SFML/Audio/InputSoundFile.cpp
Labels: bug, m:sfml-audio, s:accepted

#1669 Implemented saveToMemory and saveImageToMemory.
  include/SFML/Graphics/Image.hpp
  src/SFML/Graphics/Image.cpp
  src/SFML/Graphics/ImageLoader.cpp
  src/SFML/Graphics/ImageLoader.hpp
Labels: feature, m:sfml-graphics, s:accepted

#1723 NetBSD support proposal.
  CMakeLists.txt
  cmake/Config.cmake
  include/SFML/Config.hpp
  include/SFML/OpenGL.hpp
  include/SFML/Window/WindowHandle.hpp
  src/SFML/Window/CMakeLists.txt
  src/SFML/Window/ClipboardImpl.hpp
  src/SFML/Window/CursorImpl.hpp
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/InputImpl.hpp
  src/SFML/Window/JoystickImpl.hpp
  src/SFML/Window/NetBSD/JoystickImpl.cpp
  src/SFML/Window/NetBSD/JoystickImpl.hpp
  src/SFML/Window/SensorImpl.hpp
  src/SFML/Window/Vulkan.cpp
  src/SFML/Window/WindowImpl.cpp
Labels: feature, m:config, p:linux, s:accepted

#1719 Fixed joystick POV values not being set properly for devices that are…
  src/SFML/Window/Win32/JoystickImpl.cpp
Labels: bug, m:sfml-window, p:windows, s:accepted
