Repository SFML/SFML, pull requests merged in 2020-01, with the labels that each got.

#1630 Force OpenGL states to be reset when RenderTarget detects that a new context has to be tracked.
  src/SFML/Graphics/RenderTarget.cpp
Labels: bug, m:sfml-graphics, s:accepted

#1628 Improve sf::Transform documentation
  include/SFML/Graphics/Transform.hpp
Labels: bug, m:doc, m:sfml-graphics, s:accepted

#1629 Rename FindVorbis -> FindVORBIS, for consistency with exported variab…
  cmake/Modules/FindVORBIS.cmake
  src/SFML/Audio/CMakeLists.txt
Labels: bug, m:config, s:accepted

#1637 SFMLConfigDependencies.cmake.in: Vorbis uppercase (fixes #1636)
  cmake/SFMLConfigDependencies.cmake.in
Labels: bug, m:config, m:sfml-audio, s:accepted
