Repository SFML/SFML, pull requests merged in 2020-09, with the labels that each got.

#1697 replace dead link in Config.hpp file
  include/SFML/Config.hpp
Labels: bug, m:config, s:accepted

#1701 Add Visual Studio 2019 builds to Travis
  .travis.yml
Labels: feature, m:config, s:accepted

#1690 Implement smoothing for fonts
  include/SFML/Graphics/Font.hpp
  src/SFML/Graphics/Font.cpp
Labels: feature, m:sfml-graphics, s:accepted
