Repository SFML/SFML, pull requests merged in 2020-05, with the labels that each got.

#1661 Update travis config for android SDK changes
  .travis.yml
Labels: bug, m:config, p:android, s:accepted

#1658 Added missing documentation about TcpListener::listen and Socket::AnyPort
  include/SFML/Network/TcpListener.hpp
  include/SFML/Network/UdpSocket.hpp
Labels: bug, m:doc, m:sfml-network, s:accepted

#1665 Remove link in documentation main page
  doc/mainpage.hpp
Labels: bug, m:doc, s:accepted
