Repository SFML/SFML, pull requests merged in 2021-04, with the labels that each got.

#1776 Add missing semicolon in doc example
  include/SFML/Audio/SoundStream.hpp
Labels: bug, m:doc, m:sfml-audio, s:accepted

#1779 windows: add resource.rc files to dll builds
  cmake/Macros.cmake
  tools/windows/resource.rc.in
Labels: feature, m:config, p:windows, s:accepted

#1782 Fix ordering of 'sf::Font' members in 'Font.cpp'
  src/SFML/Graphics/Font.cpp
Labels: bug, m:sfml-graphics, s:accepted

#1736 Fix potential crash when changing cursor - don't release the NSCursor object if it's already been released
  src/SFML/Window/OSX/CursorImpl.mm
Labels: bug, m:sfml-window, p:macos, s:accepted

#1781 Fix incorrect standard includes in 'InputSoundFile'
  include/SFML/Audio/InputSoundFile.hpp
  src/SFML/Audio/InputSoundFile.cpp
  src/SFML/Audio/Music.cpp
Labels: bug, m:sfml-audio, s:accepted

#1789 Fixed regression introduced in 4fcef89 causing EXT_texture_edge_clamp support to not be considered
  src/SFML/Graphics/GLExtensions.hpp
  src/SFML/Graphics/Texture.cpp
  src/SFML/Window/Win32/WglContext.cpp
Labels: bug, m:sfml-graphics, m:sfml-window, s:accepted

#1771 Fix overflow when using sf::Clock for long time
  src/SFML/System/Win32/ClockImpl.cpp
Labels: bug, m:sfml-system, p:windows, s:accepted

#1794 Fix `sf::Context::getActiveContext` to stop returning inactive contexts
  src/SFML/Window/Context.cpp
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/GlContext.hpp
Labels: bug, m:sfml-window, s:accepted

#1580 Fixed SIGSEGV after pressing back button on Android
  src/SFML/Window/Android/WindowImplAndroid.cpp
Labels: bug, m:sfml-window, p:android, s:accepted

#1790 Fix OpenGL context on Android
  src/SFML/Main/MainAndroid.cpp
Labels: bug, m:sfml-window, p:android, s:accepted
