Repository SFML/SFML, pull requests merged in 2021-11, with the labels that each got.

#1843 Use correct rpath value for dependencies
  extlibs/libs-osx/Frameworks/FLAC.framework/Versions/A/FLAC
  extlibs/libs-osx/Frameworks/OpenAL.framework/Versions/A/OpenAL
  extlibs/libs-osx/Frameworks/freetype.framework/Versions/A/freetype
  extlibs/libs-osx/Frameworks/ogg.framework/Versions/A/ogg
  extlibs/libs-osx/Frameworks/vorbis.framework/Versions/A/vorbis
  extlibs/libs-osx/Frameworks/vorbisenc.framework/Versions/A/vorbisenc
  extlibs/libs-osx/Frameworks/vorbisfile.framework/Versions/A/vorbisfile
Labels: bug, p:macos, s:accepted, m:config

#1817 Idea to improve high DPI handling on OS X
  src/SFML/Window/OSX/SFOpenGLView.h
  src/SFML/Window/OSX/SFOpenGLView.mm
  src/SFML/Window/OSX/SFWindowController.h
  src/SFML/Window/OSX/SFWindowController.mm
  src/SFML/Window/OSX/WindowImplCocoa.mm
Labels: feature, m:sfml-window, p:macos, s:accepted

#1848 Fix useless temporary `sf::Lock`
  src/SFML/System/Android/ResourceStream.cpp
Labels: bug, m:sfml-system, s:accepted, p:android

#1849 Remove some include directives for unused headers
  examples/X11/X11.cpp
  include/SFML/Graphics/Font.hpp
  src/SFML/Graphics/RenderTextureImplDefault.cpp
  src/SFML/Graphics/Shape.cpp
  src/SFML/Window/FreeBSD/JoystickImpl.cpp
  src/SFML/Window/JoystickImpl.hpp
  src/SFML/Window/NetBSD/JoystickImpl.cpp
  src/SFML/Window/Unix/InputImpl.cpp
  src/SFML/Window/Win32/JoystickImpl.hpp
Labels: bug, s:accepted, m:config

#1845 Simplify management of `ActivityStates`
  src/SFML/Main/MainAndroid.cpp
  src/SFML/System/Android/Activity.cpp
  src/SFML/System/Android/Activity.hpp
  src/SFML/System/Android/NativeActivity.cpp
  src/SFML/System/Android/ResourceStream.cpp
  src/SFML/Window/Android/InputImpl.cpp
  src/SFML/Window/Android/VideoModeImpl.cpp
  src/SFML/Window/Android/WindowImplAndroid.cpp
  src/SFML/Window/Android/WindowImplAndroid.hpp
  src/SFML/Window/EglContext.cpp
Labels: feature, m:sfml-system, s:accepted, p:android

#1853 Add missing comment
  src/SFML/Window/Win32/WindowImplWin32.cpp
Labels: bug, s:accepted, m:doc, p:windows
