Repository SFML/SFML, pull requests merged in 2021-12, with the labels that each got.

#1852 Update to make compilation possible of 2.4.x on Arch.
  src/SFML/Window/Unix/GlxContext.cpp
  src/SFML/Window/Unix/GlxExtensions.hpp
Labels: bug, m:sfml-window, p:linux

#1854 Update SFML version to 3.0.0
  CMakeLists.txt
  cmake/SFMLConfig.cmake.in
  include/SFML/Config.hpp
  readme.md
Labels: feature, s:accepted, m:config

#1855 Enable and require C++17 support
  CMakeLists.txt
  cmake/Macros.cmake
Labels: feature, s:accepted, m:config

#1860 Use emplacement operations to avoid unnecessary copies/moves
  src/SFML/Graphics/Font.cpp
  src/SFML/Graphics/RenderTextureImplFBO.cpp
  src/SFML/Graphics/Shader.cpp
  src/SFML/Window/Android/VideoModeImpl.cpp
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/iOS/VideoModeImpl.mm
Labels: feature, s:accepted

#1858 Remove 'SFML_DEPRECATED' and replace internal usages with '[[deprecated]]'
  doc/doxyfile.in
  include/SFML/Config.hpp
  include/SFML/Graphics/RenderTexture.hpp
  include/SFML/Graphics/RenderWindow.hpp
  include/SFML/Graphics/Shader.hpp
  include/SFML/Graphics/Text.hpp
Labels: feature, s:accepted, m:config

#1859 Use '[[fallthrough]]' attribute and enable relevant warning
  cmake/CompilerWarnings.cmake
  include/SFML/System/Utf.inl
Labels: feature, s:accepted

#1856 Use list-initialization to zero-initialize 'JoystickImpl.hpp' structures
  src/SFML/Window/JoystickImpl.hpp
Labels: feature, m:sfml-window, s:accepted

#1869 Delegate 'WglContext(WglContext*)' constructor to more general one
  src/SFML/Window/Win32/WglContext.cpp
Labels: feature

#1871 Fix wrong cast in sf::Packet
  src/SFML/Network/Packet.cpp
  test/CMakeLists.txt
  test/src/Network/Packet.cpp
Labels: bug, m:sfml-network, s:accepted

#1870 Fix regression in copyToImage
  src/SFML/Graphics/Texture.cpp
Labels: bug, m:sfml-graphics, s:accepted

#1862 Change associative containers to their respective 'unordered' version
  examples/joystick/Joystick.cpp
  include/SFML/Audio/SoundBuffer.hpp
  include/SFML/Graphics/Font.hpp
  include/SFML/Graphics/Shader.hpp
  include/SFML/Network/Http.hpp
  src/SFML/Graphics/RenderTarget.cpp
  src/SFML/Graphics/RenderTextureImplFBO.cpp
  src/SFML/Graphics/RenderTextureImplFBO.hpp
  src/SFML/System/Android/Activity.hpp
  src/SFML/Window/FreeBSD/JoystickImpl.cpp
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/NetBSD/JoystickImpl.cpp
  src/SFML/Window/OSX/JoystickImpl.hpp
  src/SFML/Window/Unix/Display.cpp
Labels: feature, s:accepted

#1868 Let CMake autodetect Apple arch on M1 processor
  CMakeLists.txt
Labels: bug, p:macos, s:accepted, m:config

#1873 Fix Vulkan example exceptions
  examples/vulkan/Vulkan.cpp
Labels: bug, s:accepted, m:example

#1851 MP3 reader support using minimp3
  CMakeLists.txt
  examples/asset_licenses.md
  examples/sound/Sound.cpp
  examples/sound/resources/ding.mp3
  extlibs/headers/minimp3/minimp3.h
  extlibs/headers/minimp3/minimp3_ex.h
  include/SFML/Audio/InputSoundFile.hpp
  license.md
  src/SFML/Audio/CMakeLists.txt
  src/SFML/Audio/SoundFileFactory.cpp
  src/SFML/Audio/SoundFileReaderMp3.cpp
  src/SFML/Audio/SoundFileReaderMp3.hpp
Labels: feature, m:sfml-audio, s:accepted

#1865 Use 'auto', range-'for', and structured bindings to improve some loops
  examples/ftp/Ftp.cpp
  examples/joystick/Joystick.cpp
  include/SFML/Audio/SoundFileFactory.inl
  include/SFML/Network/SocketSelector.hpp
  src/SFML/Audio/SoundBuffer.cpp
  src/SFML/Audio/SoundFileFactory.cpp
  src/SFML/Graphics/Font.cpp
  src/SFML/Graphics/Image.cpp
  src/SFML/Graphics/ImageLoader.cpp
  src/SFML/Graphics/RenderTarget.cpp
  src/SFML/Graphics/RenderTextureImplFBO.cpp
  src/SFML/Graphics/Shader.cpp
  src/SFML/Network/Http.cpp
  src/SFML/Network/Packet.cpp
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/OSX/HIDInputManager.mm
  src/SFML/Window/OSX/JoystickImpl.cpp
  src/SFML/Window/Unix/Display.cpp
  src/SFML/Window/Unix/JoystickImpl.cpp
  src/SFML/Window/Unix/VulkanImplX11.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Win32/JoystickImpl.cpp
  src/SFML/Window/Win32/VulkanImplWin32.cpp
Labels: feature, s:accepted

#1875 Use std::vector.data() where appropriate
  examples/island/Island.cpp
  examples/voip/Server.cpp
  examples/vulkan/Vulkan.cpp
  src/SFML/Audio/Music.cpp
  src/SFML/Audio/SoundBuffer.cpp
  src/SFML/Audio/SoundBufferRecorder.cpp
  src/SFML/Audio/SoundFileWriterFlac.cpp
  src/SFML/Audio/SoundRecorder.cpp
  src/SFML/Graphics/Font.cpp
  src/SFML/Graphics/Image.cpp
  src/SFML/Graphics/ImageLoader.cpp
  src/SFML/Graphics/Shader.cpp
  src/SFML/Graphics/Texture.cpp
  src/SFML/Graphics/VertexArray.cpp
  src/SFML/Network/Packet.cpp
  src/SFML/Network/TcpSocket.cpp
  src/SFML/Network/UdpSocket.cpp
  src/SFML/Window/FreeBSD/JoystickImpl.cpp
  src/SFML/Window/NetBSD/JoystickImpl.cpp
  src/SFML/Window/OSX/JoystickImpl.cpp
  src/SFML/Window/OSX/SFContext.mm
  src/SFML/Window/Unix/ClipboardImpl.cpp
  src/SFML/Window/Unix/CursorImpl.cpp
  src/SFML/Window/Unix/GlxContext.cpp
  src/SFML/Window/Unix/VulkanImplX11.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Win32/VulkanImplWin32.cpp
  src/SFML/Window/Win32/WglContext.cpp
  src/SFML/Window/Win32/WindowImplWin32.cpp
Labels: feature, s:accepted

#1877 Use alias declarations instead of 'typedef'
  cmake/CompilerWarnings.cmake
  examples/joystick/Joystick.cpp
  examples/vulkan/Vulkan.cpp
  include/SFML/Audio/Music.hpp
  include/SFML/Audio/SoundBuffer.hpp
  include/SFML/Audio/SoundFileFactory.hpp
  include/SFML/Config.hpp
  include/SFML/Graphics/Font.hpp
  include/SFML/Graphics/Glsl.hpp
  include/SFML/Graphics/Rect.hpp
  include/SFML/Graphics/Shader.hpp
  include/SFML/Network/Http.hpp
  include/SFML/Network/Packet.hpp
  include/SFML/Network/SocketHandle.hpp
  include/SFML/System/String.hpp
  include/SFML/System/Utf.hpp
  include/SFML/System/Vector2.hpp
  include/SFML/System/Vector3.hpp
  include/SFML/Window/Context.hpp
  include/SFML/Window/GlResource.hpp
  include/SFML/Window/Vulkan.hpp
  include/SFML/Window/WindowBase.hpp
  include/SFML/Window/WindowHandle.hpp
  src/SFML/Graphics/RenderTarget.cpp
  src/SFML/Main/SFMLActivity.cpp
  src/SFML/Network/Unix/SocketImpl.hpp
  src/SFML/Network/Win32/SocketImpl.hpp
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/OSX/AutoreleasePoolWrapper.hpp
  src/SFML/Window/OSX/CursorImpl.hpp
  src/SFML/Window/OSX/HIDInputManager.hpp
  src/SFML/Window/OSX/JoystickImpl.hpp
  src/SFML/Window/OSX/SFContext.hpp
  src/SFML/Window/OSX/WindowImplCocoa.hpp
  src/SFML/Window/Unix/Display.cpp
  src/SFML/Window/Unix/JoystickImpl.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Vulkan.cpp
  src/SFML/Window/Win32/JoystickImpl.cpp
  src/SFML/Window/Win32/WindowImplWin32.cpp
  src/SFML/Window/WindowImpl.cpp
Labels: feature, s:accepted

#1879 Minor modernization changes: 'nullptr', range-based 'for' loops, etc...
  examples/island/Island.cpp
  examples/shader/Shader.cpp
  examples/vulkan/Vulkan.cpp
  examples/win32/Win32.cpp
  include/SFML/Window/Vulkan.hpp
  include/SFML/Window/WindowBase.hpp
  src/SFML/Audio/SoundRecorder.cpp
  src/SFML/Audio/SoundStream.cpp
  src/SFML/Graphics/Font.cpp
  src/SFML/Graphics/RenderTextureImplDefault.cpp
  src/SFML/Graphics/RenderTextureImplFBO.cpp
  src/SFML/Graphics/Shader.cpp
  src/SFML/Graphics/VertexBuffer.cpp
  src/SFML/Network/Ftp.cpp
  src/SFML/Network/Packet.cpp
  src/SFML/Network/Unix/SocketImpl.cpp
  src/SFML/System/Unix/ClockImpl.cpp
  src/SFML/System/Unix/SleepImpl.cpp
  src/SFML/Window/Cursor.cpp
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/JoystickManager.cpp
  src/SFML/Window/SensorManager.cpp
  src/SFML/Window/Unix/JoystickImpl.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Win32/JoystickImpl.cpp
  src/SFML/Window/Win32/VulkanImplWin32.cpp
  src/SFML/Window/Win32/WglContext.cpp
  src/SFML/Window/Win32/WindowImplWin32.cpp
  src/SFML/Window/WindowBase.cpp
  src/SFML/Window/WindowImpl.cpp
Labels: feature, s:accepted

#1882 Replace 'BoolType' with 'explicit operator bool'
  include/SFML/Network/Packet.hpp
  src/SFML/Network/Packet.cpp
Labels: feature, m:sfml-network

#1850 X11: fix XIM input method support
  src/SFML/Window/Unix/Display.cpp
  src/SFML/Window/Unix/Display.hpp
  src/SFML/Window/Unix/WindowImplX11.cpp
Labels: feature, m:sfml-window, s:accepted, p:linux

#1878 Use 'override' whenever possible instead of 'virtual'
  cmake/CompilerWarnings.cmake
  examples/shader/Effect.hpp
  examples/shader/Shader.cpp
  examples/voip/Client.cpp
  examples/voip/Server.cpp
  include/SFML/Audio/Music.hpp
  include/SFML/Audio/Sound.hpp
  include/SFML/Audio/SoundBufferRecorder.hpp
  include/SFML/Audio/SoundFileReader.hpp
  include/SFML/Audio/SoundFileWriter.hpp
  include/SFML/Audio/SoundRecorder.hpp
  include/SFML/Audio/SoundStream.hpp
  include/SFML/Graphics/CircleShape.hpp
  include/SFML/Graphics/ConvexShape.hpp
  include/SFML/Graphics/Drawable.hpp
  include/SFML/Graphics/RectangleShape.hpp
  include/SFML/Graphics/RenderTexture.hpp
  include/SFML/Graphics/RenderWindow.hpp
  include/SFML/Graphics/Shape.hpp
  include/SFML/Graphics/Sprite.hpp
  include/SFML/Graphics/Text.hpp
  include/SFML/Graphics/Transformable.hpp
  include/SFML/Graphics/VertexArray.hpp
  include/SFML/Graphics/VertexBuffer.hpp
  include/SFML/Network/Packet.hpp
  include/SFML/System/FileInputStream.hpp
  include/SFML/System/MemoryInputStream.hpp
  include/SFML/System/Thread.inl
  include/SFML/Window/Window.hpp
  src/SFML/Audio/SoundFileReaderFlac.hpp
  src/SFML/Audio/SoundFileReaderOgg.hpp
  src/SFML/Audio/SoundFileReaderWav.hpp
  src/SFML/Audio/SoundFileWriterFlac.hpp
  src/SFML/Audio/SoundFileWriterOgg.hpp
  src/SFML/Audio/SoundFileWriterWav.hpp
  src/SFML/Graphics/RenderTextureImplDefault.hpp
  src/SFML/Graphics/RenderTextureImplFBO.hpp
  src/SFML/System/Err.cpp
  src/SFML/Window/Android/WindowImplAndroid.hpp
  src/SFML/Window/EglContext.hpp
  src/SFML/Window/OSX/SFContext.hpp
  src/SFML/Window/OSX/WindowImplCocoa.hpp
  src/SFML/Window/Unix/GlxContext.hpp
  src/SFML/Window/Unix/WindowImplX11.hpp
  src/SFML/Window/Win32/WglContext.hpp
  src/SFML/Window/Win32/WindowImplWin32.hpp
  src/SFML/Window/iOS/EaglContext.hpp
  src/SFML/Window/iOS/WindowImplUIKit.hpp
Labels: feature, s:accepted

#1884 Back-merge changes from 2.6.x to master
  CMakeLists.txt
  examples/asset_licenses.md
  examples/sound/Sound.cpp
  examples/sound/resources/ding.mp3
  extlibs/headers/minimp3/minimp3.h
  extlibs/headers/minimp3/minimp3_ex.h
  include/SFML/Audio/InputSoundFile.hpp
  license.md
  src/SFML/Audio/CMakeLists.txt
  src/SFML/Audio/SoundFileFactory.cpp
  src/SFML/Audio/SoundFileReaderMp3.cpp
  src/SFML/Audio/SoundFileReaderMp3.hpp
  src/SFML/Graphics/Texture.cpp
  src/SFML/Network/Packet.cpp
  src/SFML/Window/Unix/Display.cpp
  src/SFML/Window/Unix/Display.hpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  test/CMakeLists.txt
  test/src/Network/Packet.cpp
Labels: feature, s:accepted

#1886 Remove deprecated 'PrimitiveType::Quads'
  include/SFML/Graphics/Drawable.hpp
  include/SFML/Graphics/PrimitiveType.hpp
  include/SFML/Graphics/RenderWindow.hpp
  include/SFML/Graphics/Vertex.hpp
  include/SFML/Graphics/VertexArray.hpp
  src/SFML/Graphics/RenderTarget.cpp
Labels: feature, m:sfml-graphics

#1891 Strategic use of '[[nodiscard]]' in 'Window' module
  examples/X11/X11.cpp
  examples/window/Window.cpp
  include/SFML/Window/Context.hpp
  include/SFML/Window/Cursor.hpp
  include/SFML/Window/Window.hpp
  include/SFML/Window/WindowBase.hpp
  src/SFML/Graphics/RenderTextureImplFBO.cpp
  src/SFML/Window/Context.cpp
  src/SFML/Window/Window.cpp
Labels: feature, m:sfml-window, s:accepted

#1889 Strategic use of '[[nodiscard]]' in 'Network' module
  examples/voip/Client.cpp
  include/SFML/Network/Ftp.hpp
  include/SFML/Network/Http.hpp
  include/SFML/Network/SocketSelector.hpp
  include/SFML/Network/TcpListener.hpp
  include/SFML/Network/TcpSocket.hpp
  include/SFML/Network/UdpSocket.hpp
  src/SFML/Network/Ftp.cpp
Labels: feature, m:sfml-network, s:accepted

#1899 Fix calling convention for SetProcessDpiAwareness
  src/SFML/Window/Win32/WindowImplWin32.cpp
Labels: bug, m:sfml-window, s:accepted, p:windows

#1863 Replace SFML multithreading primitives with standard C++ ones
  examples/island/CMakeLists.txt
  examples/island/Island.cpp
  examples/voip/Server.cpp
  include/SFML/Audio/Music.hpp
  include/SFML/Audio/SoundRecorder.hpp
  include/SFML/Audio/SoundStream.hpp
  include/SFML/System.hpp
  include/SFML/System/Lock.hpp
  include/SFML/System/Mutex.hpp
  include/SFML/System/Thread.hpp
  include/SFML/System/Thread.inl
  include/SFML/System/ThreadLocal.hpp
  include/SFML/System/ThreadLocalPtr.hpp
  include/SFML/System/ThreadLocalPtr.inl
  src/SFML/Audio/AlResource.cpp
  src/SFML/Audio/Music.cpp
  src/SFML/Audio/SoundRecorder.cpp
  src/SFML/Audio/SoundStream.cpp
  src/SFML/Graphics/RenderTarget.cpp
  src/SFML/Graphics/RenderTextureImplFBO.cpp
  src/SFML/Graphics/Shader.cpp
  src/SFML/Graphics/Texture.cpp
  src/SFML/Graphics/VertexBuffer.cpp
  src/SFML/Main/MainAndroid.cpp
  src/SFML/System/Android/Activity.hpp
  src/SFML/System/Android/ResourceStream.cpp
  src/SFML/System/CMakeLists.txt
  src/SFML/System/Lock.cpp
  src/SFML/System/Mutex.cpp
  src/SFML/System/Thread.cpp
  src/SFML/System/ThreadLocal.cpp
  src/SFML/System/Unix/MutexImpl.cpp
  src/SFML/System/Unix/MutexImpl.hpp
  src/SFML/System/Unix/ThreadImpl.cpp
  src/SFML/System/Unix/ThreadImpl.hpp
  src/SFML/System/Unix/ThreadLocalImpl.cpp
  src/SFML/System/Unix/ThreadLocalImpl.hpp
  src/SFML/System/Win32/ClockImpl.cpp
  src/SFML/System/Win32/MutexImpl.cpp
  src/SFML/System/Win32/MutexImpl.hpp
  src/SFML/System/Win32/ThreadImpl.cpp
  src/SFML/System/Win32/ThreadImpl.hpp
  src/SFML/System/Win32/ThreadLocalImpl.cpp
  src/SFML/System/Win32/ThreadLocalImpl.hpp
  src/SFML/Window/Android/InputImpl.cpp
  src/SFML/Window/Android/VideoModeImpl.cpp
  src/SFML/Window/Android/WindowImplAndroid.cpp
  src/SFML/Window/Context.cpp
  src/SFML/Window/EglContext.cpp
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/Unix/Display.cpp
  src/SFML/Window/Unix/GlxContext.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Win32/WglContext.cpp
Labels: feature, m:sfml-system, s:accepted

#1890 Strategic use of '[[nodiscard]]' in 'System' module
  include/SFML/System/FileInputStream.hpp
  include/SFML/System/InputStream.hpp
  include/SFML/System/MemoryInputStream.hpp
  include/SFML/System/String.hpp
  src/SFML/Audio/SoundFileFactory.cpp
  src/SFML/Audio/SoundFileReaderWav.cpp
  src/SFML/Graphics/Font.cpp
  src/SFML/Graphics/ImageLoader.cpp
  src/SFML/Graphics/Shader.cpp
  src/SFML/System/FileInputStream.cpp
Labels: feature, m:sfml-system, s:accepted

#1887 Strategic use of '[[nodiscard]]' in 'Audio' module
  examples/sound_capture/SoundCapture.cpp
  examples/voip/Client.cpp
  include/SFML/Audio/InputSoundFile.hpp
  include/SFML/Audio/Music.hpp
  include/SFML/Audio/OutputSoundFile.hpp
  include/SFML/Audio/Sound.hpp
  include/SFML/Audio/SoundBuffer.hpp
  include/SFML/Audio/SoundBufferRecorder.hpp
  include/SFML/Audio/SoundFileReader.hpp
  include/SFML/Audio/SoundFileWriter.hpp
  include/SFML/Audio/SoundRecorder.hpp
  include/SFML/Audio/SoundStream.hpp
  src/SFML/Audio/SoundBuffer.cpp
  src/SFML/Audio/SoundBufferRecorder.cpp
Labels: feature, m:sfml-audio

#1902 Remove redundant APIs taking '(x, y)' in favour of ones taking 'sf::Vector'
  examples/android/app/src/main/jni/main.cpp
  examples/cocoa/CocoaAppDelegate.mm
  examples/island/Island.cpp
  examples/joystick/Joystick.cpp
  examples/opengl/OpenGL.cpp
  examples/shader/Effect.hpp
  examples/shader/Shader.cpp
  examples/tennis/Tennis.cpp
  examples/win32/Win32.cpp
  include/SFML/Audio/Listener.hpp
  include/SFML/Audio/SoundSource.hpp
  include/SFML/Graphics/Transform.hpp
  include/SFML/Graphics/Transformable.hpp
  include/SFML/Graphics/View.hpp
  src/SFML/Audio/Listener.cpp
  src/SFML/Audio/SoundSource.cpp
  src/SFML/Graphics/Transform.cpp
  src/SFML/Graphics/Transformable.cpp
  src/SFML/Graphics/View.cpp
Labels: feature, s:accepted

#1906 Fix regression in shader example
  examples/shader/Shader.cpp
Labels: bug, s:accepted, m:example

#1903 Make 'Vector2' and 'Vector3' 'constexpr' classes
  include/SFML/System/Vector2.hpp
  include/SFML/System/Vector2.inl
  include/SFML/System/Vector3.hpp
  include/SFML/System/Vector3.inl
Labels: feature, m:sfml-system, s:accepted

#1912 Add tests for 'Vector' destructuring and 'constexpr' support
  test/src/System/Vector2.cpp
  test/src/System/Vector3.cpp
Labels: feature, s:accepted, m:unittest

#1901 Replace 'sf::NonCopyable' with '= delete'
  include/SFML/Audio/InputSoundFile.hpp
  include/SFML/Audio/OutputSoundFile.hpp
  include/SFML/Graphics/RenderTarget.hpp
  include/SFML/Graphics/Shader.hpp
  include/SFML/Network/Ftp.hpp
  include/SFML/Network/Http.hpp
  include/SFML/Network/Socket.hpp
  include/SFML/System.hpp
  include/SFML/System/FileInputStream.hpp
  include/SFML/System/NonCopyable.hpp
  include/SFML/Window/Context.hpp
  include/SFML/Window/Cursor.hpp
  include/SFML/Window/GlResource.hpp
  include/SFML/Window/WindowBase.hpp
  src/SFML/Graphics/ImageLoader.hpp
  src/SFML/Graphics/RenderTextureImpl.hpp
  src/SFML/Graphics/Shader.cpp
  src/SFML/Network/Ftp.cpp
  src/SFML/System/CMakeLists.txt
  src/SFML/Window/Android/CursorImpl.hpp
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/GlContext.hpp
  src/SFML/Window/JoystickManager.hpp
  src/SFML/Window/OSX/CursorImpl.hpp
  src/SFML/Window/OSX/HIDInputManager.hpp
  src/SFML/Window/OSX/HIDJoystickManager.hpp
  src/SFML/Window/SensorManager.hpp
  src/SFML/Window/Unix/CursorImpl.hpp
  src/SFML/Window/Win32/CursorImpl.hpp
  src/SFML/Window/WindowImpl.hpp
  src/SFML/Window/iOS/CursorImpl.hpp
Labels: feature, m:sfml-system, s:accepted

#1909 Make 'Rect' a 'constexpr' class
  include/SFML/Graphics/Glsl.hpp
  include/SFML/Graphics/Rect.hpp
  include/SFML/Graphics/Rect.inl
  include/SFML/Graphics/RenderTarget.hpp
  include/SFML/Graphics/VertexBuffer.hpp
  src/SFML/Graphics/VertexBuffer.cpp
Labels: feature, m:sfml-graphics, s:accepted

#1904 Make 'Color' a 'constexpr' class
  include/SFML/Graphics/Color.hpp
  include/SFML/Graphics/Color.inl
  src/SFML/Graphics/CMakeLists.txt
  src/SFML/Graphics/Color.cpp
Labels: feature, m:sfml-graphics, s:accepted

#1910 Make 'Vertex' a 'constexpr' class
  include/SFML/Graphics/Vertex.hpp
  include/SFML/Graphics/Vertex.inl
  src/SFML/Graphics/CMakeLists.txt
Labels: feature, m:sfml-graphics, s:accepted

#1914 Fix `-Wmissing-braces` warning under clang
  src/SFML/Window/Win32/WindowImplWin32.cpp
Labels: feature, m:sfml-window

#1917 Improve compilation times by removing some includes and avoiding heavy dependencies
  examples/joystick/Joystick.cpp
  examples/voip/Server.cpp
  examples/voip/VoIP.cpp
  extlibs/headers/glad/include/glad/wgl.h
  include/SFML/Audio/SoundFileReader.hpp
  include/SFML/Graphics/RenderWindow.hpp
  include/SFML/Network/IpAddress.hpp
  include/SFML/System/Utf.hpp
  include/SFML/System/Utf.inl
  include/SFML/Window/Clipboard.hpp
  include/SFML/Window/WindowBase.hpp
  src/SFML/Audio/AudioDevice.hpp
  src/SFML/Audio/SoundFileReaderFlac.hpp
  src/SFML/Audio/SoundFileReaderOgg.cpp
  src/SFML/Audio/SoundFileReaderWav.hpp
  src/SFML/Graphics/Text.cpp
  src/SFML/Network/Http.cpp
  src/SFML/Network/IpAddress.cpp
  src/SFML/Network/UdpSocket.cpp
  src/SFML/System/Err.cpp
  src/SFML/Window/Android/ClipboardImpl.cpp
  src/SFML/Window/Android/ClipboardImpl.hpp
  src/SFML/Window/EGLCheck.cpp
  src/SFML/Window/EGLCheck.hpp
  src/SFML/Window/OSX/ClipboardImpl.hpp
  src/SFML/Window/OSX/ClipboardImpl.mm
  src/SFML/Window/OSX/JoystickImpl.hpp
  src/SFML/Window/OSX/WindowImplCocoa.hpp
  src/SFML/Window/OSX/WindowImplCocoa.mm
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Unix/WindowImplX11.hpp
  src/SFML/Window/Win32/ClipboardImpl.hpp
  src/SFML/Window/Win32/JoystickImpl.cpp
  src/SFML/Window/Win32/WindowImplWin32.cpp
  src/SFML/Window/Win32/WindowImplWin32.hpp
  src/SFML/Window/WindowImpl.hpp
  src/SFML/Window/iOS/ClipboardImpl.hpp
  src/SFML/Window/iOS/ClipboardImpl.mm
Labels: feature

#1915 Remove build logic for unsupported compilers
  CMakeLists.txt
  cmake/Macros.cmake
  cmake/SFMLConfigDependencies.cmake.in
  extlibs/libs-msvc/x64/flac.lib
  extlibs/libs-msvc/x64/freetype.lib
  extlibs/libs-msvc/x64/ogg.lib
  extlibs/libs-msvc/x64/openal32.lib
  extlibs/libs-msvc/x64/vorbis.lib
  extlibs/libs-msvc/x64/vorbisenc.lib
  extlibs/libs-msvc/x64/vorbisfile.lib
  extlibs/libs-msvc/x86/flac.lib
  extlibs/libs-msvc/x86/freetype.lib
  extlibs/libs-msvc/x86/ogg.lib
  extlibs/libs-msvc/x86/openal32.lib
  extlibs/libs-msvc/x86/vorbis.lib
  extlibs/libs-msvc/x86/vorbisenc.lib
  extlibs/libs-msvc/x86/vorbisfile.lib
  src/SFML/CMakeLists.txt
  src/SFML/Graphics/CMakeLists.txt
Labels: feature, s:accepted, m:config

#1918 Only compile Catch main once
  test/CMakeLists.txt
Labels: feature, s:accepted, m:unittest

#1907 Unify toLower implementations
  src/SFML/Audio/SoundFileWriterFlac.cpp
  src/SFML/Audio/SoundFileWriterOgg.cpp
  src/SFML/Audio/SoundFileWriterWav.cpp
  src/SFML/Graphics/ImageLoader.cpp
  src/SFML/Network/Http.cpp
  src/SFML/System/Utils.hpp
Labels: feature, s:undecided

#1919 Don't use 'sf::err' in public example code
  examples/vulkan/Vulkan.cpp
Labels: feature, s:accepted, m:example

#1911 Use smart pointers to manage memory
  examples/shader/Shader.cpp
  include/SFML/Audio/InputSoundFile.hpp
  include/SFML/Audio/OutputSoundFile.hpp
  include/SFML/Audio/SoundFileFactory.hpp
  include/SFML/Audio/SoundFileFactory.inl
  include/SFML/Graphics/Font.hpp
  include/SFML/Graphics/RenderTexture.hpp
  include/SFML/Network/SocketSelector.hpp
  include/SFML/System/FileInputStream.hpp
  include/SFML/Window/Context.hpp
  include/SFML/Window/Cursor.hpp
  include/SFML/Window/Window.hpp
  include/SFML/Window/WindowBase.hpp
  src/SFML/Audio/AlResource.cpp
  src/SFML/Audio/InputSoundFile.cpp
  src/SFML/Audio/OutputSoundFile.cpp
  src/SFML/Audio/SoundFileFactory.cpp
  src/SFML/Graphics/Font.cpp
  src/SFML/Graphics/RenderTexture.cpp
  src/SFML/Graphics/RenderTextureImplDefault.cpp
  src/SFML/Graphics/RenderTextureImplDefault.hpp
  src/SFML/Graphics/RenderTextureImplFBO.cpp
  src/SFML/Graphics/RenderTextureImplFBO.hpp
  src/SFML/Main/MainAndroid.cpp
  src/SFML/Network/SocketSelector.cpp
  src/SFML/System/FileInputStream.cpp
  src/SFML/Window/Context.cpp
  src/SFML/Window/Cursor.cpp
  src/SFML/Window/EglContext.cpp
  src/SFML/Window/EglContext.hpp
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/GlContext.hpp
  src/SFML/Window/OSX/SFContext.hpp
  src/SFML/Window/OSX/SFContext.mm
  src/SFML/Window/Unix/GlxContext.cpp
  src/SFML/Window/Unix/GlxContext.hpp
  src/SFML/Window/Win32/WglContext.cpp
  src/SFML/Window/Win32/WglContext.hpp
  src/SFML/Window/Window.cpp
  src/SFML/Window/WindowBase.cpp
  src/SFML/Window/WindowImpl.cpp
  src/SFML/Window/WindowImpl.hpp
  src/SFML/Window/iOS/EaglContext.hpp
  src/SFML/Window/iOS/EaglContext.mm
Labels: feature, s:accepted

#1926 Fix broken OpenGL example
  examples/opengl/OpenGL.cpp
Labels: bug, s:accepted, m:example

#1927 Use a smart pointer to manage std::FILE pointer in FileInputStream
  include/SFML/System/FileInputStream.hpp
  src/SFML/System/FileInputStream.cpp
Labels: feature, m:sfml-system, s:accepted

#1924 Manipulate library names on Windows + Clang
  cmake/Macros.cmake
Labels: bug, s:accepted, p:windows, m:config

#1929 Fix null pointer dereference in Font
  include/SFML/Graphics/Font.hpp
  src/SFML/Graphics/Font.cpp
Labels: bug, m:sfml-graphics, s:accepted

#1922 Add unit tests for sf::Time
  test/CMakeLists.txt
  test/src/System/Time.cpp
Labels: feature, s:accepted, m:unittest

#1933 Simplify test directory layout
  test/CMakeLists.txt
  test/CatchMain.cpp
  test/Graphics/Rect.cpp
  test/Network/Packet.cpp
  test/System/Time.cpp
  test/System/Vector2.cpp
  test/System/Vector3.cpp
  test/TestUtilities/GraphicsUtil.cpp
  test/TestUtilities/GraphicsUtil.hpp
  test/TestUtilities/SystemUtil.cpp
  test/TestUtilities/SystemUtil.hpp
  test/TestUtilities/WindowUtil.cpp
  test/TestUtilities/WindowUtil.hpp
Labels: feature, s:accepted, m:unittest

#1921 Replace Catch with Doctest
  extlibs/headers/doctest.h
  test/CMakeLists.txt
  test/CatchMain.cpp
  test/DoctestMain.cpp
  test/Graphics/Rect.cpp
  test/Network/Packet.cpp
  test/System/Time.cpp
  test/System/Vector2.cpp
  test/System/Vector3.cpp
  test/TestUtilities/GraphicsUtil.cpp
  test/TestUtilities/GraphicsUtil.hpp
  test/TestUtilities/SystemUtil.cpp
  test/TestUtilities/SystemUtil.hpp
  test/TestUtilities/WindowUtil.cpp
  test/TestUtilities/WindowUtil.hpp
Labels: feature, s:accepted, m:unittest

#1942 Remove redundant API taking x,y pair instead of sf::Vector
  include/SFML/Graphics/Rect.hpp
  include/SFML/Graphics/Rect.inl
  include/SFML/Graphics/Transform.hpp
  src/SFML/Graphics/Transform.cpp
  test/Graphics/Rect.cpp
Labels: feature, m:sfml-graphics, s:accepted

#1938 Add tests for 'sf::Color'
  test/CMakeLists.txt
  test/Graphics/Color.cpp
Labels: feature, s:accepted, m:unittest

#1935 Add tests for sf::VideoMode
  test/CMakeLists.txt
  test/Window/VideoMode.cpp
Labels: feature, m:sfml-window, s:accepted, m:unittest

#1934 Make 'Time' a 'constexpr' class
  include/SFML/System/Time.hpp
  include/SFML/System/Time.inl
  src/SFML/System/CMakeLists.txt
  src/SFML/System/Time.cpp
  test/System/Time.cpp
Labels: feature, m:sfml-system, s:accepted
