Repository SFML/SFML, pull requests merged in 2021-01, with the labels that each got.

#1732 Slight increase performance and code refactor
  src/SFML/Audio/SoundFileWriterFlac.cpp
  src/SFML/Audio/SoundFileWriterOgg.cpp
  src/SFML/Audio/SoundFileWriterWav.cpp
  src/SFML/Network/Ftp.cpp
  src/SFML/Network/Http.cpp
  src/SFML/Window/WindowImpl.cpp
Labels: feature, m:sfml-audio, m:sfml-network, m:sfml-window, s:accepted

#1722 Fixed setMouseCursorGrabbed on Linux
  src/SFML/Window/Unix/WindowImplX11.cpp
Labels: bug, m:sfml-window, p:linux, s:accepted

#1735 Remove Travis CI Integration.
  .travis.yml
Labels: feature, m:config, s:accepted

#1578 Fixed sometimes failing to read floats and doubles from Packet on Android.
  src/SFML/Network/Packet.cpp
Labels: bug, m:sfml-network, s:accepted

#1725 [sprite] don't set default rect before the user provided one
  src/SFML/Graphics/Sprite.cpp
Labels: feature, m:sfml-graphics, s:accepted

#1713 Fix warning: control may reach end of non-void function [-Wreturn-type]
  src/SFML/Window/Android/WindowImplAndroid.cpp
Labels: bug, m:sfml-window, p:android, s:accepted

#1600 Fixed Win32 requestFocus in multithreaded environment
  src/SFML/Window/Win32/WindowImplWin32.cpp
Labels: bug, m:sfml-window, p:windows, s:accepted

#1740 Fix NULL in Android EGL_DEFAULT_DISPLAY
  src/SFML/Main/MainAndroid.cpp
Labels: bug, m:sfml-window, p:android, s:accepted

#1739 Update CMake minimum version to 3.7.2
  CMakeLists.txt
Labels: feature, m:config, s:accepted

#1744 Fixed copy assign operator in sf::Sound so it checks for self-assignment
  src/SFML/Audio/Sound.cpp
Labels: bug, m:sfml-audio, s:accepted
