Repository SFML/SFML, pull requests merged in 2021-03, with the labels that each got.

#1750 macOS: allow CMAKE_OSX_ARCHITECTURES to be arm64
  CMakeLists.txt
Labels: feature, m:config, p:macos, s:accepted

#1760 MacOS: When initializing an openGL view with an existing window, call finishInit
  src/SFML/Window/OSX/SFWindowController.mm
Labels: bug, m:sfml-window, p:macos, s:accepted

#1761 Add support for arm64 on macOS
  extlibs/libs-osx/Frameworks/FLAC.framework/Versions/A/FLAC
  extlibs/libs-osx/Frameworks/FLAC.framework/Versions/A/Resources/Info.plist
  extlibs/libs-osx/Frameworks/OpenAL.framework/Versions/A/OpenAL
  extlibs/libs-osx/Frameworks/OpenAL.framework/Versions/A/Resources/Info.plist
  extlibs/libs-osx/Frameworks/freetype.framework/Versions/A/Resources/Info.plist
  extlibs/libs-osx/Frameworks/freetype.framework/Versions/A/freetype
  extlibs/libs-osx/Frameworks/ogg.framework/Versions/A/Resources/Info.plist
  extlibs/libs-osx/Frameworks/ogg.framework/Versions/A/ogg
  extlibs/libs-osx/Frameworks/vorbis.framework/Versions/A/Resources/Info.plist
  extlibs/libs-osx/Frameworks/vorbis.framework/Versions/A/vorbis
  extlibs/libs-osx/Frameworks/vorbisenc.framework/Versions/A/Resources/Info.plist
  extlibs/libs-osx/Frameworks/vorbisenc.framework/Versions/A/vorbisenc
  extlibs/libs-osx/Frameworks/vorbisfile.framework/Versions/A/Resources/Info.plist
  extlibs/libs-osx/Frameworks/vorbisfile.framework/Versions/A/vorbisfile
Labels: feature, m:config, p:macos, s:accepted

#1756 Add Min and Max blend modes
  include/SFML/Graphics/BlendMode.hpp
  src/SFML/Graphics/BlendMode.cpp
  src/SFML/Graphics/GLExtensions.hpp
  src/SFML/Graphics/RenderTarget.cpp
Labels: feature, m:sfml-graphics

#1766 Fix '-Wimplicit-fallthrough' warnings by adding a fallthrough comment
  include/SFML/System/Utf.inl
Labels: bug, m:sfml-system, s:accepted
