Repository SFML/SFML, pull requests merged in 2021-08, with the labels that each got.

#1804 Try more possible names for OpenGLES library.
  src/SFML/Window/iOS/EaglContext.mm
Labels: bug, m:sfml-window, s:accepted, p:ios

#1788 Enable support for unity builds
  .github/workflows/ci.yml
  examples/voip/Client.cpp
  examples/voip/Server.cpp
  src/SFML/Graphics/GLExtensions.cpp
  src/SFML/Graphics/RenderTarget.cpp
  src/SFML/Graphics/Texture.cpp
  src/SFML/Graphics/VertexBuffer.cpp
  src/SFML/Window/Context.cpp
  src/SFML/Window/EglContext.cpp
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/Unix/GlxContext.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Win32/VulkanImplWin32.cpp
  src/SFML/Window/Win32/WglContext.cpp
  src/SFML/Window/Win32/WindowImplWin32.cpp
  src/SFML/Window/WindowBase.cpp
Labels: feature, s:accepted, m:config

#1575 Fixed unable to build SFML with latest Android NDK
  CMakeLists.txt
Labels: bug, s:accepted, p:android, m:config

#1731 Preserve the drop shadow for system cursors on Windows
  src/SFML/Window/Win32/CursorImpl.cpp
  src/SFML/Window/Win32/CursorImpl.hpp
Labels: bug, m:sfml-window, s:accepted, p:windows

#1818 Copy logo.png to Resources in Cocoa example
  examples/cocoa/CMakeLists.txt
Labels: bug, p:macos, s:accepted, m:config

#1806 Fixed funcs for safe use in Win32/Win64
  src/SFML/Window/Win32/WindowImplWin32.cpp
Labels: bug, m:sfml-window, s:accepted, p:windows

#1819 Add support for Visual Studio 2022
  cmake/Config.cmake
Labels: feature, s:accepted, p:windows, m:config
