Repository SFML/SFML, pull requests merged in 2021-05, with the labels that each got.

#1795 Fix configuration conflicts with Clang
  CMakeLists.txt
  cmake/Config.cmake
  src/SFML/CMakeLists.txt
  src/SFML/Graphics/CMakeLists.txt
Labels: bug, m:config, p:windows, s:accepted

#1757 Support sRGB color space in RenderTexture
  include/SFML/Graphics/RenderTarget.hpp
  include/SFML/Graphics/RenderTexture.hpp
  include/SFML/Graphics/RenderWindow.hpp
  src/SFML/Graphics/RenderTarget.cpp
  src/SFML/Graphics/RenderTexture.cpp
  src/SFML/Graphics/RenderTextureImpl.hpp
  src/SFML/Graphics/RenderTextureImplDefault.cpp
  src/SFML/Graphics/RenderTextureImplDefault.hpp
  src/SFML/Graphics/RenderTextureImplFBO.cpp
  src/SFML/Graphics/RenderTextureImplFBO.hpp
  src/SFML/Graphics/RenderWindow.cpp
Labels: bug, m:sfml-graphics, s:accepted

#1114 Added CPack definitions and an NSIS template for easy packaging
  CMakeLists.txt
  tools/nsis/header.bmp
  tools/nsis/sfml.ico
  tools/nsis/sidebar.bmp
Labels: feature, m:config, s:undecided
