Repository SFML/SFML, pull requests merged in 2022-04, with the labels that each got.

#2050 Require all modules are built before building tests
  CMakeLists.txt
  test/CMakeLists.txt
Labels: feature, s:accepted, m:unittest

#2058 Update GitHub Actions VS Workers
  .github/workflows/ci.yml
Labels: feature, s:accepted, m:config

#2044 Use `std::quoted`
  examples/sockets/TCP.cpp
  examples/sockets/UDP.cpp
  src/SFML/Graphics/ImageLoader.cpp
  src/SFML/Graphics/Shader.cpp
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/Win32/JoystickImpl.cpp
Labels: feature, m:sfml-window, m:sfml-graphics, s:accepted, m:example

#2026 Abort infinite looping in SoundStream::streamData
  src/SFML/Audio/ALCheck.cpp
  src/SFML/Audio/ALCheck.hpp
  src/SFML/Audio/SoundStream.cpp
Labels: bug, m:sfml-audio, s:accepted, p:windows

#2059 Added back missing WINAPI calling convention declaration
  src/SFML/Window/Win32/JoystickImpl.cpp
Labels: bug, m:sfml-window, s:accepted, p:windows

#2062 Feature/back merge
  .gitignore
  src/SFML/Window/Unix/JoystickImpl.cpp
Labels: feature, s:accepted

#2068 Remove iOS 7 workarounds
  src/SFML/Window/iOS/WindowImplUIKit.mm
Labels: feature, m:sfml-window, s:accepted, p:ios

#2069 Ensure files end with newline character
  .github/PULL_REQUEST_TEMPLATE.md
  examples/X11/CMakeLists.txt
  examples/android/app/app.iml
  examples/android/app/src/main/jni/Application.mk
  examples/asset_licenses.md
  examples/opengl/CMakeLists.txt
  examples/vulkan/CMakeLists.txt
  examples/vulkan/resources/shader.frag
  examples/vulkan/resources/shader.vert
  examples/window/CMakeLists.txt
Labels: feature, s:accepted, m:config

#2065 Add tests for `sf::RectangleShape`
  test/CMakeLists.txt
  test/Graphics/RectangleShape.cpp
Labels: feature, m:sfml-graphics, s:accepted, m:unittest

#2073 Fix incorrect cast in Cursor::loadFromPixels Unix implementation
  src/SFML/Window/Unix/CursorImpl.cpp
Labels: bug, m:sfml-window, s:accepted, p:linux

#2076 Enable MSVC standards conformance
  cmake/CompilerWarnings.cmake
  include/SFML/System/Vector2.inl
Labels: bug, m:sfml-system, s:accepted, m:config

#2075 Added community section to README
  readme.md
Labels: feature, s:accepted, m:doc

#2074 Remove remaining use of `this->`
  include/SFML/System/Vector2.inl
Labels: feature, m:sfml-system, s:accepted

#2043 Print absolute paths when file not found
  src/SFML/Audio/SoundFileFactory.cpp
  src/SFML/Audio/SoundFileWriterFlac.cpp
  src/SFML/Audio/SoundFileWriterOgg.cpp
  src/SFML/Audio/SoundFileWriterWav.cpp
  src/SFML/Graphics/Font.cpp
  src/SFML/Graphics/ImageLoader.cpp
  src/SFML/Graphics/Shader.cpp
  src/SFML/System/Utils.hpp
Labels: feature, m:sfml-graphics, m:sfml-audio, s:accepted

#1993 sf::Image::copy() - Fixed the incorrect alpha value being calculated for semi-transparent pixels on fully transparent pixels
  include/SFML/Graphics/Image.hpp
  src/SFML/Graphics/Image.cpp
Labels: bug, m:sfml-graphics, s:accepted

#2072 Fix font pages not being created with the desired smoothness
  include/SFML/Graphics/Font.hpp
  src/SFML/Graphics/Font.cpp
Labels: bug, m:sfml-graphics, s:accepted

#2080 2.6.x -> master backmerge
  include/SFML/Graphics/Font.hpp
  include/SFML/Graphics/Image.hpp
  src/SFML/Graphics/Font.cpp
  src/SFML/Graphics/Image.cpp
  src/SFML/Window/Unix/CursorImpl.cpp
Labels: feature, s:accepted

#2083 corrected/clarified the setLoopPoints() documentation
  include/SFML/Audio/Music.hpp
Labels: feature, m:sfml-audio, s:accepted, m:doc
