Repository SFML/SFML, pull requests merged in 2022-10, with the labels that each got.

#2132 Fix corelation between text setOutlineThickness() and getLocalBounds()
  src/SFML/Graphics/Text.cpp
Labels: bug, m:sfml-graphics, s:accepted

#2219 Fix typo in variable name in Unix/JoystickImpl.cpp
  src/SFML/Window/Unix/JoystickImpl.cpp
Labels: bug, m:sfml-window, s:accepted, p:linux

#2221 Include InputStream.hpp directly in SoundFileReaderMp3.cpp
  src/SFML/Audio/SoundFileReaderMp3.cpp
Labels: bug, m:sfml-audio, s:accepted

#2222 Fix minor inconsistency in type cast in voip example
  examples/voip/Server.cpp
Labels: bug, s:accepted, m:example

#2214 Return of the Testing PRs (`sf::Packet`)
  test/Network/Packet.cpp
Labels: feature, s:accepted, m:unittest

#2203 Test reinterpreting a `sf::Color` as a `std::uint8_t*`
  test/Graphics/Color.cpp
Labels: feature, m:sfml-graphics, s:undecided

#2230 Improve static initialization of vectors
  src/SFML/Window/Unix/VulkanImplX11.cpp
  src/SFML/Window/VideoMode.cpp
  src/SFML/Window/Win32/VulkanImplWin32.cpp
Labels: feature

#2229 Normalize formatting across CMake files
  CMakeLists.txt
  cmake/Macros.cmake
  cmake/Modules/FindVORBIS.cmake
  cmake/SFMLConfig.cmake.in
  cmake/SFMLConfigDependencies.cmake.in
  cmake/toolchains/iOS.toolchain.cmake
  examples/CMakeLists.txt
  examples/cocoa/CMakeLists.txt
  examples/opengl/CMakeLists.txt
  examples/tennis/CMakeLists.txt
  src/SFML/CMakeLists.txt
  src/SFML/Window/CMakeLists.txt
Labels: feature, s:accepted, m:config

#2232 Add '[[nodiscard]]' to 'IpAddress::resolve'
  include/SFML/Network/IpAddress.hpp
Labels: feature, m:sfml-network, s:accepted

#2235 Consolidate redundant gl.h headers
  examples/X11/CMakeLists.txt
  examples/include/gl.h
  examples/opengl/CMakeLists.txt
  examples/opengl/gl.h
  examples/window/CMakeLists.txt
  examples/window/gl.h
Labels: m:example

#1895 Add PCH builds via 'SFML_ENABLE_PCH' CMake option
  CMakeLists.txt
  cmake/Macros.cmake
  src/SFML/PCH.hpp
  src/SFML/System/CMakeLists.txt
Labels: feature, s:accepted, m:config

#2206 Test install interface
  .github/workflows/ci.yml
  test/CMakeLists.txt
  test/install/CMakeLists.txt
  test/install/Install.cpp
Labels: feature, s:accepted, m:unittest

#2249 Use doctest-provided `main` implementation
  test/CMakeLists.txt
  test/DoctestMain.cpp
Labels: bug, s:accepted, m:unittest

#2250 Update checkout action
  .github/workflows/ci.yml
Labels: bug, s:accepted, m:config

#2254 Add 32-bits Visual Studio builds to the CI
  .github/workflows/ci.yml
Labels: feature, s:accepted, p:windows, m:config

#2246 Fix DRM using the first possible video card without even checking if a monitor is connected
  extlibs/headers/drm/drm-common.c
Labels: bug, m:sfml-window, s:accepted, p:linux

#2253 Start enforcing naming style
  .clang-tidy
  src/SFML/Window/OSX/JoystickImpl.cpp
  src/SFML/Window/Unix/ClipboardImpl.cpp
  src/SFML/Window/Unix/CursorImpl.cpp
  src/SFML/Window/Unix/Display.cpp
  src/SFML/Window/Unix/Display.hpp
  src/SFML/Window/Unix/GlxContext.cpp
  src/SFML/Window/Unix/InputImpl.cpp
  src/SFML/Window/Unix/VideoModeImpl.cpp
  src/SFML/Window/Unix/VulkanImplX11.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
Labels: feature, m:sfml-window, s:accepted, m:config

#2245 [DRM] Fix forecefully switching to the preferred mode, use the current mode rather
  extlibs/headers/drm/drm-common.c
  src/SFML/Window/DRM/DRMContext.cpp
Labels: bug, m:sfml-window, s:accepted, p:linux

#2258 Enforce parameter case
  .clang-tidy
  include/SFML/Graphics/Glsl.inl
  include/SFML/System/Utf.hpp
  include/SFML/System/Utf.inl
  include/SFML/System/Vector2.hpp
  include/SFML/System/Vector2.inl
  include/SFML/System/Vector3.hpp
  include/SFML/System/Vector3.inl
Labels: feature, m:sfml-system, m:sfml-graphics, s:accepted, m:config

#2242 Fix order and remove duplicates of KeyPressed events
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Unix/WindowImplX11.hpp
Labels: bug, m:sfml-window, s:accepted, p:linux

#2263 Lock 2.6.x branch to macOS 11 images
  .github/workflows/ci.yml
Labels: bug, s:accepted, p:ios

#2262 Back Merge latest 2.6.x Changes
  .github/workflows/ci.yml
  extlibs/headers/drm/drm-common.c
  src/SFML/Window/DRM/DRMContext.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Unix/WindowImplX11.hpp
Labels: feature, s:accepted, m:config

#2261 Turn off Codecov annotations
  .github/.codecov.yml
Labels: feature, s:accepted, m:config
