Repository SFML/SFML, pull requests merged in 2022-11, with the labels that each got.

#2267 Disable certain GCC pragmas when using other compilers
  include/SFML/Graphics/Glsl.inl
  include/SFML/System/Vector2.inl
  include/SFML/System/Vector3.inl
Labels: bug, s:accepted, m:config

#2271 Document that checking XButton1 and XButton2 state on X11 is not supported
  include/SFML/Window/Mouse.hpp
  src/SFML/Window/Unix/InputImpl.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
Labels: feature, m:sfml-window, s:accepted, m:doc

#2269 Remove the use of `std::memset`
  src/SFML/Audio/SoundFileReaderMp3.cpp
  src/SFML/Graphics/Font.cpp
  src/SFML/Network/Unix/SocketImpl.cpp
  src/SFML/Network/Win32/SocketImpl.cpp
  src/SFML/Window/DRM/DRMContext.cpp
  src/SFML/Window/Unix/JoystickImpl.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Win32/CursorImpl.cpp
  src/SFML/Window/Win32/JoystickImpl.cpp
Labels: feature, s:accepted

#2268 Use Per Monitor Aware instead of System Aware for DPI scaling on Windows
  src/SFML/Window/Win32/WindowImplWin32.cpp
Labels: feature, m:sfml-window, s:accepted, p:windows

#2156 Use in-class member initializers
  include/SFML/System/Angle.hpp
  include/SFML/System/Angle.inl
  include/SFML/System/Clock.hpp
  include/SFML/System/MemoryInputStream.hpp
  include/SFML/System/String.hpp
  include/SFML/System/Time.hpp
  include/SFML/System/Time.inl
  include/SFML/System/Vector2.hpp
  include/SFML/System/Vector2.inl
  include/SFML/System/Vector3.hpp
  include/SFML/System/Vector3.inl
  src/SFML/System/Clock.cpp
  src/SFML/System/MemoryInputStream.cpp
  src/SFML/System/String.cpp
Labels: feature, m:sfml-system, s:accepted

#2273 sf::Shader Move Semantics
  include/SFML/Graphics/Shader.hpp
  test/Graphics/Shader.test.cpp
Labels: feature, m:sfml-graphics, s:accepted

#2281 Fix outdated use of the sf::VideoMode constructor
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  doc/mainpage.hpp
  include/SFML/Graphics/RenderTexture.hpp
  include/SFML/Graphics/RenderWindow.hpp
  include/SFML/Window/VideoMode.hpp
  include/SFML/Window/Window.hpp
  include/SFML/Window/WindowBase.hpp
  tools/xcode/templates/SFML/SFML App.xctemplate/main.cpp
  tools/xcode/templates/SFML/SFML CLT.xctemplate/main.cpp
Labels: bug, s:accepted, m:doc

#2283 Retry choco install step up to 10 times
  .github/workflows/ci.yml
Labels: feature, s:accepted, m:config

#2286 Use enum class instead of plain enum for PrimitiveType
  examples/island/Island.cpp
  examples/shader/Shader.cpp
  include/SFML/Graphics/PrimitiveType.hpp
  src/SFML/Graphics/RenderTarget.cpp
  src/SFML/Graphics/Shape.cpp
  src/SFML/Graphics/Sprite.cpp
  src/SFML/Graphics/Text.cpp
  src/SFML/Graphics/VertexArray.cpp
  src/SFML/Graphics/VertexBuffer.cpp
Labels: feature, m:sfml-graphics, s:accepted

#2264 Apply warnings to install interface test
  test/CMakeLists.txt
  test/install/Install.cpp
Labels: bug, s:accepted, m:unittest
