Repository SFML/SFML, pull requests merged in 2022-12, with the labels that each got.

#2293 Enable warnings-as-errors for clang-cl
  cmake/CompilerWarnings.cmake
Labels: bug, s:accepted, m:config

#2260 Enforce variable case
  .clang-tidy
  .github/workflows/ci.yml
  CMakeLists.txt
  cmake/Tidy.cmake
  examples/shader/Effect.hpp
  examples/shader/Shader.cpp
  examples/tennis/Tennis.cpp
  include/SFML/Audio/SoundFileFactory.hpp
  include/SFML/Graphics/BlendMode.hpp
  include/SFML/Graphics/Color.hpp
  include/SFML/Graphics/RenderStates.hpp
  include/SFML/Graphics/Shader.hpp
  include/SFML/Graphics/Transform.hpp
  include/SFML/Network/IpAddress.hpp
  include/SFML/System/Angle.hpp
  include/SFML/System/String.hpp
  include/SFML/System/Time.hpp
  include/SFML/System/Vector2.hpp
  src/SFML/Graphics/Image.cpp
  src/SFML/Graphics/ImageLoader.cpp
  src/SFML/Window/OSX/HIDJoystickManager.cpp
  src/SFML/Window/OSX/JoystickImpl.hpp
  src/SFML/Window/Unix/VulkanImplX11.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  test/Graphics/Transformable.test.cpp
Labels: feature, s:accepted, m:config

#2296 Feature/backmerge
  CMakeLists.txt
  extlibs/headers/drm/drm-common.c
  extlibs/headers/drm/drm-common.h
  include/SFML/Window/Mouse.hpp
  src/SFML/Window/CMakeLists.txt
  src/SFML/Window/DRM/DRMContext.cpp
  src/SFML/Window/DRM/DRMContext.hpp
  src/SFML/Window/DRM/VideoModeImpl.cpp
  src/SFML/Window/DRM/WindowImplDRM.cpp
  src/SFML/Window/Unix/InputImpl.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Win32/WindowImplWin32.cpp
Labels: feature, s:accepted

#2295 Add CI job for Clang on Windows
  .github/workflows/ci.yml
  test/CMakeLists.txt
Labels: feature, s:accepted, m:config

#2275 Use in-class member initializers
  include/SFML/Window/Joystick.hpp
  include/SFML/Window/VideoMode.hpp
  src/SFML/Window/Android/CursorImpl.cpp
  src/SFML/Window/Android/CursorImpl.hpp
  src/SFML/Window/Android/WindowImplAndroid.cpp
  src/SFML/Window/Android/WindowImplAndroid.hpp
  src/SFML/Window/DRM/CursorImpl.cpp
  src/SFML/Window/DRM/CursorImpl.hpp
  src/SFML/Window/DRM/DRMContext.cpp
  src/SFML/Window/DRM/DRMContext.hpp
  src/SFML/Window/DRM/InputImplUDev.cpp
  src/SFML/Window/DRM/WindowImplDRM.cpp
  src/SFML/Window/EglContext.cpp
  src/SFML/Window/EglContext.hpp
  src/SFML/Window/Joystick.cpp
  src/SFML/Window/OSX/HIDInputManager.hpp
  src/SFML/Window/OSX/HIDInputManager.mm
  src/SFML/Window/OSX/HIDJoystickManager.cpp
  src/SFML/Window/OSX/HIDJoystickManager.hpp
  src/SFML/Window/OSX/SFContext.hpp
  src/SFML/Window/OSX/SFContext.mm
  src/SFML/Window/OSX/WindowImplCocoa.hpp
  src/SFML/Window/OSX/WindowImplCocoa.mm
  src/SFML/Window/Unix/ClipboardImpl.cpp
  src/SFML/Window/Unix/ClipboardImpl.hpp
  src/SFML/Window/Unix/CursorImpl.cpp
  src/SFML/Window/Unix/CursorImpl.hpp
  src/SFML/Window/Unix/GlxContext.cpp
  src/SFML/Window/Unix/GlxContext.hpp
  src/SFML/Window/Unix/JoystickImpl.cpp
  src/SFML/Window/Unix/JoystickImpl.hpp
  src/SFML/Window/Unix/VulkanImplX11.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Unix/WindowImplX11.hpp
  src/SFML/Window/VideoMode.cpp
  src/SFML/Window/Win32/CursorImpl.cpp
  src/SFML/Window/Win32/CursorImpl.hpp
  src/SFML/Window/Win32/JoystickImpl.cpp
  src/SFML/Window/Win32/VulkanImplWin32.cpp
  src/SFML/Window/Win32/WglContext.cpp
  src/SFML/Window/Win32/WglContext.hpp
  src/SFML/Window/Win32/WindowImplWin32.cpp
  src/SFML/Window/Win32/WindowImplWin32.hpp
  src/SFML/Window/Window.cpp
  src/SFML/Window/WindowBase.cpp
  src/SFML/Window/WindowImpl.cpp
  src/SFML/Window/WindowImpl.hpp
  src/SFML/Window/iOS/CursorImpl.cpp
  src/SFML/Window/iOS/CursorImpl.hpp
  src/SFML/Window/iOS/EaglContext.hpp
  src/SFML/Window/iOS/EaglContext.mm
Labels: feature, m:sfml-window, s:accepted

#2277 Added non-trivial move operations.
  include/SFML/Graphics/Shader.hpp
  src/SFML/Graphics/Shader.cpp
Labels: feature, m:sfml-graphics, s:accepted

#2298 Replace c-style casts & fix implicit conversion warnings in DRM code
  src/SFML/Window/DRM/InputImplUDev.cpp
Labels: bug, m:sfml-window, s:accepted, p:linux

#2299 Add -ObjC flag to fix static linking on macOS
  src/SFML/Window/CMakeLists.txt
Labels: bug, p:macos, s:accepted, m:config

#2301 Use in-class member initializers
  include/SFML/Graphics/BlendMode.hpp
  include/SFML/Graphics/Color.hpp
  include/SFML/Graphics/Color.inl
  include/SFML/Graphics/Font.hpp
  include/SFML/Graphics/Glsl.inl
  include/SFML/Graphics/Glyph.hpp
  include/SFML/Graphics/Rect.hpp
  include/SFML/Graphics/Rect.inl
  include/SFML/Graphics/RenderStates.hpp
  include/SFML/Graphics/RenderTarget.hpp
  include/SFML/Graphics/RenderWindow.hpp
  include/SFML/Graphics/Shader.hpp
  include/SFML/Graphics/Shape.hpp
  include/SFML/Graphics/Sprite.hpp
  include/SFML/Graphics/Text.hpp
  include/SFML/Graphics/Texture.hpp
  include/SFML/Graphics/Transform.hpp
  include/SFML/Graphics/Transform.inl
  include/SFML/Graphics/Transformable.hpp
  include/SFML/Graphics/Vertex.hpp
  include/SFML/Graphics/Vertex.inl
  include/SFML/Graphics/VertexArray.hpp
  include/SFML/Graphics/VertexBuffer.hpp
  include/SFML/Graphics/View.hpp
  src/SFML/Graphics/BlendMode.cpp
  src/SFML/Graphics/Font.cpp
  src/SFML/Graphics/ImageLoader.cpp
  src/SFML/Graphics/RenderStates.cpp
  src/SFML/Graphics/RenderTarget.cpp
  src/SFML/Graphics/RenderTextureImplDefault.cpp
  src/SFML/Graphics/RenderTextureImplFBO.cpp
  src/SFML/Graphics/RenderTextureImplFBO.hpp
  src/SFML/Graphics/RenderWindow.cpp
  src/SFML/Graphics/Shader.cpp
  src/SFML/Graphics/Shape.cpp
  src/SFML/Graphics/Sprite.cpp
  src/SFML/Graphics/Text.cpp
  src/SFML/Graphics/Texture.cpp
  src/SFML/Graphics/Transformable.cpp
  src/SFML/Graphics/VertexArray.cpp
  src/SFML/Graphics/VertexBuffer.cpp
  src/SFML/Graphics/View.cpp
Labels: feature, m:sfml-graphics, s:accepted

#2303 Ensure diagnostic pop occur before end of header guard
  src/SFML/Audio/ALCheck.hpp
Labels: bug, m:sfml-audio, s:accepted

#2306 Changed sf::String::InvalidPos from 'inline const' to constexpr
  include/SFML/System/String.hpp
Labels: bug, m:sfml-system, s:accepted

#2309 Update Catch latest v1.x
  extlibs/headers/catch.hpp
Labels: feature, s:accepted, m:unittest

#2304 Use in-class member initializers
  include/SFML/Network/Http.hpp
  include/SFML/Network/Packet.hpp
  include/SFML/Network/Socket.hpp
  include/SFML/Network/TcpSocket.hpp
  include/SFML/Network/UdpSocket.hpp
  src/SFML/Network/Http.cpp
  src/SFML/Network/Packet.cpp
  src/SFML/Network/Socket.cpp
  src/SFML/Network/TcpSocket.cpp
  src/SFML/Network/UdpSocket.cpp
Labels: feature, m:sfml-network, s:accepted

#2318 Update x11 sf::Cursor::Hand to be consistent across OS's
  src/SFML/Window/Unix/CursorImpl.cpp
Labels: bug, m:sfml-window, s:accepted

#2315 Replaced clamp with std::clamp
  examples/island/Island.cpp
  examples/joystick/Joystick.cpp
  examples/vulkan/Vulkan.cpp
  src/SFML/Window/OSX/SFOpenGLView+mouse.mm
Labels: feature, s:accepted

#2323 Backport macOS + Clang compiler error fix
  src/SFML/Window/OSX/SFWindowController.mm
Labels: bug, m:sfml-window, s:accepted

#2324 Feature/backmerge
  extlibs/headers/stb_image/stb_image.h
  extlibs/headers/stb_image/stb_image_write.h
  include/SFML/Graphics/Image.hpp
  src/SFML/Window/DRM/InputImplUDev.cpp
  src/SFML/Window/Unix/CursorImpl.cpp
Labels: feature, s:accepted
