Repository SFML/SFML, pull requests merged in 2022-08, with the labels that each got.

#2175 Fix SoundStream::play to restart the sound if it was played before
  src/SFML/Audio/SoundStream.cpp
Labels: bug, m:sfml-audio, s:accepted

#2174 Require CMake 3.16 for ObjC and ObjC++ sources
  CMakeLists.txt
  examples/cocoa/CMakeLists.txt
  src/SFML/Main/CMakeLists.txt
  src/SFML/Window/CMakeLists.txt
Labels: feature, m:sfml-window, p:macos, s:accepted, m:config

#2161 Add tests for SFML/Config.hpp
  test/CMakeLists.txt
  test/System/Config.cpp
Labels: feature, s:accepted, m:unittest

#2163 Simplify how warnings are ignored on Apple platforms
  examples/cocoa/CocoaAppDelegate.mm
  src/SFML/Audio/ALCheck.cpp
  src/SFML/Audio/ALCheck.hpp
  src/SFML/Audio/AudioDevice.cpp
  src/SFML/Audio/Music.cpp
  src/SFML/Audio/Sound.cpp
  src/SFML/Audio/SoundBuffer.cpp
  src/SFML/Audio/SoundRecorder.cpp
  src/SFML/Audio/SoundSource.cpp
  src/SFML/Audio/SoundStream.cpp
  src/SFML/Window/Android/SensorImpl.cpp
  src/SFML/Window/OSX/CursorImpl.mm
  src/SFML/Window/OSX/SFApplication.m
  src/SFML/Window/OSX/SFApplicationDelegate.m
  src/SFML/Window/OSX/SFContext.mm
  src/SFML/Window/OSX/SFKeyboardModifiersHelper.mm
  src/SFML/Window/OSX/SFOpenGLView+keyboard.mm
  src/SFML/Window/OSX/SFOpenGLView+mouse.mm
  src/SFML/Window/OSX/SFOpenGLView.h
  src/SFML/Window/OSX/SFOpenGLView.mm
  src/SFML/Window/OSX/SFViewController.mm
  src/SFML/Window/OSX/SFWindowController.mm
  src/SFML/Window/OSX/WindowImplCocoa.hpp
  src/SFML/Window/OSX/WindowImplDelegateProtocol.h
  src/SFML/Window/OSX/cg_sf_conversion.mm
  src/SFML/Window/iOS/EaglContext.hpp
  src/SFML/Window/iOS/EaglContext.mm
  src/SFML/Window/iOS/SFAppDelegate.mm
  src/SFML/Window/iOS/SFView.mm
  src/SFML/Window/iOS/WindowImplUIKit.mm
Labels: feature, p:macos, s:accepted, m:config

#2179 Enable compiler warnings for Android
  cmake/CompilerWarnings.cmake
  src/SFML/Main/MainAndroid.cpp
  src/SFML/Main/SFMLActivity.cpp
Labels: feature, s:accepted, p:android, m:config

#2181 Set warnings with `target_compile_options`
  cmake/CompilerWarnings.cmake
Labels: feature, s:accepted, m:config
