Repository SFML/SFML, pull requests merged in 2022-06, with the labels that each got.

#2111 Include '<utility>' for 'std::exchange'
  src/SFML/Audio/ALCheck.cpp
Labels: bug, m:sfml-audio, s:accepted, p:windows

#2112 Merge 2.6.x to master
  src/SFML/Graphics/Text.cpp
  src/SFML/Network/Http.cpp
Labels: bug, s:accepted

#2110 Add tests for `sf::RenderStates`
  test/CMakeLists.txt
  test/Graphics/RenderStates.cpp
Labels: feature, s:accepted, m:unittest

#2116 Remove implicitly defined `sf::Image` special member functions
  include/SFML/Graphics/Image.hpp
  src/SFML/Graphics/Image.cpp
Labels: feature, m:sfml-graphics, s:accepted

#2119 Limit the scope of event object
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  doc/mainpage.hpp
  examples/android/app/src/main/jni/main.cpp
  examples/island/Island.cpp
  examples/joystick/Joystick.cpp
  examples/opengl/OpenGL.cpp
  examples/shader/Shader.cpp
  examples/tennis/Tennis.cpp
  examples/vulkan/Vulkan.cpp
  examples/window/Window.cpp
  include/SFML/Graphics/RenderWindow.hpp
  include/SFML/Window/Clipboard.hpp
  include/SFML/Window/Event.hpp
  include/SFML/Window/Window.hpp
  include/SFML/Window/WindowBase.hpp
  tools/xcode/templates/SFML/SFML App.xctemplate/main.cpp
  tools/xcode/templates/SFML/SFML CLT.xctemplate/main.cpp
Labels: feature, m:sfml-window, s:accepted

#2115 SFML/Graphics/Text.cpp: Compare utf32-characters to utf32 character literals consistently
  src/SFML/Graphics/Text.cpp
Labels: bug, m:sfml-system, s:accepted

#2137 'sf::Image::copy' returns a 'bool' to signal success/failure
  include/SFML/Graphics/Image.hpp
  src/SFML/Graphics/Image.cpp
  test/Graphics/Image.cpp
Labels: feature, m:sfml-graphics, s:accepted

#2141 Replace 'TcpSocket::send' local buffer with data member
  include/SFML/Network/TcpSocket.hpp
  src/SFML/Network/TcpSocket.cpp
Labels: feature, m:sfml-network, s:accepted

#2144 Simplify `sf::IpAddress` implementation
  include/SFML/Network/IpAddress.hpp
  src/SFML/Network/IpAddress.cpp
Labels: feature, m:sfml-network, s:accepted

#2149 Remove unused `<string>` include from `Texture.hpp`
  include/SFML/Graphics/Texture.hpp
Labels: feature, m:sfml-graphics, s:accepted

#2150 Remove trailing whitespace
  cmake/toolchains/iOS.toolchain.cmake
  examples/android/build.gradle
  examples/opengl/OpenGL.cpp
  src/SFML/Window/OSX/CursorImpl.mm
  src/SFML/Window/OSX/SFOpenGLView+mouse.mm
  test/Graphics/RenderStates.cpp
Labels: feature, s:accepted

#2152 Add tests for `sf::MemoryInputStream`
  test/CMakeLists.txt
  test/System/MemoryInputStream.cpp
Labels: feature, s:accepted, m:unittest
