Repository SFML/SFML, pull requests merged in 2022-03, with the labels that each got.

#2032 Use 'ccache' if available
  CMakeLists.txt
Labels: feature, s:accepted, m:config

#2034 Use new sf::Vector2<T> utilities
  src/SFML/Graphics/Shape.cpp
Labels: feature, m:sfml-graphics, s:accepted

#2036 Mark external headers as SYSTEM headers
  src/SFML/Window/CMakeLists.txt
  test/CMakeLists.txt
Labels: feature, s:accepted, m:config

#1941 Prevent crash in Unix `JoystickImpl` with too many file descriptors
  src/SFML/Window/Unix/JoystickImpl.cpp
Labels: bug, m:sfml-window, s:accepted, p:linux

#2040 Fixes compilation error on MacOS
  src/SFML/Window/OSX/SFWindowController.mm
Labels: bug, m:sfml-window, p:macos, s:accepted

#2035 Add tests for sf::VertexArray
  test/CMakeLists.txt
  test/Graphics/VertexArray.cpp
Labels: feature, s:accepted, m:unittest

#2048 Fix `-Wmissing-braces` warning under clang (for SFML 2.6)
  src/SFML/Window/Win32/WindowImplWin32.cpp
Labels: feature, m:sfml-system, s:accepted

#2051 Remove empty file
  src/SFML/System/Time.cpp
Labels: bug, m:sfml-system, s:accepted

#2052 Honor `OPTIONAL_COMPONENTS` when finding SFML
  cmake/SFMLConfig.cmake.in
Labels: feature, s:accepted, m:config

#2054 Move `sf::Rect` printer to GraphicsUtil
  test/TestUtilities/GraphicsUtil.hpp
  test/TestUtilities/WindowUtil.hpp
Labels: feature, s:accepted, m:unittest
