Repository SFML/SFML, pull requests merged in 2023-11, with the labels that each got.

#2759 Manage memory with `std::unique_ptr`
  src/SFML/Graphics/Image.cpp
Labels: feature, m:sfml-graphics

#2758 Fixed sockets not closing before being moved into
  src/SFML/Network/Socket.cpp
Labels: bug, m:sfml-network

#2692 Use more `sf::Vector` operations
  examples/shader/Shader.cpp
  src/SFML/Graphics/Font.cpp
  src/SFML/Graphics/Image.cpp
  src/SFML/Graphics/RenderTarget.cpp
  src/SFML/Graphics/Shape.cpp
  src/SFML/Graphics/View.cpp
  src/SFML/Window/Android/WindowImplAndroid.cpp
  src/SFML/Window/WindowBase.cpp
Labels: feature

#2760 Backmerge 2.6.x
  changelog.md
Labels: feature

#2722 Added support for running the GitHub actions workflow using CCache
  .github/workflows/ci.yml
  CMakeLists.txt
Labels: feature, m:config

#2761 Perform the majority of GitHub Actions workflow MSVC building using Ninja
  .github/workflows/ci.yml
Labels: feature, m:config

#2764 Add more `readability-identifier-naming` rules
  .clang-tidy
  examples/vulkan/Vulkan.cpp
  include/SFML/Network/TcpSocket.hpp
  src/SFML/Network/TcpSocket.cpp
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/WindowImpl.cpp
  src/SFML/Window/iOS/SFAppDelegate.mm
  src/SFML/Window/iOS/SFView.mm
  src/SFML/Window/macOS/AutoreleasePoolWrapper.hpp
  src/SFML/Window/macOS/AutoreleasePoolWrapper.mm
  src/SFML/Window/macOS/SFOpenGLView.h
  src/SFML/Window/macOS/SFViewController.h
  src/SFML/Window/macOS/SFWindowController.h
Labels: feature, m:config

#2762 Add tests for how outlines change the bounds of an `sf::Shape`
  test/Graphics/Shape.test.cpp
Labels: feature, m:sfml-graphics, m:unittest

#2767 Remove references to C compilers
  .github/workflows/ci.yml
  CMakeLists.txt
  src/SFML/Window/CMakeLists.txt
Labels: feature, m:config

#2765 Embed MSVC debugging information when building using a compiler launcher
  .github/workflows/ci.yml
  CMakeLists.txt
Labels: feature, m:config

#2768 Upgrade to Android NDK r24
  .github/workflows/ci.yml
Labels: feature, p:android, m:config

#2772 Remove declaration of unimplemented function
  include/SFML/Window/Window.hpp
Labels: feature, m:sfml-window

#2771 Use `inline` to define constant in header
  include/SFML/Audio/SoundFileFactory.hpp
  include/SFML/System/String.hpp
  src/SFML/Audio/SoundFileFactory.cpp
  src/SFML/System/String.cpp
Labels: feature, m:sfml-system, m:config

#2773 Replace `std::memcpy` with a more expressive alternative
  examples/voip/Server.cpp
  src/SFML/Network/Packet.cpp
Labels: feature, m:sfml-network, m:example

#2774 Fixed window tests not accepting a context with better than requested settings
  test/Window/Window.test.cpp
Labels: bug, m:sfml-window

#2775 Added missing VS_DEBUGGER_WORKING_DIRECTORY to sfml_add_test macro
  cmake/Macros.cmake
Labels: bug, p:windows, m:unittest

#2777 Don't enable/disable non-existant GL_FRAMEBUFFER_SRGB on OpenGL ES
  src/SFML/Graphics/RenderTarget.cpp
Labels: bug, m:sfml-graphics

#2780 Fix incorrect variable expansion
  CMakeLists.txt
Labels: bug, p:macos, m:config

#2782 Add tests for `sf::Image::loadFromMemory`
  test/Graphics/Image.test.cpp
Labels: feature, m:sfml-graphics, m:unittest

#2776 Add `sf::Rect<T>::getCenter()`
  include/SFML/Graphics/Rect.hpp
  include/SFML/Graphics/Rect.inl
  src/SFML/Graphics/Shape.cpp
  src/SFML/Graphics/View.cpp
  test/Graphics/Rect.test.cpp
Labels: feature, m:sfml-graphics

#2781 Abort looping in SoundStream::streamData if an OpenAL error occurs that would have caused it to never terminate
  src/SFML/Audio/ALCheck.cpp
  src/SFML/Audio/ALCheck.hpp
  src/SFML/Audio/SoundStream.cpp
Labels: bug, m:sfml-audio

#2784 Test class templates with multiple template types
  test/Graphics/Rect.test.cpp
  test/System/Vector2.test.cpp
  test/System/Vector3.test.cpp
Labels: feature, m:unittest

#2785 Fix `sf::Rect` docs
  include/SFML/Graphics/Rect.hpp
Labels: bug, m:sfml-graphics

#2786 Add tests for various `loadFromStream()` functions
  test/Graphics/Font.test.cpp
  test/Graphics/Image.test.cpp
  test/Graphics/Shader.test.cpp
  test/Graphics/Texture.test.cpp
Labels: feature, m:unittest

#2788 Remove leading newlines
  doc/CMakeLists.txt
  src/SFML/Audio/CMakeLists.txt
  src/SFML/CMakeLists.txt
  src/SFML/Graphics/CMakeLists.txt
  src/SFML/Main/CMakeLists.txt
  src/SFML/Network/CMakeLists.txt
  src/SFML/System/CMakeLists.txt
  src/SFML/Window/CMakeLists.txt
Labels: bug, m:config

#2787 Remove compatibility measures with FindSFML.cmake
  src/SFML/Main/CMakeLists.txt
Labels: bug, m:config

#2789 Add changelog entries for SFML 2.6.x
  changelog.md
Labels: feature, m:doc

#2792 Default all `sf::Font` special member functions
  include/SFML/Graphics/Font.hpp
  src/SFML/Graphics/Font.cpp
  test/Graphics/Font.test.cpp
Labels: bug, m:sfml-graphics, p:android

#1451 Added support for scissor testing.
  include/SFML/Graphics/RenderTarget.hpp
  include/SFML/Graphics/View.hpp
  src/SFML/Graphics/RenderTarget.cpp
  src/SFML/Graphics/RenderTextureImplFBO.cpp
  src/SFML/Graphics/Texture.cpp
  src/SFML/Graphics/View.cpp
  test/Graphics/View.test.cpp
Labels: feature, m:sfml-graphics

#2794 Use `std::array` to reduce code duplication
  include/SFML/Graphics/RenderTarget.hpp
  include/SFML/Graphics/Sprite.hpp
  include/SFML/Graphics/Transform.hpp
  include/SFML/Graphics/Transform.inl
  src/SFML/Graphics/RenderTarget.cpp
  src/SFML/Graphics/Sprite.cpp
Labels: feature

#2797 Remove unused CMake variable
  src/SFML/Graphics/CMakeLists.txt
Labels: bug, m:config

#2796 Remove unnecessary preprocessor conditionals
  src/SFML/Main/MainAndroid.cpp
  src/SFML/Main/MainWin32.cpp
  src/SFML/Main/MainiOS.mm
Labels: feature, m:sfml-system

#2795 Use `sf::Rect<T>::getCenter()` in more places
  examples/cocoa/CocoaAppDelegate.mm
  src/SFML/Graphics/Text.cpp
Labels: feature, m:sfml-graphics

#2798 Implicitly define default constructors
  include/SFML/Graphics/Shape.hpp
  include/SFML/System/MemoryInputStream.hpp
  src/SFML/Audio/SoundFileReaderFlac.cpp
  src/SFML/Audio/SoundFileReaderFlac.hpp
  src/SFML/Audio/SoundFileReaderOgg.cpp
  src/SFML/Audio/SoundFileReaderOgg.hpp
  src/SFML/Audio/SoundFileReaderWav.cpp
  src/SFML/Audio/SoundFileReaderWav.hpp
  src/SFML/Audio/SoundFileWriterFlac.cpp
  src/SFML/Audio/SoundFileWriterFlac.hpp
  src/SFML/Audio/SoundFileWriterOgg.cpp
  src/SFML/Audio/SoundFileWriterOgg.hpp
  src/SFML/Audio/SoundFileWriterWav.cpp
  src/SFML/Audio/SoundFileWriterWav.hpp
  src/SFML/Graphics/Shape.cpp
  src/SFML/System/MemoryInputStream.cpp
Labels: feature

#2799 Remove unnecessary `reinterpret_cast`s
  examples/X11/X11.cpp
  examples/opengl/OpenGL.cpp
  examples/window/Window.cpp
  src/SFML/Graphics/GLExtensions.cpp
Labels: feature, m:sfml-graphics

#2800 Add tests for `sf::SoundFileFactory`
  test/Audio/SoundFileFactory.test.cpp
  test/Audio/ding.flac
  test/Audio/ding.mp3
  test/Audio/doodle_pop.ogg
  test/Audio/killdeer.wav
  test/CMakeLists.txt
Labels: feature, m:sfml-audio, m:unittest

#2801 Modernize memory management of FLAC pointers
  src/SFML/Audio/SoundFileReaderFlac.cpp
  src/SFML/Audio/SoundFileReaderFlac.hpp
  src/SFML/Audio/SoundFileWriterFlac.cpp
  src/SFML/Audio/SoundFileWriterFlac.hpp
Labels: feature, m:sfml-audio

#2806 Cleanup `sf::FileInputStream` implementation
  src/SFML/System/FileInputStream.cpp
Labels: bug, m:sfml-system

#2803 Prefer `std::optional` return types over output parameters
  include/SFML/Audio/SoundFileReader.hpp
  src/SFML/Audio/InputSoundFile.cpp
  src/SFML/Audio/SoundFileReaderFlac.cpp
  src/SFML/Audio/SoundFileReaderFlac.hpp
  src/SFML/Audio/SoundFileReaderMp3.cpp
  src/SFML/Audio/SoundFileReaderMp3.hpp
  src/SFML/Audio/SoundFileReaderOgg.cpp
  src/SFML/Audio/SoundFileReaderOgg.hpp
  src/SFML/Audio/SoundFileReaderWav.cpp
  src/SFML/Audio/SoundFileReaderWav.hpp
Labels: feature, m:sfml-audio

#2807 Replace raw loops with standard algorithm
  include/SFML/Audio/SoundFileFactory.hpp
  include/SFML/Audio/SoundFileFactory.inl
  src/SFML/Window/Win32/JoystickImpl.cpp
Labels: feature, m:sfml-window, m:sfml-audio

#2809 Remove leading newlines
  examples/X11/X11.cpp
  examples/ftp/Ftp.cpp
  examples/island/Island.cpp
  examples/joystick/Joystick.cpp
  examples/opengl/OpenGL.cpp
  examples/shader/Shader.cpp
  examples/sockets/Sockets.cpp
  examples/sockets/TCP.cpp
  examples/sockets/UDP.cpp
  examples/sound/Sound.cpp
  examples/sound_capture/SoundCapture.cpp
  examples/tennis/Tennis.cpp
  examples/voip/Client.cpp
  examples/voip/Server.cpp
  examples/voip/VoIP.cpp
  examples/vulkan/Vulkan.cpp
  examples/win32/Win32.cpp
  tools/xcode/templates/SFML/SFML App.xctemplate/main.cpp
  tools/xcode/templates/SFML/SFML CLT.xctemplate/main.cpp
  tools/xcode/templates/readme.txt
Labels: feature, m:example

#2810 Remove some references to SFML 2
  src/SFML/Window/macOS/SFContext.mm
  tools/xcode/templates/SFML/SFML App.xctemplate/TemplateInfo.plist.in
  tools/xcode/templates/SFML/SFML CLT.xctemplate/TemplateInfo.plist
  tools/xcode/templates/readme.txt
Labels: bug, m:doc

#2808 Avoid taking lock when not necessary
  src/SFML/Graphics/RenderTextureImplFBO.cpp
Labels: bug, m:sfml-graphics
