Repository SFML/SFML, pull requests merged in 2023-02, with the labels that each got.

#2386 Use `std::string_view` for parameter type
  src/SFML/Audio/ALCheck.cpp
  src/SFML/Audio/ALCheck.hpp
  src/SFML/Graphics/GLCheck.cpp
  src/SFML/Graphics/GLCheck.hpp
  src/SFML/Window/EGLCheck.cpp
  src/SFML/Window/EGLCheck.hpp
Labels: feature, s:accepted

#2392 Use X11's find module
  cmake/SFMLConfigDependencies.cmake.in
  examples/X11/CMakeLists.txt
  src/SFML/Window/CMakeLists.txt
Labels: feature, m:sfml-window, s:accepted

#2398 Explicitly specify required X11 components
  cmake/SFMLConfigDependencies.cmake.in
  src/SFML/Window/CMakeLists.txt
Labels: bug, m:sfml-window, s:accepted, p:linux, m:config

#2397 Build sfml-main with position-independent code
  src/SFML/Main/CMakeLists.txt
Labels: feature, s:accepted

#2400 Support installing with static libraries and DRM backend
  cmake/SFMLConfigDependencies.cmake.in
Labels: feature, m:sfml-window, s:accepted, p:linux

#2401 Feature/backmerge
  .github/workflows/ci.yml
  cmake/SFMLConfigDependencies.cmake.in
  license.md
  src/SFML/Main/CMakeLists.txt
  src/SFML/Window/DRM/DRMContext.cpp
  src/SFML/Window/DRM/DRMContext.hpp
  src/SFML/Window/DRM/VideoModeImpl.cpp
  src/SFML/Window/DRM/WindowImplDRM.cpp
  src/SFML/Window/DRM/WindowImplDRM.hpp
Labels: feature, s:accepted

#2388 Simplify implementation of `sf::Clock`
  include/SFML/System/Clock.hpp
  src/SFML/System/Clock.cpp
Labels: feature, m:sfml-system, s:accepted

#2404 Assert extension string is not null
  src/SFML/Window/GlContext.cpp
Labels: bug, m:sfml-window, s:accepted

#2405 Add tests for `sf::VertexBuffer`
  test/Graphics/VertexBuffer.test.cpp
Labels: feature, m:sfml-graphics, s:accepted, m:unittest

#2412 Disable unreliable tests
  test/Graphics/VertexBuffer.test.cpp
  test/Window/Cursor.test.cpp
Labels: bug, s:accepted, m:unittest

#2411 Add `modernize-use-auto` clang-tidy check
  .clang-tidy
  src/SFML/Audio/SoundFileReaderMp3.cpp
  src/SFML/Graphics/Image.cpp
  src/SFML/Network/Ftp.cpp
  src/SFML/Network/Packet.cpp
  src/SFML/Window/DRM/DRMContext.cpp
  src/SFML/Window/OSX/HIDInputManager.mm
  src/SFML/Window/OSX/HIDJoystickManager.cpp
  src/SFML/Window/OSX/JoystickImpl.cpp
  src/SFML/Window/OSX/SFWindowController.mm
  src/SFML/Window/OSX/VideoModeImpl.cpp
  src/SFML/Window/OSX/cpp_objc_conversion.mm
  src/SFML/Window/Unix/KeyboardImpl.cpp
  src/SFML/Window/Win32/InputImpl.cpp
  test/Graphics/Color.test.cpp
Labels: feature, s:accepted, m:config

#2418 Test install interface with frameworks
  .github/workflows/ci.yml
Labels: feature, p:macos, m:unittest

#2421 Fix `sf::Rect` docs
  include/SFML/Graphics/Rect.hpp
  include/SFML/Graphics/Sprite.hpp
  include/SFML/Graphics/Transform.hpp
  include/SFML/Graphics/View.hpp
Labels: bug, m:sfml-graphics, s:accepted, m:doc

#2425 Remove unused headers and reduce physical dependencies
  include/SFML/Audio/InputSoundFile.hpp
  include/SFML/Audio/Music.hpp
  include/SFML/Audio/OutputSoundFile.hpp
  include/SFML/Audio/SoundFileFactory.hpp
  include/SFML/Audio/SoundFileWriter.hpp
  include/SFML/Graphics/Image.hpp
  include/SFML/Graphics/Text.hpp
  include/SFML/System/FileInputStream.hpp
  include/SFML/System/String.hpp
  include/SFML/System/Utf.hpp
  src/SFML/Audio/SoundFileWriterWav.hpp
  src/SFML/Graphics/Image.cpp
  src/SFML/Window/DRM/ClipboardImpl.cpp
  src/SFML/Window/DRM/ClipboardImpl.hpp
  src/SFML/Window/Win32/VulkanImplWin32.cpp
Labels: feature

#2417 Allow setting window icon with `sf::Image`
  include/SFML/Graphics/RenderWindow.hpp
  src/SFML/Graphics/RenderWindow.cpp
Labels: feature, m:sfml-graphics, s:accepted
