Repository SFML/SFML, pull requests merged in 2023-12, with the labels that each got.

#2816 Fix `sf::Context::setActive` bug
  src/SFML/Window/Context.cpp
  test/Window/Context.test.cpp
Labels: bug, m:sfml-window

#2805 Add move semantics to `sf::Context`
  include/SFML/Window/Context.hpp
  src/SFML/Window/Context.cpp
  test/Window/Context.test.cpp
Labels: feature, m:sfml-window

#2817 Fix typos
  src/SFML/Window/Android/WindowImplAndroid.hpp
  src/SFML/Window/DRM/WindowImplDRM.hpp
  src/SFML/Window/Unix/WindowImplX11.hpp
  src/SFML/Window/iOS/WindowImplUIKit.hpp
  src/SFML/Window/macOS/WindowImplCocoa.hpp
Labels: bug, m:doc

#2819 Remove unused forward declaration
  src/SFML/Window/WindowImpl.hpp
Labels: bug, m:sfml-window

#2820 Default special member functions in header
  include/SFML/Audio/SoundRecorder.hpp
  include/SFML/Audio/SoundStream.hpp
  include/SFML/Graphics/BlendMode.hpp
  include/SFML/Graphics/RenderStates.hpp
  include/SFML/Graphics/RenderWindow.hpp
  include/SFML/Graphics/Shader.hpp
  include/SFML/Graphics/Transformable.hpp
  include/SFML/Graphics/VertexArray.hpp
  include/SFML/Graphics/VertexBuffer.hpp
  include/SFML/Network/Packet.hpp
  include/SFML/System/String.hpp
  include/SFML/Window/VideoMode.hpp
  src/SFML/Audio/SoundRecorder.cpp
  src/SFML/Audio/SoundStream.cpp
  src/SFML/Graphics/BlendMode.cpp
  src/SFML/Graphics/RenderStates.cpp
  src/SFML/Graphics/RenderWindow.cpp
  src/SFML/Graphics/Shader.cpp
  src/SFML/Graphics/Transformable.cpp
  src/SFML/Graphics/VertexArray.cpp
  src/SFML/Graphics/VertexBuffer.cpp
  src/SFML/Network/Packet.cpp
  src/SFML/System/Android/Activity.cpp
  src/SFML/System/Android/Activity.hpp
  src/SFML/System/String.cpp
  src/SFML/Window/VideoMode.cpp
  src/SFML/Window/macOS/CursorImpl.hpp
  src/SFML/Window/macOS/CursorImpl.mm
Labels: feature, m:sfml-network

#2823 Use ranged for loop
  src/SFML/Graphics/Text.cpp
Labels: feature, m:sfml-graphics

#2821 Issue CMake Warning when using UCRT MinGW
  CMakeLists.txt
  cmake/Config.cmake
Labels: bug, p:windows, m:config

#2825 Unify TODO comment style for better searchability
  src/SFML/Window/Android/InputImpl.cpp
  src/SFML/Window/Android/WindowImplAndroid.cpp
  src/SFML/Window/DRM/WindowImplDRM.cpp
  src/SFML/Window/WindowImpl.cpp
  src/SFML/Window/iOS/WindowImplUIKit.mm
Labels: bug

#2826 Update Catch2
  test/CMakeLists.txt
Labels: feature, m:unittest

#2827 Feature/backmerge
  CMakeLists.txt
  changelog.md
  cmake/Config.cmake
Labels: feature

#2829 Remove unnecessary `sf::` namespaces
  src/SFML/Window/DRM/InputImpl.cpp
  src/SFML/Window/DRM/VideoModeImpl.cpp
  src/SFML/Window/DRM/WindowImplDRM.cpp
Labels: bug, m:sfml-window

#2830 Simplify `sf::View` construction
  include/SFML/Graphics/View.hpp
  src/SFML/Graphics/View.cpp
Labels: feature, m:sfml-graphics

#2831 Remove unused variable
  src/SFML/Main/CMakeLists.txt
Labels: bug, m:config

#2832 Fix CMake formatting
  cmake/Macros.cmake
  src/SFML/Window/CMakeLists.txt
Labels: bug, m:config

#2833 Implement predicate with lambdas
  src/SFML/Window/macOS/JoystickImpl.cpp
Labels: bug, m:sfml-window

#2834 Add readability-containers-contains clang-tidy check
  .clang-tidy
Labels: feature, m:config

#2835 Fix pkg-config support on Nix
  CMakeLists.txt
  changelog.md
  tools/pkg-config/sfml-all.pc.in
  tools/pkg-config/sfml-audio.pc.in
  tools/pkg-config/sfml-graphics.pc.in
  tools/pkg-config/sfml-network.pc.in
  tools/pkg-config/sfml-system.pc.in
  tools/pkg-config/sfml-window.pc.in
Labels: bug, m:config

#2838 Rename XButton1 and XButton2 into Extra1 and Extra2
  include/SFML/Window/Mouse.hpp
  src/SFML/Window/DRM/InputImpl.cpp
  src/SFML/Window/Unix/InputImpl.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Win32/InputImpl.cpp
  src/SFML/Window/Win32/WindowImplWin32.cpp
  src/SFML/Window/macOS/SFOpenGLView+mouse.mm
Labels: feature, m:sfml-window

#2840 Remove `static_cast`s
  src/SFML/Window/macOS/Scaling.h
  src/SFML/Window/macOS/cg_sf_conversion.hpp
  src/SFML/Window/macOS/cg_sf_conversion.mm
Labels: m:sfml-window, p:macos

#2839 Add EnumArray to implement enum-indexed arrays
  src/SFML/System/Android/Activity.hpp
  src/SFML/System/CMakeLists.txt
  src/SFML/System/EnumArray.hpp
  src/SFML/Window/Android/InputImpl.cpp
  src/SFML/Window/Android/SensorImpl.cpp
  src/SFML/Window/Android/SensorImpl.hpp
  src/SFML/Window/Android/WindowImplAndroid.cpp
  src/SFML/Window/DRM/InputImpl.cpp
  src/SFML/Window/FreeBSD/JoystickImpl.cpp
  src/SFML/Window/Joystick.cpp
  src/SFML/Window/JoystickImpl.hpp
  src/SFML/Window/NetBSD/JoystickImpl.cpp
  src/SFML/Window/SensorManager.cpp
  src/SFML/Window/SensorManager.hpp
  src/SFML/Window/Unix/JoystickImpl.cpp
  src/SFML/Window/Win32/JoystickImpl.cpp
  src/SFML/Window/Win32/JoystickImpl.hpp
  src/SFML/Window/WindowImpl.cpp
  src/SFML/Window/WindowImpl.hpp
  src/SFML/Window/macOS/JoystickImpl.cpp
Labels: feature, m:sfml-window

#2842 Print out new video mode when current mode is rejected
  src/SFML/Window/Window.cpp
  src/SFML/Window/WindowBase.cpp
Labels: feature, m:sfml-window

#2844 Fix typos
  examples/island/Island.cpp
  examples/voip/Client.cpp
  src/SFML/Window/macOS/HIDInputManager.mm
Labels: bug, m:sfml-window

#2845 Remove unhelpful return values
  include/SFML/Window/WindowBase.hpp
  src/SFML/Audio/SoundFileWriterWav.cpp
  src/SFML/Audio/SoundFileWriterWav.hpp
  src/SFML/Window/WindowBase.cpp
Labels: bug

#2846 Remove reference to SFML 2
  src/SFML/Network/Http.cpp
Labels: bug, m:sfml-network

#2847 Remove unused function
  src/SFML/Window/CMakeLists.txt
  src/SFML/Window/macOS/WindowImplCocoa.mm
  src/SFML/Window/macOS/cpp_objc_conversion.h
  src/SFML/Window/macOS/cpp_objc_conversion.mm
Labels: bug, m:sfml-window, p:macos

#2848 Remove unused function
  src/SFML/Window/macOS/cg_sf_conversion.hpp
  src/SFML/Window/macOS/cg_sf_conversion.mm
Labels: bug, m:sfml-window, p:macos

#2849 Remove Key::Last and Scan::Last enumerators
  include/SFML/Window/Keyboard.hpp
Labels: feature, m:sfml-window

#2850 Make Keyboard::Key a scoped enumeration
  examples/android/app/src/main/jni/main.cpp
  examples/cocoa/CocoaAppDelegate.mm
  examples/island/Island.cpp
  examples/joystick/Joystick.cpp
  examples/opengl/OpenGL.cpp
  examples/shader/Shader.cpp
  examples/tennis/Tennis.cpp
  examples/vulkan/Vulkan.cpp
  examples/window/Window.cpp
  include/SFML/Window/Clipboard.hpp
  include/SFML/Window/Event.hpp
  include/SFML/Window/Keyboard.hpp
  src/SFML/Window/Android/InputImpl.cpp
  src/SFML/Window/Android/WindowImplAndroid.cpp
  src/SFML/Window/DRM/InputImpl.cpp
  src/SFML/Window/Unix/KeySymToKeyMapping.cpp
  src/SFML/Window/Unix/KeyboardImpl.cpp
  src/SFML/Window/Win32/InputImpl.cpp
  src/SFML/Window/Win32/WindowImplWin32.cpp
  src/SFML/Window/iOS/InputImpl.mm
  src/SFML/Window/macOS/HIDInputManager.hpp
  src/SFML/Window/macOS/HIDInputManager.mm
  src/SFML/Window/macOS/SFKeyboardModifiersHelper.mm
  src/SFML/Window/macOS/SFOpenGLView+keyboard.mm
  src/SFML/Window/macOS/SFOpenGLView+keyboard_priv.h
  test/Window/Keyboard.test.cpp
  tools/xcode/templates/SFML/SFML App.xctemplate/main.cpp
  tools/xcode/templates/SFML/SFML CLT.xctemplate/main.cpp
Labels: feature, m:sfml-window

#2852 Fix incorrect assertion comment
  include/SFML/System/Angle.inl
Labels: bug, m:sfml-system

#2854 Use `sf::Vector2<T>` conversion constructor
  examples/cocoa/CocoaAppDelegate.mm
Labels: bug, m:example

#2855 Use more in-class member initializers
  examples/cocoa/CocoaAppDelegate.mm
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Unix/WindowImplX11.hpp
Labels: feature

#2856 Remove redundant link libraries
  examples/cocoa/CMakeLists.txt
Labels: bug, p:macos, m:example

#2857 Fix Cocoa example clang-tidy errors
  examples/cocoa/CocoaAppDelegate.h
  examples/cocoa/CocoaAppDelegate.mm
  examples/cocoa/NSString+stdstring.mm
Labels: bug, p:macos

#2858 Use `struct` for type with exclusively public contents
  include/SFML/System/SuspendAwareClock.hpp
Labels: feature, m:sfml-system

#2859 Use vectors for expressing size parameters
  src/SFML/Window/macOS/SFViewController.mm
  src/SFML/Window/macOS/SFWindowController.mm
  src/SFML/Window/macOS/WindowImplCocoa.mm
  src/SFML/Window/macOS/WindowImplDelegateProtocol.h
Labels: feature, m:sfml-window, p:macos

#2861 Delete unnecessary destructor
  examples/shader/Effect.hpp
Labels: bug, m:example

#2864 Add tests for `sf::Ftp`
  test/Network/Ftp.test.cpp
Labels: feature, m:sfml-network, m:unittest

#2863 Improve `sf::Packet` test coverage
  test/Network/Packet.test.cpp
Labels: feature, m:sfml-network, m:unittest

#2867 Use `std::` namespace
  src/SFML/Window/Unix/Display.cpp
Labels: feature, m:sfml-window, p:linux

#2869 Fix shader loading check for empty streams
  src/SFML/Graphics/Shader.cpp
Labels: bug, m:sfml-graphics
