Repository SFML/SFML, pull requests merged in 2023-10, with the labels that each got.

#2710 Fix MinGW CI jobs
  .github/workflows/ci.yml
Labels: bug, m:config

#2714 Remove Intel oneAPI CI jobs
  .github/workflows/ci.yml
Labels: bug, m:config

#2715 Only install MinGW when necessary
  .github/workflows/ci.yml
Labels: feature, m:config

#2717 Fix CMake minimum required version being too low
  CMakeLists.txt
Labels: bug, m:config

#2723 Fixed compiling on Linux with SFML_OPENGL_ES
  src/SFML/Window/EglContext.cpp
Labels: bug, m:sfml-window, p:linux

#2693 Improve `sf::FileInputStream` test coverage
  test/System/FileInputStream.test.cpp
Labels: feature, m:sfml-system, m:unittest

#2694 Simplify how tests are ran in CI
  .github/workflows/ci.yml
Labels: feature, m:unittest

#2695 Add more tests for `sf::Window`
  test/Window/Window.test.cpp
Labels: feature, m:sfml-window, m:unittest

#2726 Fix FBO RenderTarget tracking
  src/SFML/Graphics/RenderTexture.cpp
Labels: bug, m:sfml-graphics

#2724 Added GitHub Actions jobs to build with OpenGL ES on Linux GCC.
  .github/workflows/ci.yml
  src/SFML/Graphics/RenderTextureImplFBO.cpp
  src/SFML/Graphics/Texture.cpp
Labels: feature, m:config

#2721 Cache packages downloaded when GitHub actions workflow is run.
  .github/workflows/ci.yml
Labels: feature, m:config

#2725 Assert against division by zero in public APIs
  include/SFML/System/Angle.inl
  include/SFML/System/Time.hpp
  include/SFML/System/Time.inl
  include/SFML/System/Vector2.inl
  include/SFML/System/Vector3.inl
Labels: feature, m:sfml-system

#2729 Set Bash as the default shell
  .github/workflows/ci.yml
Labels: feature

#2719 Fixed texture being upside down on Android when copying the texture of a RenderTexture
  src/SFML/Graphics/Texture.cpp
Labels: bug, m:sfml-graphics, p:android

#2730 Fixed RenderTexture being upside down on Android in SFML 2.6 (backport of #2719)
  src/SFML/Graphics/Texture.cpp
Labels: bug, m:sfml-graphics, p:android

#2732 Promote more included CI jobs into the main CI build matrix
  .github/workflows/ci.yml
Labels: feature, m:config

#2733 Add cppcoreguidelines clang-tidy checks
  .clang-tidy
Labels: feature, m:config

#2734 Add `cppcoreguidelines-pro-type-member-init` clang-tidy check
  .clang-tidy
  examples/vulkan/Vulkan.cpp
  include/SFML/Audio/SoundFileFactory.inl
  include/SFML/Audio/SoundSource.hpp
  include/SFML/Graphics/Glsl.inl
  include/SFML/Network/Http.hpp
  include/SFML/Window/Event.hpp
  src/SFML/Graphics/TextureSaver.hpp
  src/SFML/Network/Http.cpp
  src/SFML/Network/IpAddress.cpp
  src/SFML/Network/SocketSelector.cpp
  src/SFML/Network/TcpListener.cpp
  src/SFML/Network/TcpSocket.cpp
  src/SFML/Network/UdpSocket.cpp
  src/SFML/System/Android/Activity.hpp
  src/SFML/System/Android/SuspendAwareClock.cpp
  src/SFML/System/Unix/SleepImpl.cpp
  src/SFML/Window/DRM/InputImpl.cpp
  src/SFML/Window/DRM/WindowImplDRM.cpp
  src/SFML/Window/SensorManager.hpp
  src/SFML/Window/Unix/JoystickImpl.cpp
  src/SFML/Window/Win32/JoystickImpl.cpp
  src/SFML/Window/Win32/JoystickImpl.hpp
  src/SFML/Window/WindowImpl.hpp
  src/SFML/Window/iOS/WindowImplUIKit.hpp
  src/SFML/Window/macOS/HIDInputManager.hpp
  src/SFML/Window/macOS/JoystickImpl.hpp
  src/SFML/Window/macOS/SFKeyboardModifiersHelper.mm
  test/Graphics/Image.test.cpp
Labels: feature, m:config

#2738 Fix `sf::Image` tests
  test/Graphics/Image.test.cpp
Labels: bug, m:unittest

#2740 Prefer C++ standard lib over C standard lib
  src/SFML/Graphics/ImageLoader.cpp
  src/SFML/Main/MainAndroid.cpp
  src/SFML/Window/Win32/ClipboardImpl.cpp
Labels: feature, m:config

#2742 Remove redundant link library
  test/CMakeLists.txt
Labels: feature, m:config, m:unittest

#2747 Fix warnings in Linux OpenGL ES codepaths
  .github/workflows/ci.yml
  changelog.md
  src/SFML/Graphics/RenderTextureImplFBO.cpp
  src/SFML/Graphics/Texture.cpp
Labels: bug, m:sfml-graphics

#2751 Run clang-tidy on OpenGL ES codepaths
  .github/workflows/ci.yml
  src/SFML/Window/EglContext.cpp
Labels: feature, m:sfml-graphics

#2755 Updated the test for the maximum antialiasing level of render texture
  test/Graphics/RenderTexture.test.cpp
Labels: bug, m:sfml-graphics, m:unittest

#2753 Add UBsan to CI
  .github/workflows/ci.yml
  CMakeLists.txt
  test/Graphics/Image.test.cpp
Labels: feature, m:sfml-graphics

#2754 Add more `sf::Image` tests
  test/Graphics/Image.test.cpp
Labels: feature, m:sfml-graphics, m:unittest

#2756 Remove output parameter from `sf::Image::saveToMemory`
  include/SFML/Graphics/Image.hpp
  src/SFML/Graphics/Image.cpp
  src/SFML/Graphics/ImageLoader.cpp
  src/SFML/Graphics/ImageLoader.hpp
  test/Graphics/Image.test.cpp
Labels: feature, m:sfml-graphics

#2743 Manage memory with higher level constructs
  src/SFML/Main/MainAndroid.cpp
  src/SFML/System/Android/Activity.hpp
Labels: feature, m:sfml-system, p:android

#2757 Manually inline all of `sf::priv::ImageLoader`
  src/SFML/Graphics/CMakeLists.txt
  src/SFML/Graphics/Image.cpp
  src/SFML/Graphics/ImageLoader.cpp
  src/SFML/Graphics/ImageLoader.hpp
Labels: feature, m:sfml-graphics

#2718 Added missing SFML_USE_STATIC_STD_LIBS checks to CMake configuration.
  cmake/Macros.cmake
  test/CMakeLists.txt
  test/install/CMakeLists.txt
Labels: bug, m:config

#2739 Unify `SocketImpl` headers
  src/SFML/Network/CMakeLists.txt
  src/SFML/Network/SocketImpl.hpp
  src/SFML/Network/Unix/SocketImpl.cpp
  src/SFML/Network/Unix/SocketImpl.hpp
  src/SFML/Network/Win32/SocketImpl.cpp
  src/SFML/Network/Win32/SocketImpl.hpp
Labels: feature, m:sfml-network
