Repository SFML/SFML, pull requests merged in 2023-06, with the labels that each got.

#2569 Added missing doxygen tag \return and comments related to SFML documentation style.
  src/SFML/Audio/ALCheck.cpp
  src/SFML/Audio/SoundFileReaderWav.hpp
  src/SFML/Window/WindowBase.cpp
Labels: bug, m:doc

#2503 Moved most variables in sfml-graphics, GlResource and GlContext out of namespace scope
  include/SFML/Window/GlResource.hpp
  src/SFML/Graphics/RenderTarget.cpp
  src/SFML/Graphics/RenderTextureImplFBO.cpp
  src/SFML/Graphics/RenderTextureImplFBO.hpp
  src/SFML/Graphics/Shader.cpp
  src/SFML/Graphics/Texture.cpp
  src/SFML/Graphics/VertexBuffer.cpp
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/GlContext.hpp
  src/SFML/Window/GlResource.cpp
  test/Window/GlResource.test.cpp
Labels: bug, m:sfml-window, m:sfml-graphics

#2004 Make `sf::Clock` pausable
  include/SFML/System/Clock.hpp
  src/SFML/System/Clock.cpp
  test/System/Clock.test.cpp
Labels: feature, m:sfml-system

#2571 Add missing "#pragma once" directive to src/SFML/Network/SocketImpl.hpp.
  src/SFML/Network/SocketImpl.hpp
Labels: bug, m:sfml-network

#2576 Replace C++ int types with SFML ones
  src/SFML/Network/IpAddress.cpp
  src/SFML/Network/Packet.cpp
Labels: bug, m:sfml-network

#2579 Merge '2.6.x' to master
  changelog.md
  cmake/SFMLConfig.cmake.in
  doc/doxyfile.in
  src/SFML/Audio/SoundFileReaderMp3.cpp
Labels: feature, m:config

#2581 Update state of developoment in README
  readme.md
Labels: feature, m:doc

#2585 Loosen restrictions on unrecognized compilers
  cmake/Config.cmake
Labels: bug, m:config

#2586 Assert that a video mode exists before trying to use it
  src/SFML/Window/Window.cpp
Labels: feature, m:sfml-window

#2577 Don't overwrite module path
  cmake/Macros.cmake
  src/SFML/CMakeLists.txt
Labels: bug

#2590 Make glyph a struct
  include/SFML/Graphics/Glyph.hpp
Labels: feature, m:sfml-graphics

#2540 Modernize memory management of X11 types
  src/SFML/Window/CMakeLists.txt
  src/SFML/Window/EglContext.cpp
  src/SFML/Window/Unix/CursorImpl.cpp
  src/SFML/Window/Unix/GlxContext.cpp
  src/SFML/Window/Unix/Utils.hpp
  src/SFML/Window/Unix/VideoModeImpl.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
Labels: feature, m:sfml-window, p:linux

#2596 Added assert messages to Vector3 functions
  include/SFML/System/Vector3.inl
  src/SFML/System/Vector3.cpp
Labels: feature, m:sfml-system
