Repository SFML/SFML, pull requests merged in 2024-11, with the labels that each got.

#3295 Add tests for `sf::Listener`
  test/Audio/Listener.test.cpp
  test/CMakeLists.txt
Labels: feature, m:sfml-audio, m:unittest

#3297 Update migration guide
  migration.md
Labels: feature, m:doc

#3299 Add missing backtick
  include/SFML/Graphics/Shape.hpp
Labels: bug, m:doc

#3300 Add missing backtick
  include/SFML/System/Vector2.hpp
Labels: bug, m:doc

#3302 Fix some issues with doxygen comments (bis)
  include/SFML/Audio/Listener.hpp
  include/SFML/Audio/Music.hpp
  include/SFML/Audio/PlaybackDevice.hpp
  include/SFML/Audio/SoundRecorder.hpp
  include/SFML/Graphics/BlendMode.hpp
  include/SFML/Graphics/CircleShape.hpp
  include/SFML/Graphics/ConvexShape.hpp
  include/SFML/Graphics/Font.hpp
  include/SFML/Graphics/Image.hpp
  include/SFML/Graphics/RectangleShape.hpp
  include/SFML/Graphics/RenderTexture.hpp
  include/SFML/Graphics/RenderWindow.hpp
  include/SFML/Graphics/Shader.hpp
  include/SFML/Graphics/Shape.hpp
  include/SFML/Graphics/Sprite.hpp
  include/SFML/Graphics/Text.hpp
  include/SFML/Graphics/Texture.hpp
  include/SFML/Graphics/Transform.hpp
  include/SFML/Graphics/VertexArray.hpp
  include/SFML/Graphics/VertexBuffer.hpp
  include/SFML/Network/Ftp.hpp
  include/SFML/Network/Http.hpp
  include/SFML/Network/IpAddress.hpp
  include/SFML/Network/UdpSocket.hpp
  include/SFML/System/Angle.hpp
  include/SFML/System/String.hpp
  include/SFML/System/Time.hpp
  include/SFML/System/Utf.hpp
  include/SFML/System/Vector2.hpp
  include/SFML/System/Vector3.hpp
  include/SFML/Window/Cursor.hpp
  include/SFML/Window/VideoMode.hpp
  include/SFML/Window/Vulkan.hpp
  include/SFML/Window/Window.hpp
  include/SFML/Window/WindowBase.hpp
Labels: bug, m:doc

#3136 [drm] Fix DRM mode setting to use SFML window dimensions
  src/SFML/Window/DRM/DRMContext.cpp
  src/SFML/Window/DRM/DRMContext.hpp
  src/SFML/Window/DRM/VideoModeImpl.cpp
Labels: bug, m:sfml-window, p:linux

#1559 Wrong fullscreen resolution fix
  src/SFML/Main/MainAndroid.cpp
  src/SFML/System/Android/Activity.hpp
  src/SFML/Window/Android/VideoModeImpl.cpp
Labels: bug, m:sfml-window, p:android

#3303 Close the open window first
  src/SFML/Window/Window.cpp
  src/SFML/Window/WindowBase.cpp
Labels: bug, m:sfml-window

#3307 Add more robust tests for `sf::Music::setLoopPoints`
  test/Audio/Music.test.cpp
Labels: feature, m:sfml-audio, m:unittest

#3312 Remove backticks which are not correctly formatted
  include/SFML/Audio/InputSoundFile.hpp
  include/SFML/Audio/Music.hpp
  include/SFML/Audio/OutputSoundFile.hpp
  include/SFML/Audio/SoundBuffer.hpp
  include/SFML/Graphics/Font.hpp
  include/SFML/Graphics/Image.hpp
  include/SFML/Graphics/RenderTexture.hpp
  include/SFML/Graphics/Shader.hpp
  include/SFML/Graphics/Texture.hpp
  include/SFML/System/FileInputStream.hpp
  include/SFML/Window/Cursor.hpp
Labels: bug, m:doc

#3309 Update v3 changelog
  changelog.md
Labels: feature, m:doc

#3313 Catch changelog up to the current state of trunk branch
  changelog.md
Labels: feature, m:doc

#3310 Fix DRM mode setting to use SFML window dimensions
  changelog.md
  src/SFML/Window/DRM/DRMContext.cpp
  src/SFML/Window/DRM/DRMContext.hpp
  src/SFML/Window/DRM/VideoModeImpl.cpp
Labels: bug, m:sfml-graphics, p:linux

#3316 Feature/backmerge
  changelog.md
  src/SFML/Main/MainAndroid.cpp
  src/SFML/System/Android/Activity.hpp
  src/SFML/Window/Android/VideoModeImpl.cpp
Labels: feature

#3315 Mention the removal of `sf::SoundStream::setProcessingInterval`
  include/SFML/Audio/SoundRecorder.hpp
  migration.md
Labels: feature, m:doc

#3317 Revert "Stop uploading code coverage from non-pull request CI runs"
  .github/workflows/ci.yml
Labels: bug, m:config

#3322 Add keyboard example program
  examples/CMakeLists.txt
  examples/asset_licenses.md
  examples/keyboard/CMakeLists.txt
  examples/keyboard/Keyboard.cpp
  examples/keyboard/resources/Tuffy.ttf
  examples/keyboard/resources/error_005.ogg
  examples/keyboard/resources/mouseclick1.ogg
  examples/keyboard/resources/mouserelease1.ogg
Labels: feature, m:example

#3325 Add missing `sf::SoundSource` tests
  test/Audio/SoundSource.test.cpp
Labels: feature, m:sfml-audio, m:unittest

#3328 Add tests for `sf::Utf`
  test/CMakeLists.txt
  test/System/Utf.test.cpp
Labels: feature, m:sfml-system, m:unittest

#3332 Use `char32_t` for UTF-32 characters
  examples/keyboard/Keyboard.cpp
  include/SFML/Graphics/Font.hpp
  include/SFML/System/Utf.hpp
  include/SFML/System/Utf.inl
  include/SFML/Window/Event.hpp
  src/SFML/Graphics/Font.cpp
  src/SFML/Window/Android/WindowImplAndroid.cpp
  src/SFML/Window/Android/WindowImplAndroid.hpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Win32/WindowImplWin32.cpp
  src/SFML/Window/Win32/WindowImplWin32.hpp
  src/SFML/Window/iOS/SFAppDelegate.hpp
  src/SFML/Window/iOS/SFAppDelegate.mm
  src/SFML/Window/iOS/SFView.mm
  src/SFML/Window/macOS/HIDInputManager.hpp
  src/SFML/Window/macOS/HIDInputManager.mm
  test/System/String.test.cpp
  test/System/Utf.test.cpp
Labels: feature, m:sfml-window
