Repository SFML/SFML, pull requests merged in 2024-08, with the labels that each got.

#3186 Prevent crash when setting empty uniform array
  src/SFML/Graphics/Shader.cpp
Labels: bug, m:sfml-graphics

#3188 Remove use of deprecated `ALooper_pollAll`
  src/SFML/Window/Android/InputImpl.cpp
  src/SFML/Window/Android/SensorImpl.cpp
  src/SFML/Window/Android/WindowImplAndroid.cpp
Labels: bug, m:sfml-window, p:android

#3189 Remove use of deprecated `ALooper_pollAll`
  src/SFML/Window/Android/InputImpl.cpp
  src/SFML/Window/Android/SensorImpl.cpp
  src/SFML/Window/Android/WindowImplAndroid.cpp
Labels: bug, p:android

#3187 renamed getLoop() to isLooping() and setLoop() to setLooping()
  examples/sound_effects/SoundEffects.cpp
  include/SFML/Audio/Music.hpp
  include/SFML/Audio/Sound.hpp
  include/SFML/Audio/SoundStream.hpp
  src/SFML/Audio/Music.cpp
  src/SFML/Audio/Sound.cpp
  src/SFML/Audio/SoundStream.cpp
  test/Audio/Music.test.cpp
  test/Audio/Sound.test.cpp
  test/Audio/SoundStream.test.cpp
Labels: feature, m:sfml-audio

#3191 chore: update catch2 from 3.6.0 to 3.7.0
  test/CMakeLists.txt
Labels: feature, m:unittest

#3190 Mark standard library types as code in doc strings
  include/SFML/Audio/InputSoundFile.hpp
  include/SFML/Audio/Music.hpp
  include/SFML/Audio/OutputSoundFile.hpp
  include/SFML/Audio/PlaybackDevice.hpp
  include/SFML/Audio/SoundBuffer.hpp
  include/SFML/Audio/SoundStream.hpp
  include/SFML/Graphics/Font.hpp
  include/SFML/Graphics/Glsl.inl
  include/SFML/Graphics/Image.hpp
  include/SFML/Graphics/Rect.hpp
  include/SFML/Graphics/RenderTexture.hpp
  include/SFML/Graphics/Shader.hpp
  include/SFML/Graphics/Texture.hpp
  include/SFML/Network/Packet.hpp
  include/SFML/System/Err.hpp
  include/SFML/System/FileInputStream.hpp
  include/SFML/System/Sleep.hpp
  include/SFML/System/String.hpp
  include/SFML/System/Time.hpp
  include/SFML/Window/Cursor.hpp
  include/SFML/Window/WindowBase.hpp
  src/SFML/Window/Android/WindowImplAndroid.hpp
  src/SFML/Window/DRM/WindowImplDRM.hpp
  src/SFML/Window/Unix/WindowImplX11.hpp
  src/SFML/Window/WindowImpl.hpp
  src/SFML/Window/iOS/WindowImplUIKit.hpp
  src/SFML/Window/macOS/SFOpenGLView+mouse_priv.h
  src/SFML/Window/macOS/WindowImplCocoa.hpp
Labels: feature, m:doc

#3192 chore: update stb_image from 2.29 to 2.30
  extlibs/headers/stb_image/stb_image.h
Labels: feature, m:sfml-graphics

#3195 gitignore vs folder
  .gitignore
Labels: m:config

#3151 Fix how macOS fullscreen video modes are detected
  src/SFML/Window/OSX/SFWindowController.mm
  src/SFML/Window/OSX/Scaling.h
  src/SFML/Window/OSX/cg_sf_conversion.mm
Labels: bug, m:sfml-window, p:macos

#3197 Reimplement event assertions to loosen constexpr restrictions on event subtypes
  include/SFML/Window/Event.hpp
Labels: feature, m:sfml-window

#3194 Use imported target for openal to simplify copying dll's
  cmake/Modules/FindOpenAL.cmake
  src/SFML/Audio/CMakeLists.txt
Labels: bug, p:windows, m:config

#3199 Warn about the current state of development in the pull request template
  .github/pull_request_template.md
Labels: feature, m:doc

#3198 Feature/backmerge
  src/SFML/Window/macOS/SFWindowController.mm
Labels: feature

#3202 Fix incorrect clang-format documentation
  CMakeLists.txt
Labels: bug, m:doc

#3201 Add SFML 3 migration guide
  doc/migration.md
Labels: feature, m:doc

#3144 Disallow constructing `sf::String` from `nullptr`
  include/SFML/System/String.hpp
  test/System/String.test.cpp
Labels: bug, m:sfml-system

#3172 Fix event handling stack corruption on msvc
  include/SFML/Window/WindowBase.inl
Labels: bug, m:sfml-window, p:windows

#3204 Remove unused header
  include/SFML/Graphics/Color.hpp
  include/SFML/System/Angle.hpp
  include/SFML/System/Time.hpp
  include/SFML/Window/Event.hpp
Labels: bug
