Repository SFML/SFML, pull requests merged in 2024-06, with the labels that each got.

#3058 Add clang-tidy `readability-redundant-member-init` check
  .clang-tidy
  include/SFML/Graphics/Vertex.hpp
  src/SFML/Audio/SoundStream.cpp
Labels: bug, m:config

#3059 Assume X11 UTF-8 support is present
  src/SFML/Window/Unix/WindowImplX11.cpp
Labels: bug, m:sfml-window, p:linux

#3060 Reduce the scope of variables
  src/SFML/Window/Unix/KeyboardImpl.cpp
  src/SFML/Window/Unix/VideoModeImpl.cpp
  src/SFML/Window/Win32/JoystickImpl.cpp
Labels: feature

#3027 Remove default empty state of `sf::Texture`
  doc/mainpage.hpp
  examples/android/app/src/main/jni/main.cpp
  examples/cocoa/CocoaAppDelegate.mm
  examples/opengl/OpenGL.cpp
  examples/shader/Shader.cpp
  examples/sound_effects/SoundEffects.cpp
  examples/tennis/Tennis.cpp
  examples/win32/Win32.cpp
  include/SFML/Graphics/Font.hpp
  include/SFML/Graphics/RenderWindow.hpp
  include/SFML/Graphics/Sprite.hpp
  include/SFML/Graphics/Texture.hpp
  include/SFML/System/InputStream.hpp
  src/SFML/Graphics/Font.cpp
  src/SFML/Graphics/RenderTexture.cpp
  src/SFML/Graphics/Texture.cpp
  test/Graphics/RenderWindow.test.cpp
  test/Graphics/Shape.test.cpp
  test/Graphics/Sprite.test.cpp
  test/Graphics/Texture.test.cpp
  tools/xcode/templates/SFML/SFML App.xctemplate/main.cpp
  tools/xcode/templates/SFML/SFML CLT.xctemplate/main.cpp
Labels: feature, m:sfml-graphics

#3063 Simplify `sf::Clock` usage
  src/SFML/Window/Window.cpp
  src/SFML/Window/iOS/EaglContext.mm
Labels: feature, m:sfml-window

#3064 Remove unnecessary round trip conversion
  src/SFML/Window/Android/SensorImpl.cpp
Labels: bug, m:sfml-window, p:android

#3065 Use fixed versions of CI images
  .github/workflows/ci.yml
Labels: bug, m:config

#3066 Revert "Simplify `sf::Clock` usage"
  src/SFML/Window/Window.cpp
  src/SFML/Window/iOS/EaglContext.mm
Labels: bug, m:sfml-window

#3061 Remove unnecessary static casts
  examples/island/Island.cpp
  examples/sound_effects/SoundEffects.cpp
  src/SFML/Audio/Music.cpp
  src/SFML/Audio/SoundFileReaderMp3.cpp
  src/SFML/Audio/SoundFileWriterWav.cpp
  src/SFML/Graphics/Font.cpp
  test/Network/Packet.test.cpp
  test/System/String.test.cpp
  test/System/Time.test.cpp
  test/TestUtilities/SystemUtil.cpp
Labels: feature, m:unittest

#3062 Rewrite `Shader.cpp` example
  examples/shader/CMakeLists.txt
  examples/shader/Effect.hpp
  examples/shader/Shader.cpp
Labels: feature, m:example

#3071 More `Shader.cpp` example simplifications
  examples/shader/Shader.cpp
Labels: feature, m:example

#3075 Remove default empty state of `sf::Music`
  examples/sound/Sound.cpp
  examples/sound_effects/SoundEffects.cpp
  include/SFML/Audio/AudioResource.hpp
  include/SFML/Audio/Music.hpp
  include/SFML/Audio/SoundSource.hpp
  include/SFML/Audio/SoundStream.hpp
  src/SFML/Audio/Music.cpp
  src/SFML/Audio/SoundStream.cpp
  test/Audio/AudioResource.test.cpp
  test/Audio/Music.test.cpp
  test/Audio/SoundSource.test.cpp
  test/Audio/SoundStream.test.cpp
  test/install/Install.cpp
Labels: feature, m:sfml-audio

#3078 Fix inconsistencies in `sf::Texture` move and swap
  src/SFML/Graphics/Texture.cpp
Labels: bug, m:sfml-graphics

#2964 Use `std::optional` rather than sentinel values
  examples/vulkan/Vulkan.cpp
  include/SFML/System/FileInputStream.hpp
  include/SFML/System/InputStream.hpp
  include/SFML/System/MemoryInputStream.hpp
  src/SFML/Audio/InputSoundFile.cpp
  src/SFML/Audio/SoundFileFactory.cpp
  src/SFML/Audio/SoundFileReaderFlac.cpp
  src/SFML/Audio/SoundFileReaderMp3.cpp
  src/SFML/Audio/SoundFileReaderOgg.cpp
  src/SFML/Audio/SoundFileReaderWav.cpp
  src/SFML/Graphics/Font.cpp
  src/SFML/Graphics/Image.cpp
  src/SFML/Graphics/Shader.cpp
  src/SFML/System/Android/ResourceStream.cpp
  src/SFML/System/Android/ResourceStream.hpp
  src/SFML/System/FileInputStream.cpp
  src/SFML/System/MemoryInputStream.cpp
  test/System/FileInputStream.test.cpp
  test/System/MemoryInputStream.test.cpp
Labels: feature

#3085 Remove default empty state of `sf::MemoryInputStream`
  include/SFML/System/MemoryInputStream.hpp
  src/SFML/Audio/InputSoundFile.cpp
  src/SFML/Audio/SoundFileFactory.cpp
  src/SFML/System/MemoryInputStream.cpp
  test/Audio/Music.test.cpp
  test/Audio/SoundBuffer.test.cpp
  test/System/MemoryInputStream.test.cpp
Labels: feature, m:sfml-system

#3086 Fix optional comparison to integer value
  src/SFML/System/FileInputStream.cpp
Labels: bug, m:sfml-system

#3082 Consistently print errors in factory functions
  include/SFML/Audio/Music.hpp
  include/SFML/Network/IpAddress.hpp
  src/SFML/Audio/InputSoundFile.cpp
  src/SFML/Audio/Music.cpp
  src/SFML/Audio/OutputSoundFile.cpp
  src/SFML/Audio/SoundBuffer.cpp
  src/SFML/Graphics/Texture.cpp
  src/SFML/Network/IpAddress.cpp
  src/SFML/Window/Cursor.cpp
Labels: feature

#3084 Update self-referential owner ptr when moving `SoundStream`
  src/SFML/Audio/SoundStream.cpp
Labels: bug, m:sfml-audio

#3091 Fix speaker name conflicts with miniaudio macros in unity builds
  src/SFML/Audio/SoundFileWriterWav.cpp
Labels: bug, m:sfml-audio

#3093 Update documentation of creating Music and Cursor
  doc/mainpage.hpp
  include/SFML/Audio/Music.hpp
  include/SFML/Window/Cursor.hpp
Labels: bug, m:doc

#3088 Remove default empty state of `sf::FileInputStream`
  examples/vulkan/Vulkan.cpp
  include/SFML/System/FileInputStream.hpp
  src/SFML/Audio/InputSoundFile.cpp
  src/SFML/Audio/SoundFileFactory.cpp
  src/SFML/System/FileInputStream.cpp
  test/Audio/InputSoundFile.test.cpp
  test/Audio/Music.test.cpp
  test/Audio/SoundBuffer.test.cpp
  test/Audio/SoundFileFactory.test.cpp
  test/Graphics/Font.test.cpp
  test/Graphics/Image.test.cpp
  test/Graphics/Shader.test.cpp
  test/Graphics/Texture.test.cpp
  test/Graphics/invalid_shader.vert
  test/System/FileInputStream.test.cpp
  test/install/Install.cpp
Labels: feature, m:sfml-system

#3095 Fix documentation bugs
  include/SFML/Audio/Listener.hpp
  include/SFML/Audio/Music.hpp
  include/SFML/Graphics/CircleShape.hpp
  include/SFML/Graphics/ConvexShape.hpp
  include/SFML/Graphics/RectangleShape.hpp
  include/SFML/Graphics/Sprite.hpp
  include/SFML/Graphics/Transformable.hpp
  test/Graphics/Image.test.cpp
Labels: bug, m:doc

#3067 Simplify `sf::Sprite` implementation and reduce branches
  include/SFML/Graphics/Sprite.hpp
  src/SFML/Graphics/Sprite.cpp
  test/Graphics/Sprite.test.cpp
Labels: feature

#3094 Add `timeout` parameter to `waitEvent`
  include/SFML/Window/WindowBase.hpp
  src/SFML/Window/WindowBase.cpp
  src/SFML/Window/WindowImpl.cpp
  src/SFML/Window/WindowImpl.hpp
  test/Window/WindowBase.test.cpp
Labels: feature, m:sfml-window

#3099 Create a new font page in Font::loadPage only when needed
  src/SFML/Graphics/Font.cpp
Labels: bug, m:sfml-graphics

#3101 Fix poor `setPlayingOffset` precision (missing `float` conversion)
  src/SFML/Audio/SoundStream.cpp
Labels: bug, m:sfml-audio

#3105 Use `std::` namespace
  src/SFML/Audio/AudioDevice.cpp
  src/SFML/Graphics/Shader.cpp
  src/SFML/Window/Win32/WglContext.cpp
Labels: bug

#3106 Replace sentinel values with `std::optional`
  examples/vulkan/Vulkan.cpp
  src/SFML/Window/DRM/InputImpl.cpp
Labels: feature

#3109 Decrease test precision to reduce flakey failures
  test/Window/WindowBase.test.cpp
Labels: bug, m:unittest

#3110 Replace `static_cast`s with vector operations
  src/SFML/Window/iOS/SensorImpl.mm
Labels: feature, m:sfml-window, p:ios

#3112 Fix oversights from 735f2d9
  src/SFML/Window/DRM/InputImpl.cpp
Labels: bug, m:sfml-window, p:linux

#3114 Fixed cache state not correctly being ignored when switching between RenderTargets within a single context
  src/SFML/Graphics/RenderTarget.cpp
Labels: bug, m:sfml-graphics

#3113 Update macOS GitHub Actions Image
  .github/workflows/ci.yml
  CMakeLists.txt
  cmake/Config.cmake
  cmake/Macros.cmake
  cmake/SFMLConfigDependencies.cmake.in
  cmake/toolchains/iOS.toolchain.cmake
  src/SFML/Window/CMakeLists.txt
Labels: feature, m:config

#3119 Enable standard library assertions in CI
  .github/workflows/ci.yml
  CMakeLists.txt
  CMakePresets.json
Labels: feature

#2992 Remove default empty state of `sf::Event`
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  doc/mainpage.hpp
  examples/android/app/src/main/jni/main.cpp
  examples/island/Island.cpp
  examples/joystick/Joystick.cpp
  examples/opengl/OpenGL.cpp
  examples/raw_input/RawInput.cpp
  examples/shader/Shader.cpp
  examples/sound_effects/SoundEffects.cpp
  examples/stencil/Stencil.cpp
  examples/tennis/Tennis.cpp
  examples/vulkan/Vulkan.cpp
  examples/window/Window.cpp
  include/SFML/Graphics/RenderWindow.hpp
  include/SFML/Window/Clipboard.hpp
  include/SFML/Window/Event.hpp
  include/SFML/Window/Window.hpp
  include/SFML/Window/WindowBase.hpp
  src/SFML/Window/Android/WindowImplAndroid.cpp
  src/SFML/Window/DRM/InputImpl.cpp
  src/SFML/Window/DRM/WindowImplDRM.cpp
  src/SFML/Window/WindowBase.cpp
  src/SFML/Window/WindowImpl.cpp
  src/SFML/Window/WindowImpl.hpp
  test/Window/Event.test.cpp
Labels: feature, m:sfml-window

#3126 Disallow construction from `const T&&`
  include/SFML/Audio/Sound.hpp
  include/SFML/Graphics/Shader.hpp
  include/SFML/Graphics/Sprite.hpp
  include/SFML/Graphics/Text.hpp
  test/Audio/Sound.test.cpp
  test/Graphics/Sprite.test.cpp
  test/Graphics/Text.test.cpp
Labels: bug, m:sfml-graphics, m:sfml-audio

#3089 Simplify/optimize `sf::AudioResource` implementation
  include/SFML/Audio/AudioResource.hpp
  src/SFML/Audio/AudioResource.cpp
Labels: feature, m:sfml-audio

#3127 Fix oversights from 2992
  src/SFML/Window/DRM/InputImpl.cpp
Labels: bug, m:sfml-window

#3128 Document missing parameter
  include/SFML/Graphics/Font.hpp
Labels: bug, m:sfml-graphics, m:doc

#3131 Fix SFML_USE_STATIC_STD_LIBS behaviour with newer cmake (2.6.x)
  CMakeLists.txt
Labels: bug, m:config

#3115 Add support for UCRT MinGW environment
  CMakeLists.txt
  cmake/Config.cmake
  extlibs/libs-mingw-ucrt/x64/libFLAC.a
  extlibs/libs-mingw-ucrt/x64/libfreetype.a
  extlibs/libs-mingw-ucrt/x86/libFLAC.a
  extlibs/libs-mingw-ucrt/x86/libfreetype.a
  src/SFML/CMakeLists.txt
Labels: feature, m:config

#3129 Rename Font::loadFromFile into Font::openFromFile
  doc/mainpage.hpp
  examples/android/app/src/main/jni/main.cpp
  examples/cocoa/CocoaAppDelegate.mm
  examples/island/Island.cpp
  examples/joystick/Joystick.cpp
  examples/opengl/OpenGL.cpp
  examples/raw_input/RawInput.cpp
  examples/shader/Shader.cpp
  examples/sound_effects/SoundEffects.cpp
  examples/tennis/Tennis.cpp
  include/SFML/Graphics/Font.hpp
  include/SFML/Graphics/RenderWindow.hpp
  include/SFML/Graphics/Text.hpp
  src/SFML/Graphics/Font.cpp
  test/Graphics/Font.test.cpp
  test/Graphics/Text.test.cpp
  tools/xcode/templates/SFML/SFML App.xctemplate/main.cpp
  tools/xcode/templates/SFML/SFML CLT.xctemplate/main.cpp
Labels: feature, m:sfml-graphics

#3121 Improve `sf::Event` documentation and parameter naming
  include/SFML/Window/Event.hpp
  include/SFML/Window/Event.inl
Labels: feature, m:sfml-window

#3111 Windows ARM64 support for SFML with MSVC
  CMakeLists.txt
  cmake/Config.cmake
  extlibs/bin/ARM64/openal32.dll
  extlibs/libs-msvc-universal/ARM64/flac.lib
  extlibs/libs-msvc-universal/ARM64/freetype.lib
  extlibs/libs-msvc-universal/ARM64/ogg.lib
  extlibs/libs-msvc-universal/ARM64/openal32.lib
  extlibs/libs-msvc-universal/ARM64/vorbis.lib
  extlibs/libs-msvc-universal/ARM64/vorbisenc.lib
  extlibs/libs-msvc-universal/ARM64/vorbisfile.lib
  src/SFML/CMakeLists.txt
Labels: feature, m:config

#3130 Fixed SoundEffects example allocating effect processor resources based on source channel count instead of engine channel count
  examples/sound_effects/SoundEffects.cpp
  include/SFML/Audio/SoundSource.hpp
Labels: bug, m:example

#3135 Add clang-tidy `readability-else-after-return` check
  .clang-tidy
  examples/cocoa/NSString+stdstring.mm
  examples/voip/Client.cpp
  examples/vulkan/Vulkan.cpp
  include/SFML/Graphics/Rect.inl
  include/SFML/Graphics/Transform.inl
  src/SFML/Audio/SoundBuffer.cpp
  src/SFML/Audio/SoundFileReaderFlac.cpp
  src/SFML/Audio/SoundFileReaderOgg.cpp
  src/SFML/Audio/SoundFileWriterWav.cpp
  src/SFML/Graphics/Font.cpp
  src/SFML/Graphics/Image.cpp
  src/SFML/Graphics/RenderTexture.cpp
  src/SFML/Graphics/Shader.cpp
  src/SFML/Graphics/Texture.cpp
  src/SFML/Graphics/VertexArray.cpp
  src/SFML/Network/Ftp.cpp
  src/SFML/Network/TcpSocket.cpp
  src/SFML/System/Err.cpp
  src/SFML/Window/Android/WindowImplAndroid.cpp
  src/SFML/Window/Context.cpp
  src/SFML/Window/DRM/InputImpl.cpp
  src/SFML/Window/DRM/VideoModeImpl.cpp
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/Unix/ClipboardImpl.cpp
  src/SFML/Window/Unix/CursorImpl.cpp
  src/SFML/Window/Unix/GlxContext.cpp
  src/SFML/Window/Unix/InputImpl.cpp
  src/SFML/Window/Unix/JoystickImpl.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/VideoMode.cpp
  src/SFML/Window/Win32/CursorImpl.cpp
  src/SFML/Window/Win32/InputImpl.cpp
  src/SFML/Window/Win32/JoystickImpl.cpp
  src/SFML/Window/Window.cpp
  src/SFML/Window/iOS/ClipboardImpl.mm
  src/SFML/Window/iOS/SFAppDelegate.mm
  src/SFML/Window/macOS/CursorImpl.mm
  src/SFML/Window/macOS/SFContext.mm
  src/SFML/Window/macOS/SFOpenGLView+keyboard.mm
Labels: feature

#3137 Use `[[nodiscard]]` in more places
  .clang-tidy
  examples/sound_effects/SoundEffects.cpp
  include/SFML/Audio/InputSoundFile.hpp
  include/SFML/Audio/Music.hpp
  include/SFML/Audio/Sound.hpp
  include/SFML/Audio/SoundRecorder.hpp
  include/SFML/Audio/SoundSource.hpp
  include/SFML/Audio/SoundStream.hpp
  include/SFML/Graphics/Color.hpp
  include/SFML/Graphics/Image.hpp
  include/SFML/Graphics/Rect.hpp
  include/SFML/Graphics/Shader.hpp
  include/SFML/Graphics/Transform.hpp
  include/SFML/Graphics/VertexArray.hpp
  include/SFML/Graphics/VertexBuffer.hpp
  include/SFML/Network/Ftp.hpp
  include/SFML/Network/Http.hpp
  include/SFML/Network/IpAddress.hpp
  include/SFML/Network/Packet.hpp
  include/SFML/Network/Socket.hpp
  include/SFML/Network/TcpListener.hpp
  include/SFML/Network/TcpSocket.hpp
  include/SFML/Network/UdpSocket.hpp
  include/SFML/System/Clock.hpp
  include/SFML/System/String.hpp
  include/SFML/System/Time.hpp
  include/SFML/System/Vector2.hpp
  include/SFML/System/Vector3.hpp
  include/SFML/Window/Context.hpp
  include/SFML/Window/Cursor.hpp
  include/SFML/Window/VideoMode.hpp
  include/SFML/Window/Window.hpp
  include/SFML/Window/WindowBase.hpp
  src/SFML/Audio/AudioDevice.hpp
  src/SFML/Graphics/RenderTextureImpl.hpp
  src/SFML/Graphics/RenderTextureImplDefault.hpp
  src/SFML/Graphics/RenderTextureImplFBO.hpp
  src/SFML/Window/Android/JoystickImpl.hpp
  src/SFML/Window/Android/WindowImplAndroid.hpp
  src/SFML/Window/DRM/WindowImplDRM.hpp
  src/SFML/Window/GlContext.hpp
  src/SFML/Window/JoystickManager.hpp
  src/SFML/Window/SensorManager.hpp
  src/SFML/Window/Unix/JoystickImpl.hpp
  src/SFML/Window/Unix/WindowImplX11.hpp
  src/SFML/Window/Win32/JoystickImpl.hpp
  src/SFML/Window/Win32/WindowImplWin32.hpp
  src/SFML/Window/WindowImpl.hpp
  src/SFML/Window/iOS/JoystickImpl.hpp
  src/SFML/Window/iOS/WindowImplUIKit.hpp
  src/SFML/Window/macOS/JoystickImpl.hpp
  src/SFML/Window/macOS/WindowImplCocoa.hpp
  test/Audio/SoundSource.test.cpp
  test/System/FileInputStream.test.cpp
Labels: feature

#3122 Added assert that a texture is valid when attempting to bind it.
  src/SFML/Graphics/Texture.cpp
Labels: feature, m:sfml-graphics

#3138 Use more `[[nodiscard]]`
  include/SFML/Audio/Listener.hpp
  include/SFML/Audio/SoundBuffer.hpp
  include/SFML/Audio/SoundBufferRecorder.hpp
  include/SFML/Audio/SoundFileFactory.hpp
  include/SFML/Audio/SoundRecorder.hpp
  include/SFML/Graphics/BlendMode.hpp
  include/SFML/Graphics/CircleShape.hpp
  include/SFML/Graphics/ConvexShape.hpp
  include/SFML/Graphics/Font.hpp
  include/SFML/Graphics/RectangleShape.hpp
  include/SFML/Graphics/RenderTarget.hpp
  include/SFML/Graphics/RenderTexture.hpp
  include/SFML/Graphics/RenderWindow.hpp
  include/SFML/Graphics/Shader.hpp
  include/SFML/Graphics/Shape.hpp
  include/SFML/Graphics/Sprite.hpp
  include/SFML/Graphics/StencilMode.hpp
  include/SFML/Graphics/Text.hpp
  include/SFML/Graphics/Texture.hpp
  include/SFML/Graphics/Transform.hpp
  include/SFML/Graphics/Transformable.hpp
  include/SFML/Graphics/VertexArray.hpp
  include/SFML/Graphics/VertexBuffer.hpp
  include/SFML/Graphics/View.hpp
  include/SFML/Network/IpAddress.hpp
  include/SFML/Network/SocketSelector.hpp
  include/SFML/System/Err.hpp
  include/SFML/System/NativeActivity.hpp
  include/SFML/System/String.hpp
  include/SFML/System/Time.hpp
  include/SFML/Window/Clipboard.hpp
  include/SFML/Window/Context.hpp
  include/SFML/Window/Event.hpp
  include/SFML/Window/Joystick.hpp
  include/SFML/Window/Keyboard.hpp
  include/SFML/Window/Mouse.hpp
  include/SFML/Window/Sensor.hpp
  include/SFML/Window/Touch.hpp
  include/SFML/Window/VideoMode.hpp
  include/SFML/Window/Vulkan.hpp
  src/SFML/Window/FreeBSD/JoystickImpl.hpp
  src/SFML/Window/NetBSD/JoystickImpl.hpp
  src/SFML/Window/OpenBSD/JoystickImpl.hpp
Labels: feature
