Repository SFML/SFML, pull requests merged in 2024-07, with the labels that each got.

#3147 Revert `sf::AudioResource` Simplification
  include/SFML/Audio/AudioResource.hpp
  src/SFML/Audio/AudioResource.cpp
Labels: bug, m:sfml-audio

#3148 Use lowercase literal suffixes
  src/SFML/Graphics/Shader.cpp
  src/SFML/Window/DRM/DRMContext.cpp
Labels: bug, m:sfml-window, m:sfml-graphics

#3149 Modernize management of Udev pointers
  src/SFML/Window/Unix/JoystickImpl.cpp
Labels: feature, m:sfml-window, p:linux

#3150 Remove unnecessary namespace usage
  src/SFML/Audio/MiniaudioUtils.cpp
  src/SFML/Audio/MiniaudioUtils.hpp
  src/SFML/Graphics/RenderTextureImplDefault.cpp
  src/SFML/Graphics/RenderTextureImplFBO.cpp
  src/SFML/Graphics/VertexBuffer.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Win32/JoystickImpl.cpp
Labels: bug

#3153 Fix null pointer dereference when creating fullscreen window
  include/SFML/Window/WindowBase.hpp
  src/SFML/Window/Window.cpp
  src/SFML/Window/WindowBase.cpp
  src/SFML/Window/WindowImpl.cpp
  src/SFML/Window/WindowImpl.hpp
Labels: bug, m:sfml-window

#3132 Backmerge 2.6.x to master
  CMakeLists.txt
  cmake/Config.cmake
  cmake/Mesa3D.cmake
  extlibs/libs-mingw-ucrt/x64/libFLAC.a
  extlibs/libs-mingw-ucrt/x64/libfreetype.a
  extlibs/libs-mingw-ucrt/x86/libFLAC.a
  extlibs/libs-mingw-ucrt/x86/libfreetype.a
  extlibs/libs-msvc-universal/ARM64/flac.lib
  extlibs/libs-msvc-universal/ARM64/freetype.lib
  extlibs/libs-msvc-universal/ARM64/ogg.lib
  extlibs/libs-msvc-universal/ARM64/vorbis.lib
  extlibs/libs-msvc-universal/ARM64/vorbisenc.lib
  extlibs/libs-msvc-universal/ARM64/vorbisfile.lib
  src/SFML/CMakeLists.txt
  src/SFML/Window/CMakeLists.txt
  src/SFML/Window/Win32/ClipboardImpl.cpp
  src/SFML/Window/Win32/JoystickImpl.cpp
  src/SFML/Window/Win32/Utils.hpp
  src/SFML/Window/Win32/WglContext.cpp
Labels: feature

#3154 Simplify `sf::WindowBase::handleEvents` and add basic tests
  include/SFML/Window/WindowBase.inl
  test/Window/WindowBase.test.cpp
Labels: feature, m:sfml-window

#3162 Fix typo in `WindowBase::setMaximumSize`
  src/SFML/Window/WindowBase.cpp
Labels: feature, m:sfml-window

#3155 Remove inheritance in sf::Event subtypes
  include/SFML/Window/Event.hpp
  src/SFML/Window/Android/WindowImplAndroid.cpp
  src/SFML/Window/DRM/InputImpl.cpp
  src/SFML/Window/macOS/SFKeyboardModifiersHelper.h
  src/SFML/Window/macOS/SFKeyboardModifiersHelper.mm
  src/SFML/Window/macOS/SFOpenGLView+keyboard.mm
  src/SFML/Window/macOS/SFOpenGLView+keyboard_priv.h
Labels: feature, m:sfml-window

#3163 Fix typos
  examples/stencil/Stencil.cpp
  include/SFML/Window/Event.hpp
  include/SFML/Window/WindowBase.hpp
  src/SFML/Audio/PlaybackDevice.cpp
  src/SFML/CMakeLists.txt
  src/SFML/Window/Unix/Display.cpp
Labels: bug, m:doc

#3168 Stop running tests that sometimes hang indefinitely
  test/Window/WindowBase.test.cpp
Labels: bug, m:unittest

#3169 Define default constructor in headers when possible
  include/SFML/Graphics/Color.hpp
  include/SFML/Graphics/Color.inl
  include/SFML/Graphics/Rect.hpp
  include/SFML/Graphics/Rect.inl
  include/SFML/Graphics/Transform.hpp
  include/SFML/Graphics/Transform.inl
  include/SFML/System/Angle.hpp
  include/SFML/System/Angle.inl
  include/SFML/System/Time.hpp
  include/SFML/System/Time.inl
  include/SFML/System/Vector2.hpp
  include/SFML/System/Vector2.inl
  include/SFML/System/Vector3.hpp
  include/SFML/System/Vector3.inl
Labels: feature

#3173 Require that `sf::WindowBase::handleEvents` receives at least one argument
  include/SFML/Window/WindowBase.inl
  test/Window/WindowBase.test.cpp
Labels: bug, m:sfml-window

#3174 Fix documentation regarding bit widths
  include/SFML/Audio/SoundBuffer.hpp
  include/SFML/Graphics/Image.hpp
  include/SFML/Graphics/Texture.hpp
  include/SFML/Network/IpAddress.hpp
  src/SFML/Graphics/Font.cpp
Labels: bug, m:doc

#3175 Remove useless attributes from implementation files
  include/SFML/System/Utf.inl
  src/SFML/Graphics/Image.cpp
Labels: bug

#3177 Remove redunant clear
  src/SFML/Audio/InputSoundFile.cpp
Labels: bug, m:sfml-audio

#3180 Test constexpr construction of aggregates
  test/Graphics/Glyph.test.cpp
Labels: m:sfml-graphics, m:unittest

#3176 Fix issue with openal32 dll for Windows ARM64 requiring vc_redist
  extlibs/bin/ARM64/openal32.dll
  extlibs/libs-msvc-universal/ARM64/openal32.lib
Labels: bug, m:config

#3182 Stop using macOS 11 images
  .github/workflows/ci.yml
Labels: bug, m:config

#3170 Pass `sf::Color`s by value
  include/SFML/Graphics/Color.hpp
  include/SFML/Graphics/Color.inl
  include/SFML/Graphics/Glsl.inl
  include/SFML/Graphics/Image.hpp
  include/SFML/Graphics/RenderTarget.hpp
  include/SFML/Graphics/Shape.hpp
  include/SFML/Graphics/Sprite.hpp
  include/SFML/Graphics/Text.hpp
  src/SFML/Graphics/Image.cpp
  src/SFML/Graphics/RenderTarget.cpp
  src/SFML/Graphics/Shape.cpp
  src/SFML/Graphics/Sprite.cpp
  src/SFML/Graphics/Text.cpp
  test/Graphics/Color.test.cpp
  test/TestUtilities/GraphicsUtil.cpp
  test/TestUtilities/GraphicsUtil.hpp
Labels: feature, m:sfml-graphics
