Repository SFML/SFML, pull requests merged in 2024-05, with the labels that each got.

#2766 Rewrite `sf::Event` API to improve type safety
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  doc/mainpage.hpp
  examples/android/app/src/main/jni/main.cpp
  examples/island/Island.cpp
  examples/joystick/Joystick.cpp
  examples/opengl/OpenGL.cpp
  examples/shader/Shader.cpp
  examples/sound_effects/SoundEffects.cpp
  examples/stencil/Stencil.cpp
  examples/tennis/Tennis.cpp
  examples/vulkan/Vulkan.cpp
  examples/window/Window.cpp
  include/SFML/Graphics/RenderWindow.hpp
  include/SFML/Window/Clipboard.hpp
  include/SFML/Window/Event.hpp
  include/SFML/Window/Event.inl
  include/SFML/Window/Window.hpp
  include/SFML/Window/WindowBase.hpp
  src/SFML/Main/MainAndroid.cpp
  src/SFML/Window/Android/WindowImplAndroid.cpp
  src/SFML/Window/CMakeLists.txt
  src/SFML/Window/DRM/InputImpl.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Win32/WindowImplWin32.cpp
  src/SFML/Window/WindowBase.cpp
  src/SFML/Window/WindowImpl.cpp
  src/SFML/Window/iOS/SFAppDelegate.mm
  src/SFML/Window/iOS/WindowImplUIKit.mm
  src/SFML/Window/macOS/SFKeyboardModifiersHelper.h
  src/SFML/Window/macOS/SFKeyboardModifiersHelper.mm
  src/SFML/Window/macOS/SFOpenGLView+keyboard.mm
  src/SFML/Window/macOS/SFOpenGLView+keyboard_priv.h
  src/SFML/Window/macOS/SFOpenGLView+mouse.mm
  src/SFML/Window/macOS/SFOpenGLView.mm
  src/SFML/Window/macOS/Scaling.h
  src/SFML/Window/macOS/WindowImplCocoa.hpp
  src/SFML/Window/macOS/WindowImplCocoa.mm
  src/SFML/Window/macOS/WindowImplDelegateProtocol.h
  test/Window/Event.test.cpp
  tools/xcode/templates/SFML/SFML App.xctemplate/main.cpp
  tools/xcode/templates/SFML/SFML CLT.xctemplate/main.cpp
Labels: feature, m:sfml-window

#2970 Fix API documentation bugs
  include/SFML/Graphics/RenderTarget.hpp
  include/SFML/Window/Context.hpp
Labels: bug, m:doc

#2971 Added \param field to sf::Keyboard::getDescription(Scancode code) as it was missing from the docs
  include/SFML/Window/Keyboard.hpp
Labels: bug, m:doc

#2968 `Event::operator bool`
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  doc/mainpage.hpp
  examples/android/app/src/main/jni/main.cpp
  examples/island/Island.cpp
  examples/joystick/Joystick.cpp
  examples/opengl/OpenGL.cpp
  examples/shader/Shader.cpp
  examples/sound_effects/SoundEffects.cpp
  examples/stencil/Stencil.cpp
  examples/tennis/Tennis.cpp
  examples/vulkan/Vulkan.cpp
  examples/window/Window.cpp
  include/SFML/Graphics/RenderWindow.hpp
  include/SFML/Window/Clipboard.hpp
  include/SFML/Window/Event.hpp
  include/SFML/Window/Window.hpp
  include/SFML/Window/WindowBase.hpp
  src/SFML/Window/WindowBase.cpp
  src/SFML/Window/WindowImpl.cpp
  src/SFML/Window/WindowImpl.hpp
  test/Window/Event.test.cpp
  test/Window/WindowBase.test.cpp
  tools/xcode/templates/SFML/SFML App.xctemplate/main.cpp
  tools/xcode/templates/SFML/SFML CLT.xctemplate/main.cpp
Labels: feature, m:sfml-window

#2977 Work around failing network test on Android x86_64 API 24
  .github/workflows/ci.yml
Labels: bug, m:config

#2979 Make 'Event.inl' self-contained
  include/SFML/Window/Event.hpp
  include/SFML/Window/Event.inl
Labels: feature

#2983 Work around stalled Android CI job
  .github/workflows/ci.yml
Labels: bug, p:android, m:config

#2981 Update 'stb_image' to 2.29
  extlibs/headers/stb_image/stb_image.h
Labels: feature, m:sfml-graphics

#2984 Update to Catch2 v3.6.0
  test/CMakeLists.txt
Labels: feature, m:unittest

#2994 Add clarification about the RenderTexture state after creation
  include/SFML/Graphics/RenderTexture.hpp
Labels: bug, m:sfml-graphics, m:doc

#2997 Remove unnecessary `sf::` namespace usage
  src/SFML/Audio/AudioDevice.cpp
  src/SFML/Audio/AudioDevice.hpp
  src/SFML/Audio/AudioResource.cpp
  src/SFML/Audio/MiniaudioUtils.cpp
  src/SFML/Audio/MiniaudioUtils.hpp
  src/SFML/Audio/SoundFileReaderFlac.hpp
  src/SFML/Audio/SoundFileReaderMp3.cpp
  src/SFML/Audio/SoundFileReaderWav.hpp
  src/SFML/Audio/SoundSource.cpp
  src/SFML/Graphics/CircleShape.cpp
  src/SFML/Graphics/Font.cpp
  src/SFML/Graphics/GLExtensions.cpp
  src/SFML/Graphics/Shader.cpp
  src/SFML/Graphics/Text.cpp
  src/SFML/Graphics/Texture.cpp
  src/SFML/System/String.cpp
  src/SFML/Window/Android/ClipboardImpl.cpp
  src/SFML/Window/Unix/JoystickImpl.hpp
  src/SFML/Window/WindowBase.cpp
  src/SFML/Window/WindowImpl.cpp
  src/SFML/Window/macOS/JoystickImpl.hpp
  src/SFML/Window/macOS/SFContext.mm
Labels: bug

#3002 Feature/backmerge
  CMakeLists.txt
  changelog.md
  doc/CMakeLists.txt
  doc/doxyfile.in
  doc/doxygen.css
  doc/footer.html
  doc/header.html.in
  include/SFML/Graphics/RenderTexture.hpp
  tools/pkg-config/sfml-all.pc.in
  tools/pkg-config/sfml-audio.pc.in
  tools/pkg-config/sfml-graphics.pc.in
  tools/pkg-config/sfml-network.pc.in
  tools/pkg-config/sfml-system.pc.in
  tools/pkg-config/sfml-window.pc.in
Labels: feature

#2951 Replace C arrays with `std::array`
  include/SFML/Graphics/Transform.hpp
  include/SFML/Graphics/Transform.inl
  include/SFML/System/Utf.hpp
  include/SFML/System/Utf.inl
  src/SFML/Audio/SoundFileWriterOgg.hpp
  src/SFML/Audio/SoundFileWriterWav.cpp
  src/SFML/Audio/SoundFileWriterWav.hpp
  src/SFML/Graphics/Texture.cpp
  src/SFML/Network/Packet.cpp
  src/SFML/Network/TcpSocket.cpp
  src/SFML/Window/JoystickImpl.hpp
  src/SFML/Window/JoystickManager.hpp
  src/SFML/Window/Unix/GlxContext.cpp
  src/SFML/Window/Unix/JoystickImpl.cpp
  src/SFML/Window/Unix/JoystickImpl.hpp
  src/SFML/Window/WindowImpl.cpp
  src/SFML/Window/macOS/HIDJoystickManager.cpp
  src/SFML/Window/macOS/JoystickImpl.hpp
  test/System/MemoryInputStream.test.cpp
Labels: feature

#2966 Fall back to using the NULL audio backend if the default backends don't provide any devices.
  src/SFML/Audio/AudioDevice.cpp
  src/SFML/Audio/SoundRecorder.cpp
Labels: feature, m:sfml-audio

#2978 Store angles internally as radians
  include/SFML/System/Angle.hpp
  include/SFML/System/Angle.inl
  include/SFML/Window/Sensor.hpp
  src/SFML/Audio/AudioDevice.cpp
  src/SFML/Audio/AudioDevice.hpp
  src/SFML/Audio/MiniaudioUtils.cpp
  src/SFML/Audio/SoundSource.cpp
  src/SFML/Graphics/CircleShape.cpp
  src/SFML/Window/iOS/SensorImpl.mm
  test/Graphics/Transformable.test.cpp
  test/Graphics/View.test.cpp
  test/System/Angle.test.cpp
  test/TestUtilities/SystemUtil.cpp
Labels: feature, m:sfml-system

#3007 Remove redundant cache var assignment
  .github/workflows/ci.yml
Labels: feature, m:config

#3009 Add `<array>` to PCH.hpp
  src/SFML/PCH.hpp
Labels: feature, m:config

#3011 Do not use 'sf::err' in examples
  examples/sound_effects/SoundEffects.cpp
Labels: feature

#2927 Add tests for Audio module types
  .github/workflows/ci.yml
  test/Audio/Music.test.cpp
  test/Audio/Sound.test.cpp
  test/Audio/SoundBuffer.test.cpp
  test/Audio/SoundSource.test.cpp
  test/Audio/SoundStream.test.cpp
  test/CMakeLists.txt
  test/TestUtilities/AudioUtil.cpp
  test/TestUtilities/AudioUtil.hpp
Labels: feature, m:sfml-audio, m:unittest

#3017 Use the SoundSource derived type specific status
  test/Audio/Music.test.cpp
  test/Audio/Sound.test.cpp
  test/Audio/SoundStream.test.cpp
Labels: feature, m:sfml-audio, m:unittest

#3018 Allow more GitHub Actions runners to run the audio tests.
  .github/workflows/ci.yml
Labels: feature, m:unittest

#2973 Added support for user defined sound effect implementations.
  examples/sound_effects/SoundEffects.cpp
  include/SFML/Audio/Sound.hpp
  include/SFML/Audio/SoundSource.hpp
  include/SFML/Audio/SoundStream.hpp
  src/SFML/Audio/Sound.cpp
  src/SFML/Audio/SoundSource.cpp
  src/SFML/Audio/SoundStream.cpp
Labels: feature, m:sfml-audio

#3019 Replaced SoundFileReaderWav implementation with miniaudio (dr_)wav decoder
  src/SFML/Audio/CMakeLists.txt
  src/SFML/Audio/MiniaudioUtils.cpp
  src/SFML/Audio/MiniaudioUtils.hpp
  src/SFML/Audio/SoundFileReaderWav.cpp
  src/SFML/Audio/SoundFileReaderWav.hpp
Labels: feature, m:sfml-audio

#3022 Remove default empty state of `sf::SoundBuffer`
  examples/sound/Sound.cpp
  examples/tennis/Tennis.cpp
  include/SFML/Audio/Sound.hpp
  include/SFML/Audio/SoundBuffer.hpp
  include/SFML/Audio/SoundBufferRecorder.hpp
  src/SFML/Audio/SoundBuffer.cpp
  src/SFML/Audio/SoundBufferRecorder.cpp
  test/Audio/Sound.test.cpp
  test/Audio/SoundBuffer.test.cpp
Labels: feature, m:sfml-audio

#3021 Remove default empty state of `sf::Image`
  examples/vulkan/Vulkan.cpp
  include/SFML/Graphics/Image.hpp
  include/SFML/Graphics/Texture.hpp
  src/SFML/Graphics/Font.cpp
  src/SFML/Graphics/Image.cpp
  src/SFML/Graphics/Texture.cpp
  test/Graphics/Image.test.cpp
  test/Graphics/Texture.test.cpp
Labels: feature, m:sfml-graphics

#3020 Remove default empty state of `sf::Font`
  doc/mainpage.hpp
  examples/android/app/src/main/jni/main.cpp
  examples/cocoa/CocoaAppDelegate.mm
  examples/island/Island.cpp
  examples/joystick/Joystick.cpp
  examples/opengl/OpenGL.cpp
  examples/shader/Shader.cpp
  examples/sound_effects/SoundEffects.cpp
  examples/tennis/Tennis.cpp
  include/SFML/Graphics/Font.hpp
  include/SFML/Graphics/RenderWindow.hpp
  include/SFML/Graphics/Text.hpp
  src/SFML/Graphics/Font.cpp
  test/Graphics/Font.test.cpp
  test/Graphics/Text.test.cpp
  test/install/Install.cpp
  tools/xcode/templates/SFML/SFML App.xctemplate/main.cpp
  tools/xcode/templates/SFML/SFML CLT.xctemplate/main.cpp
Labels: feature, m:sfml-graphics

#3025 Remove default empty state of `sf::Shader`
  examples/island/Island.cpp
  examples/shader/Shader.cpp
  include/SFML/Graphics/Shader.hpp
  src/SFML/Graphics/Shader.cpp
  test/Graphics/Shader.test.cpp
Labels: feature, m:sfml-graphics

#3031 Upgrade clang-tidy for Linux jobs
  .github/workflows/ci.yml
  src/SFML/Main/MainAndroid.cpp
  src/SFML/Window/Android/InputImpl.cpp
  src/SFML/Window/Android/SensorImpl.cpp
  src/SFML/Window/Android/WindowImplAndroid.cpp
Labels: feature, p:linux, m:config

#3028 Remove default empty state of `sf::Cursor`
  include/SFML/Window/Cursor.hpp
  src/SFML/Window/Cursor.cpp
  test/Window/Cursor.test.cpp
Labels: feature, m:sfml-window

#3030 Remove default empty state of `sf::InputSoundFile` and `sf::OutputSoundFile`
  include/SFML/Audio/InputSoundFile.hpp
  include/SFML/Audio/Music.hpp
  include/SFML/Audio/OutputSoundFile.hpp
  src/SFML/Audio/InputSoundFile.cpp
  src/SFML/Audio/Music.cpp
  src/SFML/Audio/OutputSoundFile.cpp
  src/SFML/Audio/SoundBuffer.cpp
  test/Audio/InputSoundFile.test.cpp
  test/Audio/Music.test.cpp
  test/Audio/OutputSoundFile.test.cpp
  test/install/Install.cpp
Labels: feature, m:sfml-audio

#3033 Use '{}' for default parameter initialization
  include/SFML/Graphics/Image.hpp
  include/SFML/Graphics/RectangleShape.hpp
  include/SFML/Graphics/Texture.hpp
  include/SFML/System/String.hpp
  include/SFML/System/Utf.hpp
Labels: feature

#3035 Fix sound file docs
  include/SFML/Audio/InputSoundFile.hpp
  include/SFML/Audio/OutputSoundFile.hpp
Labels: bug, m:sfml-audio, m:doc

#3036 Remove redundant parentheses
  src/SFML/Audio/AudioResource.cpp
  src/SFML/Graphics/Shader.cpp
  src/SFML/Graphics/Texture.cpp
  src/SFML/Graphics/VertexBuffer.cpp
  src/SFML/Window/EglContext.cpp
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/WindowBase.cpp
Labels: feature

#3032 Remove default empty state of `sf::RenderTexture`
  examples/shader/Shader.cpp
  include/SFML/Graphics/RenderTexture.hpp
  src/SFML/Graphics/RenderTexture.cpp
  test/Graphics/Drawable.test.cpp
  test/Graphics/Render.test.cpp
  test/Graphics/RenderTexture.test.cpp
Labels: feature, m:sfml-graphics

#3038 Fix geometry shader example
  examples/shader/Shader.cpp
Labels: bug, m:sfml-graphics, m:example

#3039 Use `std::string_view` to construct `sf::Shader`s without allocating
  include/SFML/Graphics/Shader.hpp
  src/SFML/Graphics/Shader.cpp
Labels: feature, m:sfml-graphics

#3037 Simplify implementations of types without an empty state
  src/SFML/Audio/InputSoundFile.cpp
  src/SFML/Audio/OutputSoundFile.cpp
  src/SFML/Graphics/Font.cpp
  src/SFML/Graphics/Shader.cpp
Labels: feature

#3041 Fix missing include of <algorithm>
  src/SFML/Window/macOS/JoystickImpl.cpp
  src/SFML/Window/macOS/SFOpenGLView+mouse.mm
Labels: bug, p:macos

#3040 Replace `const char*` with `std::string_view`
  include/SFML/Window/Context.hpp
  src/SFML/Window/Context.cpp
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/GlContext.hpp
Labels: feature, m:sfml-window

#3042 Use `std::` namespace
  src/SFML/System/String.cpp
Labels: bug, m:sfml-system

#3034 Turn 'ContextSettings' into an aggregate and update usages
  examples/stencil/Stencil.cpp
  include/SFML/Graphics/RenderTexture.hpp
  include/SFML/Graphics/StencilMode.hpp
  include/SFML/Window/ContextSettings.hpp
  src/SFML/Window/DRM/DRMContext.cpp
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/Unix/GlxContext.cpp
  src/SFML/Window/Win32/WglContext.cpp
  src/SFML/Window/Window.cpp
  src/SFML/Window/WindowBase.cpp
  src/SFML/Window/macOS/SFContext.mm
  test/Graphics/Render.test.cpp
  test/Graphics/RenderTexture.test.cpp
  test/Graphics/RenderWindow.test.cpp
  test/Window/ContextSettings.test.cpp
  test/Window/Window.test.cpp
Labels: feature, m:sfml-window

#3045 Fix outdated template code
  tools/xcode/templates/SFML/SFML App.xctemplate/main.cpp
  tools/xcode/templates/SFML/SFML CLT.xctemplate/main.cpp
Labels: bug, p:macos

#2942 Remove `sf::View::reset` in favor of assignment operations
  include/SFML/Graphics/View.hpp
  src/SFML/Graphics/RenderTarget.cpp
  src/SFML/Graphics/View.cpp
  test/Graphics/View.test.cpp
Labels: feature, m:sfml-graphics

#3046 Reduce pointer usage
  src/SFML/Main/MainAndroid.cpp
Labels: feature, p:android

#3049 Use delegating constructor
  src/SFML/Window/Unix/GlxContext.cpp
Labels: feature, m:sfml-window

#3050 Use more type safe interfaces
  src/SFML/Window/Unix/ClipboardImpl.cpp
Labels: feature, m:sfml-window

#3048 Assume XrandR version >=1.3
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Unix/WindowImplX11.hpp
Labels: feature, m:sfml-window, p:linux

#3051 Restore Shader and Island examples back to equivalent pre-API-change functionality
  examples/island/Island.cpp
  examples/shader/Effect.hpp
  examples/shader/Shader.cpp
Labels: bug, m:example

#3052 Perform sanity checks on OpenGL extensions to make sure the required entry points are actually available
  src/SFML/Graphics/GLExtensions.cpp
  src/SFML/Graphics/GLExtensions.hpp
Labels: bug, m:sfml-graphics

#3055 Unify Vulkan implementations under one header
  src/SFML/Window/CMakeLists.txt
  src/SFML/Window/Unix/VulkanImplX11.cpp
  src/SFML/Window/Unix/VulkanImplX11.hpp
  src/SFML/Window/Vulkan.cpp
  src/SFML/Window/VulkanImpl.hpp
  src/SFML/Window/Win32/VulkanImplWin32.cpp
  src/SFML/Window/Win32/VulkanImplWin32.hpp
  src/SFML/Window/WindowImpl.cpp
Labels: feature, m:sfml-window

#3056 Remove unnecessary scope
  src/SFML/Graphics/RenderTarget.cpp
Labels: bug, m:sfml-graphics
