Repository SFML/SFML, pull requests merged in 2024-09, with the labels that each got.

#3205 Fix typo in migration guide
  doc/migration.md
Labels: bug, m:doc

#3211 Assert against C-style string arguments being null
  src/SFML/Network/Packet.cpp
  src/SFML/Window/Context.cpp
Labels: feature

#3212 Rename Vector2 & Vector3 functions to better fit the naming convention
  doc/migration.md
  examples/shader/Shader.cpp
  examples/sound_effects/SoundEffects.cpp
  include/SFML/System/Vector2.hpp
  include/SFML/System/Vector2.inl
  include/SFML/System/Vector3.hpp
  include/SFML/System/Vector3.inl
  src/SFML/Graphics/RenderTarget.cpp
  src/SFML/Graphics/Shape.cpp
  src/SFML/System/Vector2.cpp
  test/System/Vector2.test.cpp
  test/System/Vector3.test.cpp
Labels: feature, m:sfml-system

#3214 Change Spelling of Anti-Aliasing
  doc/migration.md
  include/SFML/Graphics/RenderTexture.hpp
  include/SFML/Window/ContextSettings.hpp
  include/SFML/Window/Window.hpp
  src/SFML/Graphics/RenderTexture.cpp
  src/SFML/Graphics/RenderTextureImplDefault.cpp
  src/SFML/Graphics/RenderTextureImplDefault.hpp
  src/SFML/Graphics/RenderTextureImplFBO.cpp
  src/SFML/Graphics/RenderTextureImplFBO.hpp
  src/SFML/Window/DRM/DRMContext.cpp
  src/SFML/Window/EglContext.cpp
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/GlContext.hpp
  src/SFML/Window/Unix/GlxContext.cpp
  src/SFML/Window/Win32/WglContext.cpp
  src/SFML/Window/Window.cpp
  src/SFML/Window/WindowBase.cpp
  src/SFML/Window/macOS/SFContext.mm
  test/Graphics/RenderTexture.test.cpp
  test/Window/ContextSettings.test.cpp
  test/Window/Window.test.cpp
Labels: feature, m:sfml-window, m:sfml-graphics

#3215 Fix more outdated references to Mac OS X
  include/SFML/Graphics/RenderWindow.hpp
  include/SFML/Window/ContextSettings.hpp
  src/SFML/Window/macOS/SFContext.mm
  tools/xcode/templates/SFML/SFML App.xctemplate/main.cpp
Labels: bug, p:macos, m:doc

#3217 Update v2.6.2 changelog
  changelog.md
Labels: feature, m:doc

#3216 Link to migration guide from changelog
  changelog.md
  migration.md
Labels: feature, m:doc

#3218 Use `ON` and `OFF` for CMake booleans
  .github/workflows/ci.yml
  CMakeLists.txt
  cmake/CompilerWarnings.cmake
  cmake/Macros.cmake
  cmake/Mesa3D.cmake
  cmake/SFMLConfig.cmake.in
  cmake/SFMLConfigDependencies.cmake.in
  examples/android/app/build.gradle.kts
  examples/cocoa/CMakeLists.txt
  test/CMakeLists.txt
  test/install/CMakeLists.txt
  tools/xcode/templates/readme.txt
Labels: feature, m:config

#3221 Use gender-neutral language in comments
  examples/cocoa/CocoaAppDelegate.mm
  examples/voip/Client.cpp
  include/SFML/Network/SocketSelector.hpp
  src/SFML/Window/iOS/SFMain.mm
Labels: feature, m:doc

#3222 Clean up docs/CMakeLists.txt variable usage
  doc/CMakeLists.txt
  doc/doxyfile.in
Labels: feature, m:doc

#3223 Fix out of date documentation code
  include/SFML/Graphics/Transform.hpp
Labels: bug, m:doc

#3224 Use `sf::Vector3f` to simplify Vulkan example
  examples/vulkan/Vulkan.cpp
Labels: feature, m:example

#3225 Extend the migration guide regarding the sf::Text constructor change
  migration.md
Labels: feature, m:doc

#3230 Add the missing ChannelMap to the example code
  include/SFML/Audio/SoundStream.hpp
Labels: feature, m:sfml-audio, m:doc

#3229 Fix Windows ARM64 support with regards to Mesa 3D
  .github/workflows/ci.yml
  cmake/Config.cmake
  cmake/Mesa3D.cmake
Labels: bug, p:windows, m:config

#3233 Simplify and extend [E]GLCheck implementation
  src/SFML/Graphics/GLCheck.cpp
  src/SFML/Graphics/GLCheck.hpp
  src/SFML/Window/EGLCheck.cpp
  src/SFML/Window/EGLCheck.hpp
Labels: feature, m:sfml-window

#3231 Add window create functions without style specifier
  include/SFML/Window/Window.hpp
  include/SFML/Window/WindowBase.hpp
  src/SFML/Window/Window.cpp
  src/SFML/Window/WindowBase.cpp
  test/Window/Window.test.cpp
  test/Window/WindowBase.test.cpp
Labels: feature, m:sfml-window, m:sfml-graphics

#3234 Replace `swap` with move where appropriate
  src/SFML/Audio/SoundFileReaderFlac.cpp
  src/SFML/Graphics/Image.cpp
Labels: feature

#3232 Use lazy loading for keyboard m_keys on macos
  src/SFML/Window/macOS/HIDInputManager.hpp
  src/SFML/Window/macOS/HIDInputManager.mm
Labels: bug, m:sfml-window, p:macos

#3235 Use lazy loading for keyboard scancodes on macos (backport)
  changelog.md
  src/SFML/Window/OSX/HIDInputManager.hpp
  src/SFML/Window/OSX/HIDInputManager.mm
Labels: bug, m:sfml-window, p:macos

#3236 Simplify island example using vectors and extracting repetitive code
  examples/island/Island.cpp
Labels: feature, m:example

#3237 Fix Regex for SFML_USE_STATIC_STD_LIBS
  CMakeLists.txt
Labels: bug, p:windows, m:config

#3240 Avoid unnecessary assignment in `Text::findCharacterPos`
  src/SFML/Graphics/Text.cpp
Labels: feature, m:sfml-graphics

#3242 Fix clang-tidy-19 errors
  .clang-tidy
  examples/ftp/Ftp.cpp
  examples/island/Island.cpp
  examples/opengl/OpenGL.cpp
  examples/sockets/Sockets.cpp
  examples/sockets/TCP.cpp
  examples/sockets/TCP.hpp
  examples/sockets/UDP.cpp
  examples/sockets/UDP.hpp
  examples/sound/Sound.cpp
  examples/tennis/Tennis.cpp
  examples/voip/Client.cpp
  examples/voip/Client.hpp
  examples/voip/Server.cpp
  examples/voip/Server.hpp
  examples/voip/VoIP.cpp
  src/SFML/Graphics/GLExtensions.cpp
  src/SFML/Network/SocketSelector.cpp
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/macOS/SFKeyboardModifiersHelper.mm
  src/SFML/Window/macOS/WindowImplCocoa.mm
  test/TestUtilities/GraphicsUtil.hpp
  test/TestUtilities/WindowUtil.cpp
  test/TestUtilities/WindowUtil.hpp
Labels: bug

#3239 change glCheck macro to be usable as an expression
  src/SFML/Graphics/GLCheck.hpp
  src/SFML/Graphics/RenderTextureImplFBO.cpp
  src/SFML/Graphics/Shader.cpp
  src/SFML/Graphics/Texture.cpp
  src/SFML/Graphics/VertexBuffer.cpp
  src/SFML/Window/EGLCheck.cpp
  src/SFML/Window/EGLCheck.hpp
Labels: feature

#3245 Android `InputImpl.hpp` now has Android implementation
  src/SFML/Window/Android/InputImpl.hpp
Labels: bug, m:doc

#3244 Prevent reading from an uninitialized character buffer
  src/SFML/Graphics/Shader.cpp
Labels: bug, m:sfml-graphics

#3243 Actually let's not
  examples/X11/X11.cpp
  examples/win32/Win32.cpp
  src/SFML/Graphics/GLCheck.hpp
  src/SFML/Window/DRM/DRMContext.cpp
  src/SFML/Window/EGLCheck.hpp
  src/SFML/Window/Win32/WglContext.cpp
Labels: feature, m:doc

#3248 Fix `island` example freeze when submitting work too quickly
  examples/island/Island.cpp
Labels: bug, m:example

#3246 DRY shader creation via helper lambda
  src/SFML/Graphics/Shader.cpp
Labels: feature, m:sfml-graphics

#3247 Drain errors in [E]GLCheck via loop
  src/SFML/Graphics/GLCheck.hpp
  src/SFML/Window/EGLCheck.hpp
Labels: feature, m:sfml-graphics

#3249 Prefer try_emplace over emplace for maps
  examples/joystick/Joystick.cpp
  src/SFML/Graphics/Font.cpp
  src/SFML/Graphics/RenderTextureImplFBO.cpp
  src/SFML/Graphics/Shader.cpp
  src/SFML/Window/Unix/KeyboardImpl.cpp
Labels: feature, m:sfml-window, m:sfml-graphics, m:example

#3251 Remove unnecessary ternaries
  src/SFML/Window/DRM/DRMContext.cpp
  src/SFML/Window/EglContext.cpp
  src/SFML/Window/Unix/CursorImpl.cpp
  src/SFML/Window/Unix/GlxContext.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Win32/WglContext.cpp
  src/SFML/Window/macOS/SFContext.mm
Labels: feature

#3252 delegate to operator equals in operator not equals
  include/SFML/System/Vector2.inl
  include/SFML/System/Vector3.inl
Labels: feature, m:sfml-system
