Repository SFML/SFML, pull requests merged in 2024-12, with the labels that each got.

#3336 Add comment regarding input monitoring access on macOS
  include/SFML/Window/Keyboard.hpp
Labels: feature, m:sfml-window, p:macos, m:doc

#3337 Ensure a C compiler is found during configuration
  .github/workflows/ci.yml
  CMakeLists.txt
Labels: bug, m:config

#3333 Fixes for the Xorg dummy driver
  src/SFML/Window/Unix/Display.cpp
Labels: bug, m:sfml-window, p:linux

#3338 Remove additional, obsolete extlibs
  cmake/Config.cmake
  extlibs/libs-mingw-ucrt/x64/libFLAC.a
  extlibs/libs-mingw-ucrt/x64/libfreetype.a
  extlibs/libs-mingw-ucrt/x86/libFLAC.a
  extlibs/libs-mingw-ucrt/x86/libfreetype.a
  extlibs/libs-msvc-universal/ARM64/flac.lib
  extlibs/libs-msvc-universal/ARM64/freetype.lib
  extlibs/libs-msvc-universal/ARM64/ogg.lib
  extlibs/libs-msvc-universal/ARM64/vorbis.lib
  extlibs/libs-msvc-universal/ARM64/vorbisenc.lib
  extlibs/libs-msvc-universal/ARM64/vorbisfile.lib
Labels: feature, m:config

#3340 Fix Ogg ov_read call on big-endian systems
  changelog.md
  src/SFML/Audio/CMakeLists.txt
  src/SFML/Audio/SoundFileReaderOgg.cpp
Labels: bug, m:sfml-audio

#3339 Store IpAddress::m_address in host byte order
  changelog.md
  src/SFML/Network/IpAddress.cpp
  test/Network/IpAddress.test.cpp
Labels: bug, m:sfml-network

#3342 Use new HTML Help flag for the install target
  doc/CMakeLists.txt
Labels: bug, m:config

#3331 Add Desktop mode to valid MacOS Fullscreen modes
  src/SFML/Window/OSX/VideoModeImpl.cpp
Labels: bug, m:sfml-window, p:macos

#3346 Fix naming of PDB files for sfml-main
  cmake/Macros.cmake
Labels: bug, m:config

#3348 Ensure current desktop mode is also a fullscreen mode
  changelog.md
  src/SFML/Window/macOS/VideoModeImpl.cpp
Labels: bug, m:sfml-window, p:macos

#3344 Update macOS GitHub Actions images
  .github/workflows/ci.yml
Labels: feature, m:config

#3343 Use new HTML Help flag for the install target
  doc/CMakeLists.txt
Labels: bug, m:config

#3347 Patch out include & pkgconfig files for external libraries
  src/SFML/Audio/CMakeLists.txt
  src/SFML/Graphics/CMakeLists.txt
  tools/flac/PatchFLAC.cmake
  tools/freetype/PatchFreetype.cmake
  tools/ogg/PatchOgg.cmake
  tools/vorbis/PatchVorbis.cmake
Labels: feature, m:config

#3349 Add migration guide note regarding channel maps
  migration.md
Labels: feature, m:doc

#3350 Add additional documentation regarding channel maps
  include/SFML/Audio/SoundBuffer.hpp
Labels: feature, m:sfml-audio, m:doc

#2917 Fix pkgconfig files install path
  CMakeLists.txt
Labels: bug, p:linux, m:config

#3352 Mark code as official release
  CMakeLists.txt
  changelog.md
  include/SFML/Config.hpp
Labels: feature, m:config

#3355 Update SFML version to 3.1.0
  CMakeLists.txt
  include/SFML/Config.hpp
  test/install/CMakeLists.txt
Labels: feature, m:config

#3354 Update state of development
  readme.md
Labels: bug, m:doc

#3358 Make `glCheckError` use `std::string_view` instead for file path argument
  src/SFML/Graphics/GLCheck.cpp
  src/SFML/Graphics/GLCheck.hpp
  src/SFML/Window/EGLCheck.cpp
  src/SFML/Window/EGLCheck.hpp
Labels: bug, m:sfml-window

#3359 Make `glCheckError` take a `std::string_view` rather than constructing a `std::filesystem::path` on error checks
  src/SFML/Graphics/GLCheck.cpp
  src/SFML/Graphics/GLCheck.hpp
  src/SFML/Window/EGLCheck.cpp
  src/SFML/Window/EGLCheck.hpp
Labels: bug, m:sfml-window

#3362 Hide `<filesystem>` dependency in [E]GLCheck `.cpp`
  src/SFML/Graphics/GLCheck.cpp
  src/SFML/Graphics/GLCheck.hpp
  src/SFML/Window/EGLCheck.cpp
  src/SFML/Window/EGLCheck.hpp
Labels: feature, m:sfml-graphics

#3363 Reduce pointer usage
  examples/android/app/src/main/jni/main.cpp
  src/SFML/Main/MainAndroid.cpp
Labels: p:android

#3367 Add non-const overload of `sf::Event::getIf`
  include/SFML/Window/Event.hpp
  include/SFML/Window/Event.inl
  test/Window/Event.test.cpp
Labels: feature, m:sfml-window
