Repository SFML/SFML, pull requests merged in 2024-01, with the labels that each got.

#2860 Deduplicate `Window{Base}::create` implementations
  include/SFML/Window/WindowBase.hpp
  src/SFML/Window/Window.cpp
  src/SFML/Window/WindowBase.cpp
Labels: bug, m:sfml-window

#2874 Remove unnecessary default destructor
  include/SFML/Graphics/RenderWindow.hpp
  src/SFML/Graphics/RenderWindow.cpp
  test/Graphics/RenderWindow.test.cpp
Labels: bug, m:sfml-window

#2873 Fixed F13-F24 and consumer key names not being returned on Windows.
  src/SFML/Window/Win32/InputImpl.cpp
Labels: bug, m:sfml-window, p:windows

#2875 Remove unnecessary private operators
  include/SFML/Network/Packet.hpp
Labels: bug, m:sfml-network

#2879 Update location of sdkmanager in Android CI jobs
  .github/workflows/ci.yml
Labels: bug, p:android, m:config

#2877 Remove unnecessary `return` statements
  src/SFML/Window/Clipboard.cpp
  src/SFML/Window/Joystick.cpp
  src/SFML/Window/Sensor.cpp
  src/SFML/Window/macOS/SFViewController.mm
  src/SFML/Window/macOS/SFWindowController.mm
Labels: bug

#2882 Fix typo in `sf::Vector3<T>` type trait tests
  test/System/Vector3.test.cpp
Labels: bug, m:sfml-system, m:unittest

#2881 Enable clang-tidy Objective-C checks
  .clang-tidy
Labels: p:macos, m:config

#2880 Add missing `std::` namespace
  src/SFML/System/Err.cpp
Labels: bug, m:sfml-system

#2865 Fix file extension typo in .gitattributes
  .gitattributes
Labels: bug, m:config

#2818 Add `sf::State` for specifying fullscreen or floating windows
  examples/opengl/OpenGL.cpp
  examples/window/Window.cpp
  include/SFML/Graphics/RenderWindow.hpp
  include/SFML/Window.hpp
  include/SFML/Window/Window.hpp
  include/SFML/Window/WindowBase.hpp
  include/SFML/Window/WindowEnums.hpp
  src/SFML/Graphics/RenderWindow.cpp
  src/SFML/Window/Android/WindowImplAndroid.cpp
  src/SFML/Window/Android/WindowImplAndroid.hpp
  src/SFML/Window/CMakeLists.txt
  src/SFML/Window/DRM/CursorImpl.hpp
  src/SFML/Window/DRM/WindowImplDRM.cpp
  src/SFML/Window/DRM/WindowImplDRM.hpp
  src/SFML/Window/EglContext.hpp
  src/SFML/Window/Unix/ClipboardImpl.hpp
  src/SFML/Window/Unix/CursorImpl.hpp
  src/SFML/Window/Unix/Display.hpp
  src/SFML/Window/Unix/GlxContext.hpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Unix/WindowImplX11.hpp
  src/SFML/Window/Win32/WindowImplWin32.cpp
  src/SFML/Window/Win32/WindowImplWin32.hpp
  src/SFML/Window/Window.cpp
  src/SFML/Window/WindowBase.cpp
  src/SFML/Window/WindowImpl.cpp
  src/SFML/Window/WindowImpl.hpp
  src/SFML/Window/iOS/WindowImplUIKit.hpp
  src/SFML/Window/iOS/WindowImplUIKit.mm
  src/SFML/Window/macOS/SFWindowController.h
  src/SFML/Window/macOS/SFWindowController.mm
  src/SFML/Window/macOS/WindowImplCocoa.hpp
  src/SFML/Window/macOS/WindowImplCocoa.mm
  test/Graphics/RenderWindow.test.cpp
  test/Window/Window.test.cpp
  test/Window/WindowBase.test.cpp
Labels: feature, m:sfml-window

#2884 Refactor ternary into early-returning conditionals
  examples/island/Island.cpp
Labels: feature, m:example

#2883 Clarify instructions for how to use `SFML_ROOT`
  cmake/SFMLConfig.cmake.in
Labels: bug, m:config

#2887 Update location of sdkmanager in Android CI jobs in 2.6.x
  .github/workflows/ci.yml
Labels: bug, p:android, m:config

#2888 CMake 3.28 no longer supports exec_program
  cmake/Config.cmake
  cmake/toolchains/iOS.toolchain.cmake
Labels: bug, p:ios, m:config

#2870 Modernize management of X11 resources
  src/SFML/Window/Unix/ClipboardImpl.cpp
  src/SFML/Window/Unix/ClipboardImpl.hpp
  src/SFML/Window/Unix/CursorImpl.cpp
  src/SFML/Window/Unix/CursorImpl.hpp
  src/SFML/Window/Unix/Display.cpp
  src/SFML/Window/Unix/Display.hpp
  src/SFML/Window/Unix/GlxContext.cpp
  src/SFML/Window/Unix/GlxContext.hpp
  src/SFML/Window/Unix/InputImpl.cpp
  src/SFML/Window/Unix/KeyboardImpl.cpp
  src/SFML/Window/Unix/VideoModeImpl.cpp
  src/SFML/Window/Unix/VulkanImplX11.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/Unix/WindowImplX11.hpp
Labels: feature, m:sfml-window, p:linux

#2889 Use `struct` for data type with exclusively public contents
  include/SFML/Graphics/Drawable.hpp
  include/SFML/Graphics/RenderStates.hpp
Labels: feature, m:sfml-graphics

#1807 Add texture coordinate type to RenderStates
  include/SFML/Graphics/CoordinateType.hpp
  include/SFML/Graphics/RenderStates.hpp
  include/SFML/Graphics/RenderTarget.hpp
  include/SFML/Graphics/Texture.hpp
  src/SFML/Graphics/CMakeLists.txt
  src/SFML/Graphics/RenderStates.cpp
  src/SFML/Graphics/RenderTarget.cpp
  src/SFML/Graphics/Shape.cpp
  src/SFML/Graphics/Sprite.cpp
  src/SFML/Graphics/Text.cpp
  src/SFML/Graphics/Texture.cpp
  test/CMakeLists.txt
  test/Graphics/CoordinateType.test.cpp
  test/Graphics/RenderStates.test.cpp
Labels: feature, m:sfml-graphics

#2885 Define character traits for `std::uint8_t`
  include/SFML/System/String.hpp
  src/SFML/System/String.cpp
  src/SFML/Window/Unix/ClipboardImpl.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/iOS/ClipboardImpl.mm
  src/SFML/Window/macOS/ClipboardImpl.mm
  test/System/String.test.cpp
Labels: bug, m:sfml-system
