Repository SFML/SFML, pull requests merged in 2025-06, with the labels that each got.

#3522 Fixed audio engine attempting to read data from previously destroyed objects
  src/SFML/Audio/AudioDevice.cpp
  src/SFML/Audio/AudioDevice.hpp
  src/SFML/Audio/Sound.cpp
  src/SFML/Audio/SoundStream.cpp
Labels: bug, m:sfml-audio

#3518 Deprecate `sf::Font::getKerning` overload which uses `std::uint32_t` to represent Unicode codepoints
  include/SFML/Graphics/Font.hpp
  src/SFML/Graphics/Font.cpp
  src/SFML/Graphics/Text.cpp
  test/Graphics/Font.test.cpp
Labels: bug, m:sfml-graphics

#2517 Support for `std::string_view` in `sf::String`
  include/SFML/System/String.hpp
  src/SFML/System/String.cpp
  test/System/String.test.cpp
Labels: feature, m:sfml-system

#3529 Add Vector3u type alias for consistency.
  include/SFML/System/Vector3.hpp
Labels: feature, m:sfml-system
