Repository SFML/SFML, pull requests merged in 2025-02, with the labels that each got.

#3413 Test `sf::FileInputStream::open` with non-ASCII filepaths
  test/System/FileInputStream.test.cpp
  test/System/test-ń.txt
  test/System/test-🐌.txt
  test/System/test.txt
  test/System/test2.txt
Labels: feature, m:sfml-system

#3415 Test opening sound files with non-ASCII filenames
  test/Audio/InputSoundFile.test.cpp
  test/Audio/ding-ń.flac
  test/Audio/ding-ń.mp3
  test/Audio/ding-🐌.flac
  test/Audio/ding-🐌.mp3
  test/Audio/doodle_pop-ń.ogg
  test/Audio/doodle_pop-🐌.ogg
  test/Audio/killdeer-ń.wav
  test/Audio/killdeer-🐌.wav
Labels: m:unittest

#3419 Add tests for `sf::OutputSoundFile`
  test/Audio/OutputSoundFile.test.cpp
Labels: feature, m:sfml-audio, m:unittest

#3420 Use Catch2 generators to simplify tests
  test/Audio/InputSoundFile.test.cpp
  test/Audio/Music.test.cpp
  test/Audio/SoundBuffer.test.cpp
  test/System/FileInputStream.test.cpp
Labels: feature, m:unittest

#3426 Remove FLAC microbench target from project
  tools/flac/PatchFLAC.cmake
Labels: bug, m:sfml-audio, m:config

#3428 Fix comments and address ordering in IpAddress::getLocalAddress
  src/SFML/Network/IpAddress.cpp
Labels: m:sfml-network

#3427 Fix iOS debug build and update xcode
  .github/workflows/ci.yml
  CMakeLists.txt
Labels: bug, p:ios, m:config

#3432 Set required properties for ios test apps
  cmake/Macros.cmake
Labels: bug, p:ios, m:config

#3434 Add catch2 argument to break into debugger when tests fail
  cmake/Macros.cmake
Labels: feature, m:unittest

#3437 Fix using Emoji in Windows window titles
  src/SFML/Window/Win32/WindowImplWin32.cpp
Labels: bug, m:sfml-window, p:windows

#3435 Fix using Emoji with `sf::Clipboard`
  src/SFML/Window/Win32/ClipboardImpl.cpp
  test/Window/Clipboard.test.cpp
Labels: bug, m:sfml-window, p:windows

#3438 Add test for empty window title
  test/Window/WindowBase.test.cpp
Labels: feature, m:sfml-window, m:unittest

#3440 Remove explicit `sf::` prefix on `Exception`
  src/SFML/Audio/InputSoundFile.cpp
  src/SFML/Audio/Music.cpp
  src/SFML/Audio/OutputSoundFile.cpp
  src/SFML/Audio/SoundBuffer.cpp
  src/SFML/Graphics/Image.cpp
  src/SFML/Graphics/RenderTexture.cpp
  src/SFML/Graphics/Shader.cpp
  src/SFML/Graphics/Texture.cpp
  src/SFML/System/FileInputStream.cpp
  src/SFML/Window/Cursor.cpp
Labels: bug

#3370 Add tests for `sf::Mouse`
  test/CMakeLists.txt
  test/Window/Mouse.test.cpp
Labels: feature, m:sfml-window, m:unittest

#3442 Remove unnecessary `sf::` namespace
  src/SFML/Window/EglContext.cpp
  src/SFML/Window/Unix/JoystickImpl.cpp
  src/SFML/Window/Unix/WindowImplX11.cpp
  src/SFML/Window/macOS/JoystickImpl.cpp
  src/SFML/Window/macOS/VideoModeImpl.cpp
  src/SFML/Window/macOS/WindowImplCocoa.mm
Labels: bug

#3439 Add initial testcases for Win32 WindowHandle construction of WindowBase
  test/CMakeLists.txt
  test/Window/WindowBaseWin32.test.cpp
Labels: feature, m:sfml-window, p:windows, m:unittest

#3441 Fix unsigned overflow in sf::Packet size check
  src/SFML/Network/Packet.cpp
  test/Network/Packet.test.cpp
Labels: bug, m:sfml-network

#3443 Use digit separators for large constants or hexadecimal doublets
  examples/ftp/Ftp.cpp
  examples/shader/Shader.cpp
  examples/sockets/Sockets.cpp
  examples/sound/Sound.cpp
  examples/sound_capture/SoundCapture.cpp
  examples/voip/Client.cpp
  examples/voip/Server.cpp
  examples/voip/VoIP.cpp
  include/SFML/Graphics/Color.inl
  include/SFML/System/Time.hpp
  src/SFML/Audio/Music.cpp
  src/SFML/Audio/SoundFileWriterFlac.cpp
  src/SFML/Audio/SoundFileWriterWav.cpp
  src/SFML/Network/SocketSelector.cpp
  src/SFML/Network/TcpSocket.cpp
  src/SFML/System/Unix/SleepImpl.cpp
  src/SFML/Window/GlContext.cpp
  src/SFML/Window/Win32/CursorImpl.cpp
  test/Graphics/Color.test.cpp
  test/Graphics/ConvexShape.test.cpp
  test/Network/IpAddress.test.cpp
Labels: feature

#3444 Expand `sf::WindowHandle` tests
  test/CMakeLists.txt
  test/Window/WindowBaseWin32.test.cpp
  test/Window/WindowHandleWin32.test.cpp
Labels: feature, m:sfml-window, p:windows, m:unittest

#3450 Prevent recreation of UDev target
  cmake/Modules/FindUDev.cmake
Labels: bug, p:linux, m:config

#3452 Include SystemUtil.hpp in Event.test.cpp to fix printing sf::Vector2 in test-sfml-window
  test/Window/Event.test.cpp
Labels: bug, m:unittest

#3449 Fix FBO RenderTarget tracking
  src/SFML/Graphics/RenderTexture.cpp
Labels: bug, m:sfml-graphics
