Repository SFML/SFML, pull requests merged in 2025-05, with the labels that each got.

#3500 Add missing `<ostream>` include in `OutputSoundFile.cpp`
  src/SFML/Audio/OutputSoundFile.cpp
Labels: bug, m:sfml-audio

#3487 Move joystick example code around to support multiple controllers
  examples/joystick/Joystick.cpp
Labels: feature, m:example

#3498 Remove disabling of minifying in release
  examples/android/app/build.gradle.kts
Labels: bug, p:android, m:config

#2741 Bevel shape outline beyond threshold
  include/SFML/Graphics/Shape.hpp
  src/SFML/Graphics/Shape.cpp
  test/Graphics/Shape.test.cpp
Labels: bug, m:sfml-graphics

#3511 Set cmake_policy in SFMLConfig.cmake
  cmake/SFMLConfig.cmake.in
Labels: bug, m:config
