Repository SFML/SFML, pull requests merged in 2025-01, with the labels that each got.

#3371 Fix grammar in docs
  include/SFML/Graphics/Transformable.hpp
  include/SFML/Graphics/View.hpp
Labels: bug, m:sfml-graphics, m:doc

#3374 Remove unused prototype
  include/SFML/Window/GlResource.hpp
Labels: bug, m:sfml-window

#3373 Make pi/tau variables inline
  include/SFML/System/Angle.inl
Labels: bug

#3379 Make keyboard key/scancode count variables inline
  include/SFML/Window/Keyboard.hpp
Labels: bug, m:sfml-window

#3381 Use correct type for accessing array
  src/SFML/Window/FreeBSD/JoystickImpl.cpp
Labels: bug, m:sfml-window, p:linux

#3382 Use approximation when comparing floats in tests
  test/Graphics/Glsl.test.cpp
  test/System/Angle.test.cpp
  test/System/Time.test.cpp
Labels: bug, m:unittest

#3368 Suggest fix when incorrect library type is found by `find_package`
  cmake/SFMLConfig.cmake.in
Labels: feature, m:config

#3383 Add a C++ language version check
  include/SFML/Config.hpp
Labels: feature, m:config

#3387 Update Catch2 to v3.8.0
  test/CMakeLists.txt
Labels: feature, m:unittest

#3384 Fix conversion warning
  src/SFML/Window/NetBSD/JoystickImpl.cpp
Labels: bug, m:sfml-window

#3391 Use macOS 14 in more CI jobs
  .github/workflows/ci.yml
Labels: p:macos, m:config

#3394 Fix build errors when compiling in C++20 mode
  examples/keyboard/Keyboard.cpp
  test/System/String.test.cpp
Labels: bug, m:sfml-system, m:example

#3397 Use `std::queue` to model queues
  examples/island/Island.cpp
  src/SFML/Window/Unix/ClipboardImpl.cpp
  src/SFML/Window/Unix/ClipboardImpl.hpp
  src/SFML/Window/Unix/WindowImplX11.hpp
Labels: bug

#3396 Add non-`const` overload of `Event::visit`
  include/SFML/Window/Event.hpp
  include/SFML/Window/Event.inl
  include/SFML/Window/WindowBase.inl
  test/Window/Event.test.cpp
Labels: feature

#3375 Provide additional checks for arguments in `WindowBase::handleEvents`
  include/SFML/Window/Event.hpp
  include/SFML/Window/Event.inl
  include/SFML/Window/WindowBase.inl
Labels: feature, m:sfml-window

#3405 Silence C4275 warning for `sf::Exception`
  include/SFML/Config.hpp
Labels: bug, m:sfml-system, p:windows

#3407 Always print filepaths as UTF-8 to a char stream #3406
  src/SFML/System/Utils.cpp
Labels: bug, m:sfml-system

#3401 Reduce code duplication in `sf::Image`
  src/SFML/Graphics/Image.cpp
Labels: feature, m:sfml-graphics

#3409 Ensure `sf::Image` remains unchanged after an unsuccessful load
  src/SFML/Graphics/Image.cpp
  test/Graphics/Image.test.cpp
Labels: bug, m:sfml-graphics

#3410 Test loading shaders with non-ASCII filenames
  test/Graphics/Shader.test.cpp
  test/Graphics/shader-ń.vert
  test/Graphics/shader-🐌.vert
Labels: feature, m:sfml-graphics, m:unittest

#3414 Test for trivial move operations
  test/Audio/SoundFileFactory.test.cpp
  test/Graphics/BlendMode.test.cpp
  test/Graphics/Color.test.cpp
  test/Graphics/CoordinateType.test.cpp
  test/Graphics/Glsl.test.cpp
  test/Graphics/Glyph.test.cpp
  test/Graphics/Rect.test.cpp
  test/Graphics/RenderStates.test.cpp
  test/Graphics/StencilMode.test.cpp
  test/Graphics/Transform.test.cpp
  test/Graphics/Vertex.test.cpp
  test/Graphics/View.test.cpp
  test/Network/IpAddress.test.cpp
  test/System/Angle.test.cpp
  test/System/Clock.test.cpp
  test/System/String.test.cpp
  test/System/Time.test.cpp
  test/System/Vector2.test.cpp
  test/System/Vector3.test.cpp
  test/Window/ContextSettings.test.cpp
  test/Window/Event.test.cpp
  test/Window/VideoMode.test.cpp
Labels: feature, m:unittest

#3412 Fix typo
  migration.md
Labels: bug, m:doc
